<div id="all_products" class="float-none">
  <h1>All Families</h1>
  <%#= link_to 'Export Customers To CSV', '#', :class => 'btn', :onclick => "jQuery('.date_form').show();jQuery(this).hide();return false;" %><br />


  <%#*<div class="date_form" style="display:none;">%>

    <%# form_tag export_csv_dump_csv_path do |form| -%>
    <%#*<div class="start_date">%>
      <%#= label_tag :start_date %>
      <%#= text_field_tag :start_date, Date.today - 5.days -%>
    <%#*</div>%>
    <%#*<div class="end_date">%>
      <%#= label_tag :end_date %>
      <%#= text_field_tag :end_date, Date.today -%>
    <%#*</div>%>
      <%#*<div class="submit">%>
        <%#= submit_tag 'Export Users', :class => 'btn' %>
      <%#*</div>%>
    <%# end -%>

    <%#*<script type="text/javascript">%>
      <%#*$('#start_date').datepicker({ dateFormat: 'mm/dd/yy' });%>
      <%#*$('#end_date').datepicker({ dateFormat: 'mm/dd/yy' });%>
    <%#*</script>%>

  <%#*</div>%>

  <div class="pagination">
    <i><%= @families.count -%> Users</i> <%= will_paginate @families, :container => false, :previous_label => '', :next_label => '', :separator => " | " -%>
  </div>

  <table class="products">
    <thead>
      <tr>
        <th><%= sort_link 'FAMILY NAME', 'family.name'  -%></th>
        <th><%= sort_link 'CREATED DATE', 'users.created_at' -%></th>
      </tr>
    </thead>
    <tbody>
      <% @families.each do |family| %>
        <tr>
          <td><a href="<%= edit_admin_family_path(family) -%>"><%= family.name -%></a></td>          
          <td><%= family.created_at.to_date -%></td>
          <td>
              <div class="action">
                <span>Action</span>
                <div>
                  <ul>
                    <li>Action</li>
                    <li><%= link_to 'Edit', edit_admin_family_path(family) %></li>
                  </ul>
                </div>
              </div>
            </td>
        </tr>
      <% end %>


    </tbody>
  </table>

</div>



