      <% if behaviour.present? %>
        <div class="single-question-cover <%= 'completed' if completed %>"> </div>
        <%= hidden_field_tag "questions[]", behaviour.id  %>
        <div class="category-circle category-circle-<%= category %>"></div>

        <p><%=  current_child.replace_forms(behaviour.step3_question) %></p>
        <div class="seen-btn-wrapper">
          <%= link_to "I've seen this", update_seen_path(:behaviour => behaviour.id, :start_age => @q_age, :value => 1), :remote => true, :disable_with => 'Please wait...', :method => :post, :class => "btn q_#{behaviour.id}" %>
          <%= link_to "I haven't seen this yet", update_seen_path(:behaviour => behaviour.id, :start_age => @q_age, :value => 0), :remote => true, :disable_with => 'Please wait...', :method => :post, :class => "btn btn-grey q_#{behaviour.id}" %>
        </div>
        

        <script type="text/javascript">
          $(function() {
            $('.preloader').fadeOut().hide();
            $('.q_<%= behaviour.id %>').bind('ajax:success', function(xhr, data){
              var cat = "<%= category -%>";              
              var newQ = $(this).parents('.single-question').html(data);              
              $(newQ).effect('highlight', {color: '#fff'}, 1000);
              if ($(newQ).find('.single-question-cover.completed').length > 0) {
                $('.single-question-cover.shown').first().removeClass('shown');
                showFinish();
              }
            });
          });
        </script>

      <% else %>

        <p>No more questions found for <%= category_name(category) %> category.</p>
        <script type="text/javascript">
          $(function() {
            $('.preloader').fadeOut().hide();
          });
        </script>

      <% end %>

        

