<div class="container">
  <div id="left" class="left_question">
    <div id="title">Children Questionaire</div>
  </div>

  <div id="questionaire" class="user-form">
    <h2>Questions for <%= @child.first_name %></h2>
    
    <% if @all_images %>
      <div id="slider_wrapper">
        <span id="child_images_slider">
            <% @all_images.each do |m| %>
              <%= image_tag m.image.url(:large) %>
            <% end %>

        </span>
      </div>
    <% end %>

    
    <%= form_tag @form_link, :class => "questions_form" do %>
      <%= hidden_field_tag "child", @child.id %>
      <%= hidden_field_tag "is_initial", @is_initial %>
      <% @categories_with_questions.each do |cat|  %>
        <div class="single_question_category">
          <div class="question_category_title"><%= cat[:category] %></div>

          <% questions_by_age = cat[:questions].group_by{|qu| qu.age} %>
          <% questions_age = questions_by_age.collect{|ky, vl| ky}.first %>
         

          <% questions_by_age.sort_by{|key,val| key}.each do |k,v|  %>
            <div class="age">
              
              <% v.each do |q| %>
                <%#= @answerss.inspect %>
                <%#= @answers.inspect %>
                <div class="single_question <%=  'questions_error' if @answers && @answers[q.id.to_s].blank? %>">
                  <%= hidden_field_tag "question_ids[]", q.id %>
                  <span class="question_text">[<%= q.age %>] <%= @child.replace_question_forms(q.text) %></span>
                  
                  <div class="question_answers">
                    <% Question.answers_in_order.each do |key, value| %>                    
                      <label class="question_radio_label"><%= radio_button_tag 'question_answers[' + q.id.to_s + ']', key,  @answers ? @answers[q.id.to_s] == key : false , :class => "answer_radio"  %> <%= value[:val] %></label>
                    <% end %>
                  </div>

                </div>
              <% end %>


            </div>
          <% end %>


        </div>
      <% end %>
      
      <div class="submit">
        <%= submit_tag (@next_child != nil ? "Submit & go next" : "Submit answers")  %>
      </div>
    <% end %>

  </div>
  <div class="clear"></div>
</div>

<script type="text/javascript">
  var level = "<%=  @level %>";
  var m_old = <%= @child.months_old %>;
  $(function() {    
    $('#child_images_slider img').css({opacity: 0});          // IE Fix
    $('#child_images_slider img').first().css({opacity: 1});  // IE Fix    
    scroll_images();    
    
    <%#*if('advanced' == level) {%>
      <%#*$('.single_question_category').each(function() {%>
        <%#*$(this).find('.age').first().addClass('hidden');%>
        <%#*$(this).find('.age').last().addClass('hidden');%>
        <%#*$(this).find('.age').last().prev().addClass('hidden');%>
        <%#*if(m_old == 0) { $(this).find('.age').first().removeClass('hidden'); }%>
      <%#*});%>
    <%#*} else if(level == "") {%>
      <%#*$('.single_question_category').each(function() {%>
        <%#*$(this).find('.age').last().addClass('hidden');%>
        <%#*$(this).find('.age').last().prev().addClass('hidden');%>
      <%#*});%>
    <%#*}%>
    
    <%#*$('.age').each(function() {%>
      <%#*if( beyond_always_selected_for_age($(this)) ) {%>
        <%#*if($(this).next('.age').length > 0) {%>
            <%#*$(this).next('.age').show().removeClass('hidden');%>
        <%#*}%>
      <%#*}%>
   <%#*});%>
  
    <%#*$('.answer_radio').change(function() {%>
      <%#*if( show_above( $(this).parents('.age'))  ) {%>
        <%#*if($(this).parents('.age').next('.age').length > 0) {%>
            <%#*$(this).parents('.age').next('.age').slideDown().removeClass('hidden');%>
        <%#*}%>
      <%#*}%>
      <%#*if(show_below($(this).parents('.single_question_category'))) {%>
        <%#*$(this).parents('.single_question_category').find('.age:visible').first().prev().slideDown();%>
      <%#*}%>
    <%#*});%>

    <%#*$('.questions_form').submit(function() {%>
      <%#*$(this).find('.age:hidden').remove();%>
    <%#*});%>
  }); 

  <%#*function beyond_always_selected_for_age(age) {%>
    <%#*var is_beyond = false;%>
    <%#*var questions = $(age).find('.single_question');%>
    <%#*if ($(age).find('.answer_radio[value="always_or_beyond"]:checked').length == questions.length){%>
        <%#*is_beyond = true;%>
    <%#*}%>
    <%#*return is_beyond;%>
  <%#*}%>

  <%#*function show_below(ages_parent) {%>
    <%#*var result = false;%>
    <%#*if(calculate_age_score($(ages_parent).find('.age:visible').first()) == 0) {%>
      <%#*result = true;%>
    <%#*}%>
    <%#*return result;%>
  <%#*}%>

  <%#*function show_above(age) {%>
   <%#*var result = false;%>
   <%#*if('always' == level) {%>
      <%#*if(calculate_age_score($(age)) >= 1.0) {%>
        <%#*result = true;%>
      <%#*}%>
   <%#*} else {%>
      <%#*result = beyond_always_selected_for_age(age);%>
   <%#*}%>
   <%#*return result;%>
  <%#*}%>

  <%#*function calculate_age_score(age) {%>
    <%#*if($(age).find('.answer_radio:checked').length == $(age).find('.single_question').length) {%>
      <%#*var value = 0.0;%>
      <%#*var count = 0.0;%>
      <%#*$(age).find('.answer_radio:checked').each(function() {%>
        <%#*count += 1.0;%>
        <%#*var tmp_val =  $(this).val();%>
        <%#*if(tmp_val == "emerging") { value += 1.0; }%>
        <%#*if(tmp_val == "Frequent") { value += 2.0; }%>
        <%#*if(tmp_val == "always_or_beyond") { value += 3.0; }%>
      <%#*});%>
      <%#*return value/count;%>
    <%#*}else {%>
      <%#*return -1.0;%>
    <%#*}%>
  <%#*}%>

  function scroll_images(vis) {
    setTimeout(function() {      
      var next = $(vis).next();
      if(next.length == 0) {
          next = $('#child_images_slider img').first();
        }
      $(vis).animate({opacity: 0}, 1000);
      $(next).animate({opacity: 1}, 1000);
     
      scroll_images(next);
    }, 2500);
    
    
  }
</script>