<% content_for :middle_bar do %>

  <div class="left-column"></div>
  <div class="right-column">
    <div class="step-arrow active" id="watching-baby"><span>Describe Your Baby</span></div>
    <div class="step-arrow active done" id="add-baby"><span>Add/Join a BabyFolio</span></div>
    <div class="step-arrow active done" id="create-acc"><span>Create Account</span></div>
  </div>
  <div class="clear"></div>

<% end %>

  <div id="registration-third">
<div class="left-column">

    <div id="left-column-tooltip">
      <p><%= @page.cf("left_sidebar_text") -%></p>
      <div class="clear"></div>
    </div>
</div>

<div class="right-column">
  <div id="instruction-column">
      <div id="tip-number1"></div>
      <p><%= @page.cf("point_1") -%></p>
      <div id="tip-number2"></div>
      <p><%= @page.cf("point_2") -%></p>      
  </div>
  <div id="questionnaire-column">
    <%= render :partial => 'questions_listing', :locals => {:behaviours => @behaviours, :categories_answered => Array.new} %>
  </div>
  <div class="clear"></div>

  <div id="questionniare-completed-popup" class="hidden">    
    <p>Thanks for filling out our questions about <span class="bold"><%= current_child.first_name %></span>.  Would you like to add another baby to your account now or continue?</p>
    <%= link_to "Add Another Baby", initial_questionnaire_completed_path(:add_child => true), :class => "btn add-baby-btn" %>
    <div class="clear"></div>
    <%= link_to "Continue", initial_questionnaire_completed_path, :class => "btn continue-btn" %>
  </div>

</div>

</div>

<script type="text/javascript">
  $(function() {
    $('.not-seen-form').live('ajax:success', function(xhr, data){
        if(!(data.indexOf('window.location') > -1)) {
          $('.not-seen-form').parents('#all-initial-questions').replaceWith(data);
        }
    }).live('ajax:before', function(){
        $('.preloader').fadeIn();
    });
  });
</script>
