  <% relations.each_with_index do |r,idx| %>
    <div class="single-relation">
      <%#= image_tag (r.child.media.blank? ? "/images/img_upload_child_med.png" : r.child.media.image.url(:profile_medium)) %>
      <div>
        <p>          
          <span class="bold"><%= r.child.family.name %>'s family</span>
          (as <%= r.member_type.downcase %> <%= r.user.get_user_name %>)
        </p>

        <%= link_to "Decline", confirmation_update_relation_path(:token => r.token), :remote => true, :method => :post, :class => 'btn decline-btn relation-btn' %>
        <%= link_to "Accept", confirmation_update_relation_path(:token => r.token, :accept => 1), :remote => true, :method => :post, :class => 'btn relation-btn' %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>

  <script type="text/javascript">
    $(function() {
      $('.relation-btn').bind('ajax:before', function() {
        $(this).parents('.single-relation').fadeOut(function() { 
            $(this).remove();
            if($('.single-relation').length == 0 && $('#settings-wrapper').length < 1) { window.location = "<%=  show_timeline_url %>"; }
            else if($('.single-relation').length == 0 && $('#settings-wrapper').length == 1) { window.location = "<%=  settings_tab_url(:tab => 'family-friends-information') %>"; }
         });
      });

    });

  </script>    






