<h1>Welcome</h1>

<% unless @relation.accepted %>
  <h2>Please fill up below form in order to confirm your account.</h2>
  <%= render "shared/error_messages", :target => @relation %>
  <%= form_for @relation, :url => confirmation_update_user_path, :method => :put do |f| %>
    <%= f.hidden_field :token %>
    <% if f.object.member_type != Relation::MEMBER_TYPE[:PARENT]  %>
      <%= f.label :member_type %><br />
      <%= f.collection_select(:member_type , Relation::MEMBER_TYPE.select { |key, val| key != :PARENT }, :first, :last) %>
    <% else %>
      <%= f.hidden_field :member_type %><br />
    <% end %>
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %><br />
    <%= f.fields_for :user do |usr| %>
      <%= usr.hidden_field :email %>
      <%= usr.label :first_name %><br />
      <%= usr.text_field :first_name, :value => @relation.user.email.split('@').first %><br />
      <%= usr.label :last_name %><br />
      <%= usr.text_field :last_name %><br />
      <%= usr.label :password %><br />
      <%= usr.password_field :password %><br />
      <br />
      <%= usr.label :password_confirmation %><br />
      <%= usr.password_field :password_confirmation %><br />
      <br />
    <% end %>
    <%= f.submit "Submit" %>
  <% end %>
<%  else %>
  <h2>You have already accepted invitation.</h2>
<% end %>



