<div id="accept-relations-wrapper">

  <% if @relations.empty? %>

        <p>There aren't any relations to approve.</p>
        <div class="relation-processing-done">
          <%= link_to "Continue", child_profile_children_path %>
        </div>

  <% else %>
    
        <p>You've been invited to join following BabyFolios:</p>
        <% @relations.each_with_index do |r,idx| %>
          <div class="single-relation">
            <%= r.child.first_name if r.child.first_name %><br />
            <%= r.child.last_name if r.child.last_name %><br />
            <%= r.member_type %><br />
            <%= image_tag r.child.media.image.url(:medium) unless r.child.media.blank? %>
            <div>
              <%= link_to "Accept", confirmation_update_relation_path(:token => r.token, :accept => 1), :remote => true, :method => :post, :class => 'relation-accept-btn' %>
              <%= link_to "Decline", confirmation_update_relation_path(:token => r.token), :remote => true, :method => :post, :class => 'relation-decline-btn' %>
            </div>
          </div>
        <% end %>

        <div class="hidden relation-processing-done">
          <%= link_to "Continue", child_profile_children_path %>
        </div>

        <script type="text/javascript">
          $(function() {
            $('.relation-accept-btn, .relation-decline-btn').bind('ajax:before', function() {
              $(this).parents('.single-relation').fadeOut(function() { $(this).remove(); } );
            });           

            <%#*$('.relation-accept-btn').bind('ajax:success', function() {%>
              <%#*$(this).parents('.single-relation').find('.relation-accept-btn, .relation-decline-btn').removeClass('active');%>
              <%#*$(this).removeClass('updating').addClass('active');%>
            <%#*});%>
            <%#*$('.relation-decline-btn').bind('ajax:success', function() {%>
              <%#*$(this).parents('.single-relation').find('.relation-accept-btn, .relation-decline-btn').removeClass('active');%>
              <%#*$(this).removeClass('updating').addClass('active');%>
            <%#*});%>
          });

        </script>


      
  <% end %>

</div>





