<% content_for :middle_bar do %>

  <div class="left-column"></div>
  <div class="right-column">   
    <div class="step-arrow" id="add-baby"><span>Add/Join a BabyFolio</span></div>
    <div class="step-arrow active" id="create-acc"><span>Create Account</span></div>
  </div>
  <div class="clear"></div>

<% end %>

<div id="new-user-accept"> 
 
  <div class="left-column">

    <div id="left-column-tooltip" class="<%= "annie-highlight" unless @user.errors.empty? %>">
      <img src="/images/annie.jpg" />
      <h4>Have a question?</h4>
      <p><a href="mailto:#">Send us an email</a> and Annie, our Community Manager, will be happy to help you!</p>
      <div class="clear"></div>
    </div>    
  </div>


  <div class="right-column">

    <% unless @relation.accepted == 1 %>
        <div class="user-form">
          <%= form_for @user, :url => confirmation_update_user_path, :method => :put do |f| %>
            <%= hidden_field_tag "token", @relation.token %>

            <div id="login_right">
              <%= render :partial => "/users/form", :object => f, :locals => { :user => @user } -%>
              <div class="clear"></div>
              <div class="submit">
                <%= f.submit "Continue", :class => "btn btn-big" %>
              </div>
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
    <%  else %>
        <h4>You have already accepted invitation.</h4>
        <%= link_to "Continue", child_profile_children_path, :class => "btn btn-big already-accepted-btn-big" %>
    <% end %>
 </div>

  

  


  <div class="clear"></div>  
</div>







