<div id="milestone_summary">
  <%= render 'header' %>

  <div class="single_lw_paragraph">
    <p class='title'>What to look for and what it means: </p>
    <div class="less_more_wrapper">
      <div class="less">
        <%= @child.replace_forms(smart_truncate(@milestone.observation_what_it_means, :words => 10)).html_safe -%>
        <a href="#" class="read_more">Read more</a>
      </div>
      <div class="more">
        <%=  display_ms_field @milestone.observation_desc, "Observation - description", { :hr => true } %>
        <%=  display_ms_field @milestone.observation_what_it_means, "Observation - what it means", { :hr => true } %>
        <%=  display_ms_field @milestone.other_occurances, "Other occurances" %>        
        <a href="#" class="read_less">Less</a>
      </div>
    </div>
  </div>

    <div class="single_lw_paragraph">
    <p class='title'>Why it's important: </p>
    <div class="less_more_wrapper">
      <div class="less">
        <%= @child.replace_forms(smart_truncate(@milestone.research_background, :words => 10)).html_safe -%>
        <a href="#" class="read_more">Read more</a>
      </div>
      <div class="more">
        <%=  display_ms_field @milestone.research_background, "Research background", { :hr => true } %>
        <%=  display_ms_field @milestone.research_references, "Research references" %>
        <a href="#" class="read_less">Less</a>
      </div>
    </div>
  </div>

  <div class="single_lw_paragraph">
    <p class='title'>How to nurture it: </p>
    <div class="less_more_wrapper">
      <div class="less">
        <%= @child.replace_forms(smart_truncate(@milestone.parent_as_partner, :words => 10)).html_safe -%>
        <a href="#" class="read_more">Read more</a>
      </div>
      <div class="more">
        <%= @child.replace_forms(@milestone.parent_as_partner).html_safe %>
        <a href="#" class="read_less">Less</a>
      </div>
    </div>
  </div>

  <% if @milestone.activity_1_title_text(@child) || @milestone.activity_2_title_text(@child) %>
    <div id="milestone_activities_wrapper">
      <p class='title'>Types of activities to play:</p>
      <ul>
        <% if @milestone.activity_1_title_text(@child) %>
        <li>
            <p class="title"><%= @milestone.activity_1_title_text(@child).html_safe %></p>
            <a href="#" class="activity_more_link">Read more</a>
            <div class="activity_details">
              <%= display_ms_field @milestone.activity_1_subtitle, "Subtitle", { :hr => true } %>
              <%= display_ms_field @milestone.activity_1_set_up, "Activity setup", { :hr => true } %>
              <%= display_ms_field @milestone.activity_1_response, "Activity response", { :hr => true } %>
              <%= display_ms_field @milestone.activity_1_modification, "Activity modification", { :hr => true } %>
              <%= display_ms_field @milestone.activity_1_later_developments, "Activity later developments", { :hr => true } %>
              <%= display_ms_field @milestone.activity_1_learning_benefits, "Activity learning benefits" %>                                      
              <a href="#" class="activity_less_link">Less</a>
            </div>            
        </li>
        <% end %>
        
        <% if @milestone.activity_2_title_text(@child) %>
          <li>
              <p class="title"><%= @milestone.activity_1_title_text(@child).html_safe %></p>
              <a href="#" class="activity_more_link">Read more</a>
              <div class="activity_details">
                <%= display_ms_field @milestone.activity_2_subtitle, "Subtitle", { :hr => true } %>
                <%= display_ms_field @milestone.activity_2_set_up, "Activity setup", { :hr => true } %>
                <%= display_ms_field @milestone.activity_2_response, "Activity response", { :hr => true } %>
                <%= display_ms_field @milestone.activity_2_modification, "Activity modification", { :hr => true } %>
                <%= display_ms_field @milestone.activity_2_later_developments, "Activity later developments", { :hr => true } %>
                <%= display_ms_field @milestone.activity_2_learning_benefits, "Activity learning benefits" %>
                <a href="#" class="activity_less_link">Less</a>
              </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  <br/>
  <p><%= link_to "Tell us more (what you have seen with #{@child.first_name})", child_milestone_new_moment_path(:child_id => @child.id, :milestone_id => Milestone.first.id) %></p>
  <p><a href="#">Ask the village (what they’ve seen about <%=@child.first_name %>)</a></p>


    <script type="text/javascript">

    $(function() {
      $('.read_more, .read_less').click(function() {
        $(this).parents('.less_more_wrapper').find('.less').toggle();
        $(this).parents('.less_more_wrapper').find('.more').toggle();
        return false;
      });

      $('.activity_more_link, .activity_less_link').click(function() {
        $(this).parents('li').first().find('.activity_details').toggle();
        $(this).parents('li').first().find('.activity_more_link').toggle();
        return false;
      });
    });

  </script>

</div>

