<%= stylesheet_link_tag "milestones" %>

<div id="milestone_summary">
<%= render 'header' %>

<%#*<p class='title'>What it means: </p>%>
<%#*<div class="less_more_wrapper">%>
<%#*<p class="less">%>
<%#= @child.replace_forms(smart_truncate(@milestone.observation_what_it_means, :words => 10)) -%>
<%#*<a href="#" class="read_more">Read more</a>%>
<%#*</p>%>
<%#*<p class="more">%>
<%#= @child.replace_forms(@milestone.observation_what_it_means) %>
<%#*<a href="#" class="read_less">Less</a>%>
<%#*</p>%>

<%#*</div>%>
  <p class='title'>How to nurture it: </p>
  <div class="less_more_wrapper">
    <p class="less">
      <%= @child.replace_forms(smart_truncate(@milestone.parent_as_partner, :words => 10)) -%>
      <a href="#" class="read_more">Read more</a>
    </p>
    <p class="more">
      <%= @child.replace_forms(@milestone.parent_as_partner) %>
      <a href="#" class="read_less">Less</a>
    </p>

  </div>

  <% if @milestone.activity_1_title.present? || @milestone.activity_2_title.present? %>
    <div id="milestone_activities_wrapper">
      <p class='title'>Types of activities to play:</p>
      <ul>
        <%= "<li>#{@child.replace_forms(@milestone.activity_1_title)}</li>".html_safe unless @milestone.activity_1_title.blank? %>
        <%= "<li>#{@child.replace_forms(@milestone.activity_2_title)}</li>".html_safe unless @milestone.activity_2_title.blank? %>
      </ul>
    </div>
  <% end %>
  
  <br/>
  <br/>
  <p><%= link_to "Tell us more (what you have seen with #{@child.first_name})", child_milestone_new_moment_path(:child_id => @child.id, :milestone_id => Milestone.first.id), :onclick => 'redirect_parent(this); return false;' %></p>
  <p><a href="#IT-WILL-BE-A-LINK">Ask the village (what they’ve seen about <%=@child.first_name %>)</a></p>

  <a href="<%= show_milestone_details_url(:mid => @milestone.mid, :child_id => @child.id) %>" target="_blank">Read even more about <%= @milestone.title %></a>
  
  <script type="text/javascript">
    function redirect_parent(object) {
    window.opener.location = $(object).attr('href');
    window.close();
    }

    $(function() {
      $('.read_more, .read_less').click(function() {
        $(this).parents('.less_more_wrapper').find('.less').slideToggle();
        $(this).parents('.less_more_wrapper').find('.more').slideToggle();
        return false;
      });
    });

  </script>
</div>

