<li class="single-activity <%= "selected" if a[:selected] %> <%= time %>">
    <div class="single-activity-left">
      
      <div class="category-corner <%= time %>">
        <img src="/images/icon_teal_<%= a[:category] %>.png" />
        <div><a href="#"><%= category_name(a[:category]) %></a></div>
        
          <div class="show-future">keep trying!</div>
          <div class="show-past">good work!</div>
      </div>
    </div>
    <div class="single-activity-right">
      <div class="single-activity-nav">
          <%= link_to adjacent_activity_children_path(:mid => a[:mid], :dir => "prev"), :remote => true, :class => 'previous-activity-link' do %>
            <img src="/images/teal_l_arrow.png"/>
          <% end  %>
          <a href="#" class="activity-title-link"><%= a[:title] %></a>
          <%= link_to adjacent_activity_children_path(:mid => a[:mid], :dir => "next"), :remote => true, :class => 'next-activity-link' do %>
            <img src="/images/teal_r_arrow.png"/>
          <% end %>          
      </div>
      <div class="activity-setup"><%= a[:setup] %></div>
      <div class="play-icons-corner">
        <a href="#"><img src="/images/reflect_icon_circle.png" /></a>
        <a href="#"><img src="/images/thumb_up.png" /></a>
        <a href="#"><img src="/images/thumb_down.png" /></a>
      </div>
    </div>
    <div class="clear"></div>


    <div class="play-popup">
      <div class="pointing-arrow"></div>
      <div class="popup-wrapper">            
            <h4><%= a[:title] %></h4>
            <div class="show-future">future activity</div>
            <div class="show-past">completed activity <span><%= current_child.first_name.capitalize %> already did this with you.</span></div>

            <% unless a[:response].blank? %>
                <p><%= a[:response] %></p>
            <% end %>

            <% unless a[:variations].blank? %>
                <h5>Variations</h5>
                <p><%= a[:variations] %></p>
            <% end %>

            <% unless a[:learning_benefits].blank? %>
                <h5>What Did We Just Do?</h5>
                <p><%= a[:learning_benefits] %></p>
            <% end %>

            <h5 class="play-final-header">This is good for <%= current_child.first_name.capitalize %> because he has: </h5>
            <ul class="play-popup-ms">
              <li><a href="<%= watch_children_path(:mid => a[:mid])  %>"><%= truncate(a[:ms_title], :length => 40) %></a></li>
            </ul>
      </div>
    </div>
    <div class="preloader-div"></div>
  </li>

  