<li class="single-activity <%= "selected" if a[:selected] %> <%= time %>">
    <div class="single-activity-left">
      
      <div class="category-corner <%= time %>">
        <img src="/images/icon_teal_<%= a[:category] %>.png" />
        <div><a href="#"><%= category_name(a[:category]) %></a></div>
        
          <div class="show-future">keep trying!</div>
          <div class="show-past">good work!</div>
      </div>
    </div>
    <div class="single-activity-right">
      <div class="single-activity-nav">
          <%= link_to "#", adjacent_activity_children_path(:aid => a[:aid], :dir => "prev"), :remote => true, :class => 'previous-activity-link' %>
          <a href="#" class="activity-title-link"><%= a[:title] %></a>
          <%= link_to "#", adjacent_activity_children_path(:aid => a[:aid], :dir => "next"), :remote => true, :class => 'next-activity-link' %>
      </div>
      <div class="activity-setup"><%= a[:desc_short] %></div>
      <div class="play-icons-corner">
        <% active_like = "active" if a[:likes] == true %>
        <% active_dislike = "active" if a[:likes] == false %>

        <%= link_to "Timeline", "#dialog-timeline-#{a[:aid]}", :class => "show-dialog timeline-btn" %>
        <%= link_to "Dislikes", "#dialog-dislikes-#{a[:aid]}", :class => "show-dialog dislikes-btn #{active_dislike}", :data_aid => "#{a[:aid]}", :onclick => "dislike(this); return false;" %>
        <%= link_to "Likes",  "#dialog-likes-#{a[:aid]}", :class => "show-dialog likes-btn #{active_like}",  :data_aid => "#{a[:aid]}", :onclick => "like(this); return false;" %>

        <div id="dialog-timeline-<%= a[:aid] %>" class="play-dialog">
            <%= render :partial => 'timeline_popup', :locals => { :type => "play", :did_what => a[:actioned], :category => a[:category], :aid => a[:aid], :bid => nil } %>
        </div>
        <div id="dialog-likes-<%= a[:aid] %>" class="play-dialog">
            <%= render :partial => 'timeline_popup', :locals => { :type => "likes", :did_what => a[:action], :category => a[:category], :aid => a[:aid], :bid => nil } %>
        </div>
        <div id="dialog-dislikes-<%= a[:aid] %>" class="play-dialog">
            <%= render :partial => 'timeline_popup', :locals => { :type => "dislikes", :did_what => a[:action], :category => a[:category], :aid => a[:aid], :bid => nil } %>
        </div>
      </div>

    </div>
    <div class="clear"></div>    
    <div class="play-popup <%= time %>">
      <div class="pointing-arrow"></div>
      <div class="popup-wrapper">            
            <h4><%= a[:title] %></h4>
            <div class="show-future">future activity</div>
            <div class="show-past">completed activity <span><%= current_child.first_name.capitalize %> already did this with you.</span></div>
            
            <p><%= a[:desc_long] %></p>
            
            <h5>Variations</h5>
	    <ul class="variations">
            <li><%= a[:variation1] %></li>
            <li><%= a[:variation2] %></li>
	    </ul>

            <h5>What Did We Just Do?</h5>
            <p><%= a[:learning_benefit] %></p>

            <h5 class="play-final-header">This Is Good For <%= current_child.first_name.capitalize %> Because <%= current_child.replace_forms("#He/She#") %>  Has: </h5>
            <ul class="play-popup-ms">
              <li><a class="btn" href="<%= watch_children_path(:bid => a[:bid])  %>"><%= truncate(a[:b_title]) %></a></li>
            </ul>
      </div>
    </div>
    <div class="preloader-div"></div>
  </li>

  <script type="text/javascript">
    $(function() {
      $('select').selectbox();
    });
  </script>
