    <% if answers %>
      <% answers.each_with_index do |(k,v), idx| %>
        <% f = true if type == "str" %>
        <% l = true if type == "weak" %>
        <% curr_width = @lengths[v.first.question.age] %>        

        <div class="single-reflected-item">
          <div class="cat-name"><%= category_name(k) %></div>

          <div class="reflect-icon reflect-icon-<%=  k %>"></div>
          <div class="reflect-bar-wrapper">
              <div class="reflect-bar" style="width: <%= curr_width %>px">
                  <div class="reflect-popup">
                    <div class="pointing-arrow"></div>
                    <div class="popup-wrapper">
                      <% m = v.first.question.milestone %>
                      <% if m %>
                          <% if f %>
                              <%= @str_text.gsub('<INTELLIGENCE>', category_name(k)).html_safe  %>
                          <% elsif l %>
                              <%= @weak_text.gsub('<INTELLIGENCE>', category_name(k)).html_safe  %>
                          <% else %>
                              <%= @avg_text.gsub('<INTELLIGENCE>', category_name(k)).html_safe  %>
                          <% end %>


                          <% unless m.activity_1_title.blank? %> 
                              <p><a href="<%= play_children_path(:mid => m.mid, :no => 1) %>" class="btn"><%= current_child.replace_forms(truncate(m.activity_1_title, :length => 40)).html_safe %></a></p>
                          <% end %>
                          <% unless true #m.activity_2_title.blank? %>
                              <p><a href="<%= play_children_path(:mid => m.mid, :no => 2) %>" class="btn"><%= current_child.replace_forms(truncate(m.activity_2_title, :length => 40)).html_safe %></a></p>
                          <% end %>

                      <% end %>
                    </div>
                    <a href="#" class="behaviour-details hidden" data-category="<%= k %>" data-behaviour="<%= m.observation_title.blank? ? "Empty title" : m.observation_title %>"></a>
                  </div>
              </div>
          </div>
          <div class="clear"></div>

      </div>

      <% end %>
    <% end %>
