    <% if behaviours %>
      <% behaviours.each_with_index do |behaviour, idx| %>        
        
        <% curr_width = @lengths[behaviour.age_from] %>

        <div class="single-reflected-item">
          <div class="cat-name"><%= category_name(behaviour.category) %></div>

          <div class="reflect-icon reflect-icon-<%=  behaviour.category %>"></div>
          <div class="reflect-bar-wrapper">
              <div class="reflect-bar" style="width: <%= curr_width %>px">
                  <div class="reflect-popup">                    
                    <div class="popup-wrapper">
                        <div class="reflect-pointing-arrow"></div>

                        <% if type == "str" %>
                            <%= @str_text.gsub('<INTELLIGENCE>', category_name(behaviour.category)).gsub('<WTitle>', behaviour.title_present).gsub('<WTitlePast>', behaviour.title_past).gsub('<PTip>', current_child.replace_forms(behaviour.parenting_tip1)).html_safe %>
                        <% elsif type == "weak" %>
                            <%= @weak_text.gsub('<INTELLIGENCE>', category_name(behaviour.category)).gsub('<WTitle>', behaviour.title_present).gsub('<WTitlePast>', behaviour.title_past).gsub('<PTip>', current_child.replace_forms(behaviour.parenting_tip1)).html_safe %>
                        <% else %>
                            <%= @avg_text.gsub('<INTELLIGENCE>', category_name(behaviour.category)).gsub('<WTitle>', behaviour.title_present).gsub('<WTitlePast>', behaviour.title_past).gsub('<PTip>', current_child.replace_forms(behaviour.parenting_tip1)).html_safe %>
                        <% end %>

                        <p>
                          <% behaviour.activities.each do |activity| %>
                              <a href="<%= play_children_path(:aid => activity.id) %>" class="btn"><%= current_child.replace_forms(truncate(activity.title, :length => 40)).html_safe %></a>
                          <% end %>
                        </p>
                        <a href="#" class="behaviour-details hidden" data-category="<%= behaviour.category %>" data-behaviour="<%= behaviour.title_past %>" data-id="<%= behaviour.id %>"></a>
                    </div>
                    
                  </div>
              </div>
          </div>
          <div class="clear"></div>

      </div>

      <% end %>
    <% end %>
