
<% single_item_width = 100; %>
    <% if answers %>
      <% answers.each_with_index do |(k,v), idx| %>
        <% f = true if type == "str" %>
        <% l = true if type == "weak" %>
        <% curr_width = (v.first.question.age.to_f - @min.to_f) / @diff %>
        

        <div class="single-reflected-item">
          <div class="cat-name"><%= category_name(k) %></div>

          <div class="reflect-icon reflect-icon-<%=  k %>"></div>
          <div class="reflect-bar-wrapper">
              <div class="reflect-bar" style="width: <%= single_item_width * curr_width + 100 %>px">
                  <div class="reflect-popup">
                    <div class="pointing-arrow"></div>
                    <div class="popup-wrapper">
                      <% m = Milestone.find_by_mid(v.first.question.mid) %>
                      <% if m %>
                          <% if f %>
                              <%= @str_text.gsub('<INTELLIGENCE>', category_name(k)).html_safe  %>
                          <% elsif l %>
                              <%= @weak_text.gsub('<INTELLIGENCE>', category_name(k)).html_safe  %>
                          <% else %>
                              <%= @avg_text.gsub('<INTELLIGENCE>', category_name(k)).html_safe  %>
                          <% end %>


                          <% unless m.activity_1_title.blank? %> 
                              <p><a href="<%= play_children_path(:mid => m.mid, :no => 1) %>" class="btn"><%= current_child.replace_forms(truncate(m.activity_1_title, :length => 40)).html_safe %></a></p>
                          <% end %>
                          <% unless true #m.activity_2_title.blank? %>
                              <p><a href="<%= play_children_path(:mid => m.mid, :no => 2) %>" class="btn"><%= current_child.replace_forms(truncate(m.activity_2_title, :length => 40)).html_safe %></a></p>
                          <% end %>

                      <% end %>
                    </div>
                  </div>
              </div>
          </div>
          <div class="clear"></div>

      </div>

      <% end %>
    <% end %>
