<%= form_tag add_timeline_entry_children_path do %>
    <%= hidden_field_tag "entry_type", type %>
    <%=
        case type
          when "play"
            render :partial => "timeline_play_fields"
          when "watch"
            render :partial => "timeline_watch_fields"
          when "reflect"
            render :partial => "timeline_reflect_fields"
          when "likes"
            render :partial => "timeline_likes_fields"
          when "dislikes"
            render :partial => "timeline_dislikes_fields"
          else
        end
    %>
        

    <p><%= text_area_tag "details", nil, :placeholder => "add more details here..."  %></p>

    <div id="entry-image-uploader-<%= type %>"></div>
    <div class="img-wrapper"></div>
    <%= submit_tag "Post", :class => 'btn' %>
    
    
    <script type="text/javascript">
      $(function() {
        var uploader_<%= type %> = new qq.FileUploader({
            element: document.getElementById('entry-image-uploader-<%= type %>'),
            action: '<%= create_photo_children_path -%>',
            params: { },
            onSubmit: function() {
              var prev_img = $(this.element).parents('.tab').find('.img-wrapper input[type="hidden"]').val();
              if(prev_img) uploader_<%= type %>.setParams({ previous_img : prev_img });
            },
            onComplete: function(id, fileName, responseJSON){

              $('.qq-upload-list li').each(function() {
                if($(this).find('.qq-upload-file').text() == fileName);
                $(this).fadeOut('slow');
              });

              var img = document.createElement('img');
              img.src = responseJSON.img_url;
              var hidden = document.createElement('input');
              hidden.type = "hidden";
              hidden.value = responseJSON.media_id;
              hidden.name = "media_id"

              $('#entry-image-uploader-<%= type %>').parents('.tab').find('.img-wrapper').html("").append(img).append(hidden);
            }
        });
      });
    </script>


<% end  %>


