<li class="single-activity <%= "selected" if item[:selected] %> <%= time %>" >
    <div class="single-activity-left">

      <div class="category-corner">
        <img src="/images/icon_teal_<%= item[:category] %>.png" />
        <div><a href="#"><%= category_name(item[:category]) %></a></div>

        <div class="show-future">keep trying!</div>
        <div class="show-past">good work!</div>
          
      </div>
    </div>
    <div class="single-activity-right">
      <div class="single-activity-nav">
          <%= link_to "#", adjacent_behaviour_children_path(:mid => item[:mid], :dir => "prev"), :remote => true, :class => 'previous-activity-link' %>
          <a href="#" class="activity-title-link"><%= item[:title] %></a>
          <%= link_to "#", adjacent_behaviour_children_path(:mid => item[:mid], :dir => "next"), :remote => true,  :class => 'next-activity-link' %>
      </div>
      <div class="activity-setup"><%= item[:subtitle] %></div>
      <div class="play-icons-corner">
        <%= link_to "Timeline", "#dialog-timeline-#{item[:mid]}", :class => "show-dialog timeline-btn" %>
        <%= link_to "Seen this", update_watched_path(:mid => item[:mid]) , :class => "seen-tick-btn", :remote => true, :method => :post %>

        <div id="dialog-timeline-<%= item[:mid] %>" class="play-dialog">
            <%= render :partial => 'timeline_popup', :locals => { :type => "watch", :did_what => item[:title].gsub('"' , ' ').strip , :category => item[:category], :mid => item[:mid] } %>
        </div>                
      </div>
    </div>
    <div class="clear"></div>

    <div class="play-popup <%= time %>">
      <div class="pointing-arrow"></div>
      <div class="popup-wrapper">
            <h4><%= item[:title] %></h4>
            <div class="show-future">future behavior</div>
            <div class="show-past">exhibited behavior. <span><%= current_child.first_name.capitalize %> already performed this action for you.</span></div>

            <% unless item[:desc].blank? %>                
                <p><%= item[:desc] %></p>
            <% end %>

            <% unless item[:examples].blank? %>
                <h5>Examples</h5>
                <p><%= item[:examples] %></p>
            <% end %>
          
            <h5>Recommanded Play Activities</h5>
            <p>
              <% unless item[:activity_1_title].blank? %>
                <a href="<%= item[:activity_1_url] %>" class="btn"><%= item[:activity_1_title] %></a>
              <% end %>
              <% unless item[:activity_2_title].blank? %>
                <a href="<%= item[:activity_2_url] %>" class="btn"><%= item[:activity_2_title] %></a>
              <% end %>
            </p>

            <% unless item[:why_important].blank? %>
                <h5>Why Is This Important?</h5>
                <p><%= item[:why_important] %></p>
            <% end %>

             <hr />

             <div class="theory">
               <h5>Theory</h5>
               <%= item[:theory] unless item[:theory].blank? %>
             </div>
             <div class="references">
                <h5>References</h5>
                <%= item[:references] unless item[:references].blank? %>
             </div>
             <div class="clear"></div>

      </div>
    </div>
    <div class="preloader-div"></div>
  </li>