<li class="single-activity <%= "selected" if item[:selected] %> <%= time %>" >
    <div class="single-activity-left">

      <div class="category-corner">
        <img src="/images/icon_teal_<%= item[:category] %>.png" />
        <div><a href="#"><%= category_name(item[:category]) %></a></div>

        <div class="show-future">keep trying!</div>
        <div class="show-past">good work!</div>
          
      </div>
    </div>
    <div class="single-activity-right">
      <div class="single-activity-nav">

          <%= link_to "#", adjacent_behaviour_children_path(:bid => item[:bid], :dir => "prev"), :remote => true, :class => 'previous-activity-link' %>
          <a href="#" class="activity-title-link"><%= item[:title] %></a>
          <%= link_to "#", adjacent_behaviour_children_path(:bid => item[:bid], :dir => "next"), :remote => true,  :class => 'next-activity-link' %>
      </div>
      <div class="activity-setup"><%= item[:desc_short] %></div>
      <div class="play-icons-corner">
        <%= link_to "Timeline", "#dialog-timeline-#{item[:bid]}", :class => "show-dialog timeline-btn" %>
        <%= link_to "Seen this", update_watched_path(:bid => item[:bid]) , :class => "seen-tick-btn", :remote => true, :method => :post %>

        <div id="dialog-timeline-<%= item[:bid] %>" class="play-dialog">
            <%= render :partial => 'timeline_popup', :locals => { :type => "watch", :did_what => item[:title_past].gsub('"' , ' ').strip , :category => item[:category], :aid => nil, :bid => item[:bid] } %>
        </div>                
      </div>
    </div>
    <div class="clear"></div>

    <div class="play-popup <%= time %>">
      <div class="pointing-arrow"></div>
      <div class="popup-wrapper">
            <h4><%= item[:title] %></h4>
            <div class="show-future">future behavior</div>
            <div class="show-past">exhibited behavior. <span><%= current_child.first_name.capitalize %> already performed this action for you.</span></div>
            
            <p><%= item[:desc_long] %></p>            
            <h5>Examples</h5>
            <ul class="variations">
              <%= content_tag(:li, item[:example1], {}, false) if item[:example1].present? %>
              <%= content_tag(:li, item[:example2], {}, false) if item[:example2].present? %>
              <%= content_tag(:li, item[:example3], {}, false) if item[:example3].present? %>              
            </ul>
          
            <h5>Recommanded Play Activities</h5>
	    <p>
            <% item[:activities].each do |a| %>
              <%= link_to a.title, play_children_path(:aid => a.id), :class => "btn" %>
            <% end %>
	    </p>
                          
            <h5>Why Is This Important?</h5>
            <p><%= item[:why_important] %></p>
	    
            <%= content_tag(:p, "TIP: " + item[:parenting_tip1], {}, false) if item[:parenting_tip1].present? %>
            <%= content_tag(:p, item[:parenting_tip2], {}, false) if item[:parenting_tip2].present? %>          

             <hr />

             <div class="theory">
               <h5>Theory</h5>
               <%= content_tag(:p, item[:theory], {}, false) unless item[:theory].blank? %>
             </div>
             <div class="references">
                <h5>References</h5>
                <%= content_tag(:p, item[:references], {}, false) unless item[:references].blank? %>
             </div>
             <div class="clear"></div>

      </div>
    </div>
    <div class="preloader-div"></div>
  </li>
  <script type="text/javascript">
    $(function() {
      $('select').selectbox();
    });
  </script>
