<div class="container settings child-image">

  <div id="left">
    <div id="title">Child's Image</div>
    <div id="change-form">
      <a href="<%= edit_account_path %>">Main Settings</a>
      <a href="<%= edit_families_path %>">My Family Info</a>
      <a href="<%= family_relations_families_path %>">Friends & Families</a>
    </div>
    
    <div class="profile-image" style="width:228px;height:254px;">
      <%= get_image_tag @child, "large" %>
    </div>

    <div class="submit-btn">
      
      <%= form_for @child,:html => { :multipart => true } do |f| -%>

        <%= hidden_field_tag :child_profile_image_remote_url -%>
        <%= hidden_field_tag :child_profile_image_id -%>
        <%= submit_tag "Update Image" -%>

      <% end %>
      
    </div>
  </div>

  <div class="user-form update_form">

    <div id="uploaded-images-ajax-container" class="singleselect">
      <%= render :partial => 'uploaded_images/select_uploaded_images' %>
    </div>

    <hr/>

    <h2>OR choose one from facebook</h2>
    <div id="facebook-ajax-container" class="singleselect ajax-container">
      <%= render :partial => 'facebook/select_facebook_photos'-%>
    </div>
    <script type="text/javascript" src="/js/facebook_photos.js"></script>

    <hr/>

    <h2>OR flicker</h2>
    <div id="flickr-ajax-container" class="singleselect">
      <%= render :partial => 'flickr/select_flickr_photos' %>
    </div>
    <script type="text/javascript" src="/js/flickr.js"></script>

  </div>

  <div class="clear"></div>
</div>
<script type="text/javascript">

  $('.flickr .photos .image').live("click", function(){    
    $('#child_profile_image_remote_url').val($(this).attr('url')).attr('name','flickr_photos[]');
    $('#child_profile_image_id').val($(this).attr('id')).attr('name','flickr_pids[]');    
    $('#selected-facebook-photos span').remove();
    $('#selected-uploaded-images-photos span').remove();
  })

  $('.facebook .image').live("click", function(){    
    $('#child_profile_image_remote_url').val($(this).attr('url')).attr('name','facebook_photos[]');
    $('#child_profile_image_id').val($(this).attr('id')).attr('name','facebook_pids[]');    
    $('#selected-flickr-photos span').remove();
    $('#selected-uploaded-images-photos span').remove();
  })

  $('.uploaded-images .image').live("click", function(){
    $('#child_profile_image_remote_url').val('').attr('name','uploaded_images_photos[]');
    $('#child_profile_image_id').val($(this).attr('id')).attr('name','uploaded_images_pids[]');    
    $('#selected-flickr-photos span').remove();
    $('#selected-facebook-photos span').remove();
  })

</script>
