<div class="container settings child-image">

  <div id="left">
    <div id="title">Child's Image</div>
    <div id="change-form">
      <a href="<%= edit_account_path %>">Main Settings</a>
      <a href="<%= edit_families_path %>">My Family Info</a>
      <a href="<%= family_relations_families_path %>">Friends & Families</a>
    </div>

    <div id="selected-image">
      <span class="image">
        <div class="thumb" style="background-image: url(<%= get_image_url @child, "large" -%>)"></div>
      </span>
    </div>

    <div class="submit-btn">
      
      <%= form_for @child,:html => { :multipart => true } do |f| -%>

        <%= hidden_field_tag :child_profile_image_remote_url -%>
        <%= hidden_field_tag :child_profile_image_id -%>
        <%= submit_tag "Update Image" -%>

      <% end %>
      
    </div>
  </div>

  <div class="user-form update_form">

    <div id="uploaded-images-ajax-container" class="singleselect">
      <%= render :partial => 'uploaded_images/select_uploaded_images' %>
    </div>

    <hr/>

    <h2>OR choose one from facebook</h2>
    <div id="facebook-ajax-container" class="singleselect ajax-container">
      <%= render :partial => 'facebook/select_facebook_photos'-%>
    </div>
    <script type="text/javascript" src="/js/facebook_photos.js"></script>

    <hr/>

    <h2>OR flickr</h2>
    <div id="flickr-ajax-container" class="singleselect">
      <%= render :partial => 'flickr/select_flickr_photos' %>
    </div>
    <script type="text/javascript" src="/js/flickr.js"></script>

  </div>

  <div class="clear"></div>
</div>
<script type="text/javascript">

  $('.singleselect .uploaded-images .uploaded-images-grid .photos .image, .flickr .photos .image').live("click", function(){
    $('#selected-image > *').remove();
    var clone = $(this).clone();
    console.log(clone.find(".thumb"));
    clone.find(".thumb").css({backgroundImage: "url("+$(this).attr("large_url")+")"});
    clone.find(".title").remove();
    $('#selected-image').append(clone);
    $('html,body').animate({scrollTop: $('#selected-image').offset().top});
  })

  $('.flickr .photos .image').live("click", function(){    
    $('#child_profile_image_remote_url').val($(this).attr('url')).attr('name','flickr_photos[]');
    $('#child_profile_image_id').val($(this).attr('id')).attr('name','flickr_pids[]');        
  })

  $('.facebook .image').live("click", function(){    
    $('#child_profile_image_remote_url').val($(this).attr('url')).attr('name','facebook_photos[]');
    $('#child_profile_image_id').val($(this).attr('id')).attr('name','facebook_pids[]');        
  })

  $('.uploaded-images .image').live("click", function(){
    $('#child_profile_image_remote_url').val('').attr('name','uploaded_images_photos[]');
    $('#child_profile_image_id').val($(this).attr('id')).attr('name','uploaded_images_pids[]');        
  })

</script>
