<% content_for :middle_bar do %>
  <% unless params[:add_child] %>
    <div class="left-column"></div>
    <div class="right-column">
      <% if (current_user && current_user.is_temporary) || (current_child && current_child.is_temporary) -%>
      <div class="step-arrow temporary active" id="step3-breadcrumb"><span>What is your baby's name?</span></div>
      <div class="step-arrow active done temporary" id="step2-breadcrumb"><span>What is your name?</span></div>
      <div class="step-arrow active done temporary" id="step1-breadcrumb"><span>What is your baby doing?</span></div>
      <% else -%>
      <div class="step-arrow" id="watching-baby"><span>Describe Your Baby</span></div>
      <div class="step-arrow active" id="add-baby"><span>Add/Join a BabyFolio</span></div>
      <div class="step-arrow active done" id="create-acc"><span>Create Account</span></div>
      <% end -%>
    </div>
    <div class="clear"></div>
  <% end %>

<% end %>

<div id="registration-second">
  <div class="left-column">
    <div id="left-column-tooltip">
      <% if (current_user && current_user.is_temporary) || (current_child && current_child.is_temporary) -%>
      <div id="left-column-tooltip" class="<%= "annie-highlight" unless @child.errors.empty? %>">
	<%= image_tag @page_step_1.cf("left_sidebar_image","reg_step1") -%>
	<h4><%= @page_step_1.cf("left_sidebar_headline") -%></h4>
	<p><%= @page_step_1.cf("left_sidebar_content") -%></p>
	<div class="clear"></div>
      </div>
      <% else -%>
      <img src="/images/dream_catcher.png" alt=""/>
      <h4><%= @page.cf("left_sidebar_headline") -%></h4>
      <p class="reg-second-ttip"><%= @page.cf("left_sidebar_content") -%> (<%= current_user.email %>)</p>
      <% end -%>
      <div class="clear"></div>
      </div>
  </div>

  <div class="right-column">
    <%= render :partial => 'form', :locals => {:child => @child, :edit => false} %>
  </div>

  <div class="clear"></div>
</div>




