<% content_for :middle_bar do %>
  <span>Here is a summary of <%= current_child.first_name %>’s development profile.</span>
<% end %>

<div>
  <h4 class="reflect-header"><%= current_child.first_name %>’s Development</h4>
  <div id="reflect-column-wrapper" class="left">
      <div id="all-reflected-items">
        <%= render :partial => 'reflect_bars', :locals => { :answers => @str_answers, :type => 'str' } %>
        <%= render :partial => 'reflect_bars', :locals => { :answers => @avg_answers, :type => 'avg' } %>
        <%= render :partial => 'reflect_bars', :locals => { :answers => @weak_answers, :type => 'weak' } %>
        <%= render :partial => 'reflect_bars', :locals => { :answers => @empty_answers, :type => 'empty' } %>
      </div>      
  </div>
  <div id="reflect-content-window" class="left">
    <h4>Even Development</h4>
    <p>Hey! Looks like <span class="bold"><%= current_child.first_name %></span> is performing at the same level for all developmental stages.  Please check back after he has exhibited other WATCH behaviors to see an update!</p>
    <p>In the meantime, start playing with your baby now!</p>
    <%= link_to "Play now!", play_children_path, :class => "btn" %>
  </div>
  <div id="reflect-to-timeline" class="left">
            <%= render :partial => "reflect_timeline"  %>
    <div id="reflect-to-timeline-cover"><span>You have successfully posted to <span class="bold"><%= current_child.first_name %></span> Timeline</span><span class="vertical-aligner"></span></div>
  </div>
  
  <div class="clear"></div>
</div>


<div id="reflect-info-popup" class="hidden">
  <div id="reflect-info-popup-inner">
    <h3>Welcome to BabyFolio!</h3>
    <p>There are four important activities that are part of <span class="bold"><%= current_child.first_name %>'s</span>  BabyFolio.</p>
    <ul>
      <li id="li-1">In the <span class="bold">WATCH</span> section, you can see what developments <span class="bold"><%= current_child.first_name %></span> may be making soon, so you know what to be on the lookout for.</li>
      <li id="li-2">In the <span class="bold">PLAY</span> section, you can find fun activities and games to do with <span class="bold"><%= current_child.first_name %></span> that support his development and build on the skills they already have.</li>
      <li id="li-3">In the <span class="bold">TIMELINE</span> section, you can see what's happened so far and share it with close friends and family so that everyone can participate in the development of <span class="bold"><%= current_child.first_name %></span></li>
      <li id="li-4">In the <span class="bold">REFLECT</span> section, you can see <span class="bold"><%= current_child.first_name %>’s</span> strengths and areas for improvement in his development, and find activities to help those areas.</li>
    </ul>
    <p>View <span class="bold"><%= current_child.first_name %>’s</span> development progress now or invite close friends and family to join his circle!</p>
    <div><%= link_to "Send Invites", settings_path, :class => 'btn' %> <%= link_to "Reflect", child_reflect_children_path, :class => 'btn jqmClose' %></div>
    <a href="#" class="close-popup-icon jqmClose">Close</a>
  </div>
</div>

 <% if session[:reflect_popup] %>
      <% session[:reflect_popup] = nil %>
      <%= javascript_include_tag 'jqModal' -%>
      <script type="text/javascript">
        $(function() {
          $('#reflect-info-popup').jqm({modal:true});
          $('#reflect-info-popup').jqmShow();
        });
      </script>
  <%  end %>

  <script type="text/javascript">
    $(function() {
      if(1 != <%=  @lengths.size %>) {
        updatePopup($('.single-reflected-item').first());
      } else {
        $('#reflect-to-timeline').hide();
      }
      
      $('.single-reflected-item').click(function() {
        updatePopup($(this));
      });
    });

    function updatePopup(item) {
      if($(item).find('.behaviour-details').length > 0) {
        $('#reflect-to-timeline').show();
        $('.single-reflected-item').removeClass('active-item');
        details = $(item).find('.behaviour-details');
        $(item).addClass('active-item');
        $('#reflect-content-window').html($(item).find('.popup-wrapper').html());
        $('#reflect-to-timeline .what').text($(details).attr('data-behaviour'));
        $('#reflect-to-timeline #te_category').val($(details).attr('data-category'));
        $('#reflect-to-timeline #did_what').val($(details).attr('data-behaviour'));
        $('#reflect-to-timeline-cover').hide();
        $('.img-wrapper').html('');
      } else {
         $('#reflect-to-timeline').hide();
         $('.single-reflected-item').removeClass('active-item');
         $(item).addClass('active-item');
         $('#reflect-content-window').html($(item).find('.unfinished-questionnaire-notice').html());
      }
    }
  </script>
