<% content_for :middle_bar do %>
  <span>Here are <%= current_child.first_name %>’s most important developments:</span>

<% end %>
  
<div>

  <h4 class="reflect-header"><%= current_child.first_name %>’s Development</h4>
  <p id="left-column-additional-info">
    Click on any bar in the graph for more information.</p>
  <div id="reflect-column-wrapper" class="left">
      <div id="all-reflected-items">
        <%= render :partial => 'reflect_bars', :locals => { :behaviours => @str_answers, :type => 'str' } %>
        <%= render :partial => 'reflect_bars', :locals => { :behaviours => @avg_answers, :type => 'avg' } %>
        <%= render :partial => 'reflect_bars', :locals => { :behaviours => @weak_answers, :type => 'weak' } %>
        <%= render :partial => 'reflect_bars_empty', :locals => { :behaviours => @empty_answers, :type => 'empty' } %>
      </div>      
  </div>
  <div id="reflect-content-window" class="left">    
    <h4>Even Development</h4>
    <p>Hey! Looks like <span class="bold"><%= current_child.first_name %></span> is performing at the same level for all developmental stages.  Please check back after he has exhibited other WATCH behaviors to see an update!</p>
    <p>In the meantime, start playing with your baby now!</p>
    <%= link_to "Play now!", play_children_path, :class => "btn" %>
  </div>
  <div id="reflect-to-timeline" class="left">
            <%= render :partial => "reflect_timeline"  %>
    <div id="reflect-to-timeline-cover"><span>You have successfully posted to <span class="bold"><%= current_child.first_name %>'s</span> Timeline</span><span class="vertical-aligner"></span></div>
  </div>
  
  <div class="clear"></div>
</div>

<div id="reflect-info-popup" class="hidden">
  <div id="reflect-info-popup-inner">
    <h3>Welcome to BabyFolio!</h3>
    <p>We help your baby thrive by identifying the most important developments and providing the right play at the right time. There are four important activities that are part of <span class="bold"><%= current_child.first_name %>'s</span> BabyFolio.</p>
    <ul>
      <li id="li-1">In the <span class="bold">WATCH</span> section, you can see a list of the next possible behaviors that <span class="bold"><%= current_child.first_name %></span> may be emerging soon, making it easy to know what to be on the "watch" for.</li>
      <li id="li-2">In the <span class="bold">PLAY</span> section, you can find the right play at the right time -- fun activities and games to do with <span class="bold"><%= current_child.first_name %></span> that support <%= current_child.replace_forms('#HIS/HER#') %> development and provide the best possible start.</li>
      <li id="li-3">In the <span class="bold">TIMELINE</span> section, you can see what's happened so far and share it with close friends and family so that everyone can participate in the development of <span class="bold"><%= current_child.first_name %></span>.</li>
      <li id="li-4">In the <span class="bold">REFLECT</span> section, you can see <span class="bold"><%= current_child.first_name %></span>'s strengths and areas for improvement in <%= current_child.replace_forms('#HIS/HER#') %> development, and find insights and tips to help those areas.</li>
    </ul>
    <p>View your baby's development progress now, in REFLECT!</p>
    <div><%= link_to "Send Invites", settings_invite_path(:family_id => current_child.family.id), :class => 'btn' %> <%= link_to "Reflect", child_reflect_children_path, :class => 'btn jqmClose' %></div>
    <a href="#" class="close-popup-icon jqmClose">Close</a>
  </div>
</div>
  
 <% unless @reflect_visited %>      
      <%= javascript_include_tag 'jqModal' -%>
      <script type="text/javascript">
        $(function() {
          $('#reflect-info-popup').jqm({modal:true});
          $('#reflect-info-popup').jqmShow();
        });
      </script>
  <%  end %>

  <script type="text/javascript">
    $(function() {
      $('#reflect-content-window').css({ minHeight :  $('#reflect-column-wrapper').height()});
      updatePopup($('.single-reflected-item').first());
      updateArrowPosition();
      
      $('.single-reflected-item').click(function() {
        updatePopup($(this));
        updateArrowPosition();
      });
    });

    function updatePopup(item) {
      if($(item).find('.behaviour-details').length > 0) {
        $('#reflect-to-timeline').show();
        $('.single-reflected-item').removeClass('active-item');
        details = $(item).find('.behaviour-details');
        $(item).addClass('active-item');
        $('#reflect-content-window').html($(item).find('.popup-wrapper').html());
        $('#reflect-to-timeline .what').text($(details).attr('data-behaviour'));        
        $('#reflect-to-timeline #bid').val($(details).attr('data-id'));
        $('#reflect-to-timeline #did_what').val($(details).attr('data-behaviour'));
        $('#reflect-to-timeline-cover').hide();
        $('.img-wrapper').html('');
      } else {
         <%#*$('#reflect-to-timeline').hide();%>
         $('.single-reflected-item').removeClass('active-item');
         $(item).addClass('active-item');
         $('#reflect-content-window').html($(item).find('.unfinished-questionnaire-notice').html());
      }
    }

    function updateArrowPosition() {
       arr_top = $($('.single-reflected-item.active-item')).position().top + 25;
       $('#reflect-content-window .reflect-pointing-arrow').css({top: arr_top});
    }
  </script>
