  <style type="text/css">
	#wrraper {width:1075px;padding:0 !important;background:#fff;}
  </style>
   
  <div class="container  children">    
	<div id="top_container">
		<div class="top_box_bg"></div>
	</div>
    <div id="container_left">
      
		<div id="container_header">
        <div id="title"><%= @selected_child.first_name -%>'s Unique Story</div>
        <div id="drop_list">
          <%= form_tag({}, { :method => :get }) do -%>
            <%= select_tag "people", options_for_select(@children.map { |c| ["#{c.first_name}'s Profile", c.id] }, @selected_child.id), {:onChange => "document.location = '/children/' + this.value" } -%>
            <%= link_to "Add Child", new_child_children_path, :class => "add_child_link" %>
          <% end -%>
          <span id="setting_kids">            
            <p></p>
            <p>Go to: <%= link_to "Reflect page", child_reflect_children_path %></p>
            
          </span>
        </div>
        <div id="clear"></div>
      </div>
      <div id="book">
        <div id="container_book">
          <div id="book_left">
            <div id="child_profile">
	      <%= get_image_tag @selected_child, "large" -%>
              <span id="name"><span>Name</span> : <span class="profile_name"><%= @selected_child.first_name -%></span></span>
              <span id="age"><span>Age</span> : <span class="profile_age"><%= @selected_child.age_text -%></span></span>
              <span id="count_entries">xx Story Entries</span>
            </div>
            <div id="family_list">
              <span>Family & Friends</span>
              <ul></ul>
              <a href="<%= add_friends_children_path -%>">Invite Others</a>
            </div>
          </div>
          <div id="book_right">
            <div id="moments-ajax-container">
              <%= render :partial => "moments/moments_list" -%>
            </div>
            <script type="text/javascript">
              $('#moments-ajax-container .pagination a.next_page, #moments-ajax-container .pagination a.previous_page').live('click',function(){
                $.ajax({
                  url: $(this).attr('href'),
                  success: function(html){
                      $("#moments-ajax-container").fadeOut(300,function(){
                        $(this).html($(html).find("#moments-ajax-container")).fadeIn();
                      })
                    }
                });
                $('#moments-ajax-container .all-moments .preloader').show();
                $('#moments-ajax-container .all-moments').animate({opacity: 0.5});
                return false;
              })
            </script>
          </div>
          <div id="clear"></div>
        </div>
      </div>
      <div id="storybook_moments">
        <h1>Build upon #first#'s storybook</h1>
        <div class="shadow"><img src="/images/shadow.png" alt="" /></div>
        <div>
          <span style="float:left; padding-left: 30px;">Questionaires: </span>
          <%= link_to "Initial Questionnaire", initial_questionnaire_path %>
          <!--a href="<%= questions_url({:child => @selected_child.id , :level => 'basic'}) %>">Basic</a>
          <a href="<%= questions_url(:child => @selected_child.id) %>">Normal</a>
          <a href="<%= questions_url({:child => @selected_child.id, :level => 'advanced'}) %>">Advanced</a-->
          <br /><br />
        </div>
        
        <a href="<%= child_new_moment_path(:child_id => @selected_child.id) -%>"><img src="/images/add_moment.png" alt="" /></a>
        <div class="text">text text text</div>
        <div class="clear"></div>
        <div id="moments_list">
          <h3>List of Existing Moments to be processed:</h3>
          <div class="moment">
            <h3 class="title">Title: First five words</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
               eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco
               laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
	  <div id="footer_bg_profile">
      <div id="footer">
        <div id="footer_left">
          <div id="copyright">
            Copyright &copy; 2011. Baby folio. All rights reserved.
          </div>
          <div id="footer_link">
            <ul>
              <li><a href="">Home<span>|</span></a></li>
              <li><a href="">Blog<span>|</span></a></li>
              <li><a href="">About Us<span>|</span></a></li>
              <li><a href="">Contact Us<span>|</span></a></li>
              <li><a href="">Privacy<span>|</span></a></li>
              <li><a href="">Site Map<span>|</span></a></li>
              <li><a href="">Resources<span>|</span></a></li>
              <li><a href="">Help</a></li>
            </ul>
          </div>
        </div>
        <div id="footer_right">
          <div id="social_links">
            <span>Follow us on</span>
            <ul>
              <li><a href="#"><img src="/images/twitter.png" alt="" /></a></li>
              <li><a href="#"><img src="/images/facebook.png" alt="" /></a></li>
              <li><a href="#"><img src="/images/sweetbook.png" alt="" /></a></li>
              <li><a href="#"><img src="/images/rss.png" alt="" /></a></li>
            </ul>
          </div>
        </div>
        <div id="clear"></div>
      </div>
	  </div>
      <div id="clear"></div>
    </div>

    <div id="container_right">
      <div class="milestone-popup">
        <div class="button">
          <%= link_to "Tell us more (what you have seen with #{@selected_child.first_name})", child_milestone_new_moment_path(:child_id => @selected_child.id, :milestone_id => Milestone.first.id), :class => "button-layout-3"%>
        </div>
      </div>
      <%= javascript_include_tag 'jqModal' -%>      
      <div class="logo"></div>
      <script type="text/javascript">
        $(function(){
          $('.popup').jqm();
          $('#container_right .logo').click(function(){
          
            $('.popup').append($('.milestone-popup'));
            $('.popup').css({left: ($(window).width()/2-$('.popup').width()/2),top: ($(window).height()/2-$('.popup').height()/2+$(window).scrollTop())})
            $('.popup').jqmShow();
            return false;            
          })
        })
      </script>
      <div id="most_post">
	<div id="immediate_lws">
	  <% lws = Score.select_LWs(@selected_child) %>
	  <% if lws.present? %>
	     <% lws.each_with_index do |mid,idx| %>
                Learing Window(<%= idx + 1 %>): <%= link_to "link", "#", :rel => mid, :onclick => 'show_milestone(this); return false;' %><br />
	     <% end %>
	  <% else %>
	    Can't figure out Learning Windows. Please take one of the questionnaires to get required results.
	  <% end %>
	  <hr />
	</div>

        <script type="text/javascript">
          function show_milestone(object) {
            var width = 520;
            var height = 650;
            var left = parseInt((screen.availWidth/2) - (width/2));
            var top = parseInt((screen.availHeight/2) - (height/2));
            var url = '<%= show_milestone_url( :child_id => @selected_child.id  ) %>' + '&mid=' + $(object).attr('rel');
            window.open(url,"_blank","menubar=0,resizable=0,scrollbars=1,width=520,height=650,location=0,left=" + left + ",top=" + top + ",screenX=" + left + ",screenY=" + top);
          }
        </script>
        <div class="single_post">
          <h1>Getting to Know You Tools</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#">Learn more</a>
        </div>
        <div class="single_post">
          <h1>Getting to Know You Tools</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
      <div id="clear"></div>
    </div>

    <div id="clear"></div>
  
  </div>
