<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hi <%= @user.email.split('@').first %>!

    <% if @message.blank? %>
      I am using Babyfolio and would like you to join the family as <%= @relation.member_type %>.
    <% else %>
      <%= @message %>
    <% end %>

    In order to accept the invitaion <%= link_to "click here", @url %> or copy and paste following url: <%=  @url %>

    Thanks!
    <%= @from.get_user_name %>
  </body>
</html>