<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Hi there,</h4>

    <p>Here is an update on <%= @child.first_name %>'s <%=  Question::CATS[@question.category] %> development:</p>
    <p><%= @child.first_name %> is currently <span style="font-weight: bold"><%= @milestone.get_title %></span>.</p>


    <p>Here are recommended types of PLAY to boost this important development:</p>
    <ol>
      <% unless @milestone.activity_1_title.blank? %>
          <li>
            <a href="<%= play_children_url(:mid => @milestone.mid, :no => 1, :confirm => true, :token => @user.persistence_token) %>"><%= @child.replace_forms(@milestone.activity_1_title).html_safe %></a>
            <%= "- #{@child.replace_forms(@milestone.activity_1_set_up)}".html_safe if @milestone.activity_1_set_up.present? %>
          </li>
      <% end %>
      <% unless @milestone.activity_2_title.blank? %>
          <li><a href="<%= play_children_url(:mid => @milestone.mid, :no => 2, :confirm => true, :token => @user.persistence_token) %>"><%= @child.replace_forms(@milestone.activity_2_title).html_safe %></a></li>
          <%= "- #{@child.replace_forms(@milestone.activity_2_subtitle)}".html_safe if @milestone.activity_2_subtitle.present? %>
      <% end %>
    </ol>
    
    <p>Here are some upcoming <%=  Question::CATS[@question.category] %> behaviors to WATCH for:</p>
    <%= link_to(@milestone_next_1.get_title, watch_children_url(:mid => @milestone_next_1.mid)) if @milestone_next_1.present? %>
    <%= ("and " + link_to(@milestone_next_2.get_title, watch_children_url(:mid => @mielestone_next_2.mid))) if @milestone_next_2.present? %>.

    <p>Remember, you can always get a current summary of <%= @child.first_name %>'s development by visiting the <%= link_to "Reflect", child_reflect_children_url  %> section. Feel free to record and brag about the awesome things your baby is doing by posting to the <%= link_to "Timeline", show_timeline_url(:child_id => @child.id) %>.  Don't worry, <%= @child.first_name %>'s Timeline is private and only viewable to those you invited.</p>

    <p>If you have any questions or concerns, please email us at <a href="mailto:tickets@baby1.uservoice.com">tickets@baby1.uservoice.com</a>.</p>

    <p>Best,</p>
    <p>BabyFolio Team</p>
    <br/><br/>

    <%#= render :partial => "frequency_preferences" %>

  <br/>
  <br/>

  <%= render :partial => 'unsubscribe' %>

  </body>
</html>





