<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4>Welcome to BabyFolio, the exciting new app that helps your baby thrive!</h4>

    <p>BabyFolio is centered around your individual child- identifying the most important developments and providing the right play at the right time. For example, when you identify that <%= @child.first_name %> has a specific language development such as <%= @child.replace_forms(@behaviour.title_present).html_safe %> , you can support this important Learning Window with new experiences and the right kind of play:</p>

    <p><%= @child.replace_forms(@behaviour.title_present) %> Parenting Tip: <%= @child.replace_forms(@behaviour.parenting_tip1).html_safe %></p>

    <p>Sample Activities:</p>
    <ul>
      <% @behaviour.activities.each do |activity| %>
        <li><a href="<%= play_children_url(:aid => activity.id, :no => 1) %>"><%= @child.replace_forms(activity.title).html_safe %></a> - <%= @child.replace_forms(activity.description_short).html_safe %></li>
      <% end %>
    </ul>

    <p>To get started, please take the time to fill out the rest of <%= @child.first_name %>'s <%= link_to "behavior questionaire", registration_initial_questionnaire_url(:confirm => true, :token => @user.persistence_token) %>  </p>

    <p>Please confirm your email address by clicking on any link above or <%= link_to "clicking here", root_url(:confirm => true, :token => @user.persistence_token) %>. You can also copy/paste the link below:</p>
    <p><%=  root_url(:confirm => true, :token => @user.persistence_token) %></p>

    <p>If you have any questions or concerns, please email us at <a href="mailto:tickets@baby1.uservoice.com">tickets@baby1.uservoice.com</a>.</p>

    <p>Best,</p>
    <p>BabyFolio Team</p>
    <%= render :partial => 'unsubscribe' %>

  </body>
</html>





