<div class="container forgot-password">
  <div id="title">Update your password</div>
  <div class="user-form">
    <h2>Please enter the new password below and then press "Update Password".</h2>
    <%= form_tag update_forgot_password_url(:token => params[:token]), :method => :put do %>

      <%= render "shared/error_messages", :target => @user -%>

      <div class="row">
        <span class="label">
          <%= label_tag :password, "New password" -%>
        </span>
        <span class="field">
          <%= password_field_tag :password -%>
        </span>
      </div>
      <div class="row">
        <span class="label">
          <%= label_tag :password_confirmation, "Confirm" -%>
        </span>
        <span class="field">
          <%= password_field_tag :password_confirmation -%>
        </span>
      </div>

      <div class="submit">
        <%= submit_tag "Submit" -%>
      </div>

    <% end %>
  </div>
  <div class="clear"></div>
</div>