<%= form_for user, :remote => true, :url => relations_path, :html => {:id => "new-relation-form"} do |form| %>
    
    <div class="first-name row">
      <span class="label">
        <%= form.label :first_name %>
      </span>
      <span class="field">
        <%= form.text_field :first_name %>
      </span>
    </div>
    <div class="last-name row">
      <span class="label">
        <%= form.label :last_name %>
      </span>
      <span class="field">
        <%= form.text_field :last_name %>
      </span>
    </div>

    <div class="email row">
      <span class="label">
        <%= form.label :email %>
      </span>
      <span class="field">
        <%= form.text_field :email %>
      </span>
   </div>
    
    <div class="row">
        <span class="label"><%= label_tag "Relationship" %></span>
        <%= select_tag :relation_type, options_from_collection_for_select(Relation::MEMBER_TYPE_NAME, :first, :last, :selected => Relation::MEMBER_TYPE[:FATHER]), {:class => "select-layout" } -%>
    </div>

    <div class="row">
        <span class="label"><%= label_tag "Admin" %></span>
        <%= select_tag :is_admin, options_for_select([["No", 0], ["Yes", 1]]), :class => 'select-layout' -%>
    </div>

    <%= form.submit "Invite", :disable_with => "Inviting...", :class => 'btn' %>
<% end %>





