<h4 class="arvo">Share a <span class="arvo-bold">BabyFolio</span></h4>
<!--div class="row chose-contacts-wrapper" ><span class="label"></span><%= link_to "Choose from Contacts", "#", :class => "btn" %></div-->
<%= form_for user, :remote => true, :url => relations_path, :html => {:id => "new-relation-form"} do |form| %>
    
    <div class="first-name row">
      <span class="label">
        <%= form.label :first_name %>
      </span>
      <span class="field">
        <%= form.text_field :first_name %>
      </span>
    </div>
    <div class="last-name row">
      <span class="label">
        <%= form.label :last_name %>
      </span>
      <span class="field">
        <%= form.text_field :last_name %>
      </span>
    </div>

    <div class="email row">
      <span class="label">
        <%= form.label :email %>
      </span>
      <span class="field">
        <%= form.text_field :email %>
      </span>
   </div>
    
    <div class="row">
        <span class="label"><%= label_tag "Relationship" %></span>
        <%= select_tag :relation_type, options_for_select(Relation::TYPE_KEYS), {:class => "select-layout" } -%>
    </div>

    <div class="row">
        <span class="label"><%= label_tag "Admin" %></span>        
        <%= radio_button_tag "is_admin", "1", :checked => false, :id => 'yes-admin' %>
        <label for="is_admin_1">Yes</label>
        <%= radio_button_tag "is_admin", "0", :checked => false, :id => 'no-admin' %>
        <label for="is_admin_0">No</label>
    </div>

  <div class="row">
    <div class="label"></div>
    <%= form.submit "Invite", :disable_with => "Inviting...", :class => 'btn' %>
  </div>
    
<% end %>





