<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="welcome_program.css" />
  </head>
  <body>
    
    <div class="container">
      <div class="header right">
	Jumpstart BabyFolio: <strong>Day 2</strong>
	</div>
      <div class="content">
	<h1>BIG IDEA:</h1>
	<h2 class="play">Play</h2>
	<p>Let's focus on our next big idea: Play.  </p>

	<p>As you strengthen your "Watch" muscles, you will also see more opportunities to join in and enhance <%= @child.replace_forms("#his/her#") %> play and exploration. Imagine if you could provide just the right play at the right time so <%= @child.first_name -%> could better exercise their most important developments and build stronger foundations across <%= @child.replace_forms("#his/her#") %> multiple intelligences? You can get to the next level and we can help! </p>

	<p>Play is how your little one masters their world-- exercising and building their intelligences, skills, knowledge and dispositions. The goal in these early years is to help your child become a <strong>master player</strong>. Encourage them to follow their curiosity to play around, explore, tinker, figure things out, solve problems and create things. And the more you can get down on the floor and muck around with <%= @child.first_name -%> the better. </p>

	<p>Adults make a big difference. Providing a range of experiences and responding to your child's interests, strategies, and feelings will generate enriched play that strengthens your child's unique development.  </p>
	
	<p class="no-spacing">There are three different strategies for enriching your child's experiences during play:</p>
	<ul>
	  <li><a href="#">Mirroring and Echoing</a> - Beginning play by recognizing and supporting your child.s actions and interests. Simply mimic what <%= @child.replace_forms("#he/she#") %> does.</li>
	  <li><a href="#">Scaffolding</a> - Extending the play by providing the minimal level of support for your child needs to achieve what <%= @child.replace_forms("#he/she#") %> is attempting and to construct new skills and knowledge. </li>
	  <li><a href="#">Bridging</a> - Introducing new things into the dialogue by presenting new skills and information you think is important, but is still connected to the child's current interests/abilities.</li>
	  </ul>

	<p>Start by simply getting on the floor and mimicking exactly what your child is doing. See if <%= @child.replace_forms("#he/she#") %> notices you. Speculate what effect it is having. Try out this and the other strategies when playing with your child using our suggested activities below.</p>

	<p class="blue">Annie<br/>
	  Community Manager
	  </p>


	</div>
      
      <div class="content">
	<h1 class="center">Today's Game/Challenge:</h1>
	<h2 class="center percent-80">The Art of Playing & Learning - Helping your child succeed and pushing <%= @child.replace_forms("#his/her#") %> to go further.</h2>
	
	<table class="steps-table">
	  <tr>
	    <td class="col-1">STEP 1:</td>
	    <td class="col-2">Bring out a toy or game that <%= @child.replace_forms("#he/she#") %> loves and has had previous success with (i.e. puzzle or blocks). Encourage <%= @child.first_name -%> to play with the toy for 10-15 minutes. Watch for any changes or new discoveries that <%= @child.first_name -%> makes with this toy.</td>
	    </tr>
	  <tr>
	    <td class="col-1">STEP 2:</td>
	    <td class="col-2">Then replace the toy with a toy that <%= @child.first_name -%> has never played with before. Try to select a toy that is slightly ahead of <%= @child.replace_forms("#his/her#") %> stage/age level. If possible, prepare an extra toy (the same toy) for yourself. When <%= @child.first_name -%> does not seem interested in the toy or has problems succeeding with it, bring out your toy and play with it. Don't say anything but play in close proximity to <%= @child.first_name -%>. See if <%= @child.first_name -%> picks up on what you do and tries to apply it in <%= @child.replace_forms("#his/her#") %> play strategies.</td>
	  </tr>
	  <tr>
	    <td class="col-1">STEP 3:</td>
	    <td class="col-2">Once <%= @child.first_name -%> has a solid grasp on how to play with the new toy, bring out the previous toy and place it in front of <%= @child.first_name -%>. Stop playing and think about these question:
		  <ol>
		    <li>Which toy does <%= @child.first_name -%> play with when presented with both options?</li>
		    <li>Why do you think <%= @child.first_name -%> chose one over the other?</li>
		    <li>Which toy do you think <%= @child.first_name -%> was more interested in? Why?</li>
		    <li>Which toy do you think <%= @child.first_name -%> learned more from? Why?</li>
		    <li>Does <%= @child.first_name -%> use the same strategies when playing with both toys?</li>
		    </ol>
		  </td>
	  </tr>
	  </table>
	
	<h1>Take Action</h1>
	<p class="blue-box">When you have completed the above game/adventure. Take a shot at writing up your findings and posting them to <a href="<%= visit_timeline_url(:child_id => @child.id) -%>"><%= @child.first_name -%> Timeline</a></p>
	
	<h1>Available Resources (optional): </h1>
	<p>Books:</p>
	<p>
	  <a href="#">Einstein Never Used Flashcards</a> - How our children REALLY Learn, Kathy Hirsh-Pasek<br />
	  <a href="#">The Power of Play</a> - how spontaneous, imaginative activities lead to happier, healthier children, David Elkind
	  </p>
	<p></p>
	<p class="no-spacing">Videos:</p>
	<ul><li>The Still Face: <a href="http://www.youtube.com/watch?v=apzXGEbZht">http://www.youtube.com/watch?v=apzXGEbZht</a></li></ul>
	<p>Classic example of how parental reading of the baby's behavior (Watch) and a parent's responsiveness (Play) effects the baby, their emotions, experiences and development. It demonstrates how important your "responsiveness" is when playing with your baby.</p>
	<ul><li>eebee's Adventures Introduction - <a href="http://www.youtube.com/watch?v=eL4hyx1g4Gk">http://www.youtube.com/watch?v=eL4hyx1g4Gk</a></li></ul>
	<p>Eebee's Adventures provide a wonderful model for the type of play and learning that you and your baby can do with everything around the house. There is a series of "Adventures" (socially responsible video for babies) that you can enjoy in addition to the introduction video. Master all this play and your baby will be a "Master Player" and future Master of Life.</p>
	</div>
      
      </div>

  </body>
</html>
