<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="welcome_program.css" />
  </head>
  <body>
    
    <div class="container">
      <div class="header right">
	Jumpstart BabyFolio: <strong>Day 1</strong>
	</div>
      <div class="content">
	<h1>BIG IDEA:</h1>
	<h2 class="icon watch">Watch</h2>
	<p>Welcome <%= @user.get_user_name -%>!</p>

	<% if @user.profile_media -%>
	 <%= image_tag @user.get_image_src(:profile_medium), { :align => "right", :class => "portrait" } %>
	<% else -%>
	 <%= image_tag WelcomeProgramMailer.get_random_baby_image_src, { :align => "right", :class => "portrait" } -%>
	<% end -%>

	<p>Helping your baby thrive starts with "reading" <%= @child.replace_forms("#his/her#") %> behaviors and recognizing what's up and what it means. Imagine if you could look at <%= @child.first_name -%>'s daily play and easily see so much more about <%= @child.replace_forms("#his/her#") %> important developments and learning opportunities? You can get to the next level and we can help!  </p>

	<p>We know parents are very busy and overwhelmed with information. So instead of having to read everything and become a child development expert, we filter through and deliver just the information you need at just the right time. All we ask is for you to bring your knowledge about your child, which leads us to the Big Idea: Watching & Noticing (WATCH)</p>

	<p>Every child is unique. No general ages & stages information applies to your specific child. Our approach is tailored to your individual child based on what they are actually doing. We give you concrete and clear behaviors to watch for in each of your child's multiple intelligences (MI). As you practice, you will be able to better utilize these MI lenses to watch for and notice differences in your child's behavior and development.</p>
	
	<p class="no-spacing">Here's a quick list:</p>
	<table><tr>
	    <td>
	      <ul>
		<li><a href="<%= watch_children_url(:bid => (@behaviours['L'] ? @behaviours['L'].id : nil)) -%>">Language & Communication Intelligence</a></li>
		<li><a href="<%= watch_children_url(:bid => (@behaviours['N'] ? @behaviours['N'].id : nil)) -%>">Logic & Sequential Intelligence</a.</li>
		<li><a href="<%= watch_children_url(:bid => (@behaviours['S'] ? @behaviours['S'].id : nil)) -%>">Social Intelligence</a></li>
		</ul>
	      </td>
	    <td>
	      <ul>
		<li><a href="<%= watch_children_url(:bid => (@behaviours['V'] ? @behaviours['V'].id : nil)) -%>">Visual & Spatial Intelligence</a></li>
		<li><a href="<%= watch_children_url(:bid => (@behaviours['M'] ? @behaviours['M'].id : nil)) -%>">Movement & Bodily Intelligence</a></li>
		<li><a href="<%= watch_children_url(:bid => (@behaviours['E'] ? @behaviours['E'].id : nil)) -%>">Emotional Intelligence</a></li>
		</ul>
	      </td>
	    </tr>
	  </table>

	<p>This BabyFolio Journey you are embarking on is both rewarding and challenging. We promise that as a result of this 5 day program, you will begin to better know your baby--  watching and noticing at deeper levels. Try it out, experiment and explore climbing into the mind of your child. You will experience the joy of getting to know their world reading more from their daily behaviors. </p>
 
	<p>So take a deep breath, smile, and commit to give it a try for at least these 5 days.</p>

	<p>We'll be there to support you each step of the way and we know you will be pleased with the results.</p>

	<p class="blue">Annie<br/>
	  Community Manager
	  </p>
	</div>


      
      <div class="content">
	<h1 class="center">Today's Game/Challenge:</h1>
	<h2 class="center percent-80">The Art of Watching & Noticing - Reading behavior & taking your child's POV.</h2>
	
	<h1>Take Action</h1>
	
	<ul><li>Watch for and identify a behaviour that strikes you. It could be any behavior or moment, but best when <%= @child.replace_forms("#he/she#") %> is most animated, happy and laughing or engaged in the activity.</li></ul>
	
	<p>No worries about addressing all these questions just dive in and speculate about the ones that make the most sense to you. Experiment, speculate, </p>
	
	<p class="blue-box no-spacing">&bull; Spend a minimum of a 30 minute chunk of time giving <%= @child.first_name -%> your full undivided attention. Pull out a few of their favorite toys or things to do. Start playing, exploring, interacting-- get down on the floor and participate at <%= @child.replace_forms("#his/her#") %> level. Have fun with it!</p>
	
	<p class="no-spacing">there are no wrong answers. As you try it out you will be putting yourself into the mind of your baby.</p>
	
	<p class="blue-box">&bull; Try to crawl into <%= @child.first_name -%>'s mind for that moment. Take a guess at what you think is happening. Babies are intentional beings just like us, they all have some intent and reasons for their actions and behaviors. Think about these following questions about the behavior, situation or activity: <br />
	    <span class="indent">
	      1. What was your child interested in? Where was <%= @child.replace_forms("#his/her#") %> attention?<br />
	      2. What do you think he/she> was trying to do; what was <%= @child.replace_forms("#his/her#") %> goal?<br />
3. What was <%= @child.replace_forms("#his/her#") %> strategy (action taken) to achieve their goal. How did they go about trying to accomplish <%= @child.replace_forms("#his/her#") %> intent or goal?<Br />
4. Were any personality or character traits (eg persistence, curiosity, etc) required/revealed?  <br />
5. What emotions arose during the experience? How did they ebb and flow?<br />
</span>
</p>

<h1>Check out Available Resources (optional): </h1>

<p>Books:</p>

<p class="blue-box">When you have completed the above game/adventure. Take a shot at writing up your findings and posting them to <%= @child.first_name -%>'s Timeline.</p>

<ul><li><a herf="#">The Diary of A Baby, Daniel N. Stern</a> - Excellent book written from the baby's point of view so really helps you climb into the mind of your child.</li></ul>
<ul><li><a href="#">The Theory of Multiple Intelligences, Howard Gardner</a> - This book describes in detail why we humans have multiple intelligences and we are all born and develop an individual profile that makes us unique.</li></ul>

   <% unless @user.profile_media -%><p class="image_ref">Image courtesy of photostock / <a href="http://www.freedigitalphotos.net" target="_blank">FreeDigitalPhotos.net</a></p><% end -%>

</div>

      </div>

  </body>
</html>
