<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="welcome_program.css" />
  </head>
  <body>
    
    <div class="container">
      <div class="header right">
	Jumpstart BabyFolio: <strong>Day 3</strong>
	</div>
      <div class="content">
	<h1>BIG IDEA:</h1>
	<h2 class="play">Reflect</h2>
	<p>Congrats, you've made it to the third day and the next big idea: Reflect! </p>

	<p>As you Watch & Play at the next level, you will start to see patterns and signals about who <%= @child.first_name -%> truly is. </p>

	<p>Every child is different and engages with their world in unique ways. Just as an acorn transforms into a mighty oak tree, your baby will give off clues as to who they might be as an adult. Some minds are wired to create symphonies; while others are disposed to build bridges or computers; or to cure medical ailments. Different kinds of minds are destined to lead different adult lives. Just as an acorn holds the blueprint to the mighty oak, even at birth our children give off clues to who they might be as they grow up. </p>

	<p>Imagine if you could better see the big picture about who your child truly is and match opportunities to their interests and needs. You can get to the next level and we can help. </p>
	
	<p>Put on your thinking cap because today you're going to be brainstorming. We call this section Reflect because that's exactly what you'll be doing: You'll be reflecting on what kind of parent you want to be and how your child's interests and abilities are developing on what you've watched your child do and how you played with your child. What's awesome is you'll start to understand and improve your role and interactions. </p>
	
	<p>Did you know that your interactions support your child's very capacity to think, learn and act in the world?  </p>
	
	<p>Our Reflect section is designed to help you discover your child's interests and abilities and match the right experiences to help them flourish. </p>
	
	<p class="no-spacing">There are three important areas of reflection:</p>
	<table class="three-cols"><tr>
	    <td><ul><li><strong><a href="#">Your Child</a></strong></li></ul></td><td><ul><li><strong><a href="#">Your Role</a></strong></li></ul></td><td><ul><li><strong><a href="#">Materials</a></strong></li></ul></td>
	    </tr></table>
	
	<p>We've included some very thought-provoking questions for Today's Challenge. These questions are meant for you to think about your interactions with <%= @child.first_name -%> and draw out meaning for a deeper understanding of <%= @child.first_name -%>.s development.</p>
	
	<p>While thinking about these questions, also take the time to think about which intelligences you want to work on for the next two days. Which areas of development mean the most to you? Is it Language or Movement? Or perhaps, Logic and Number or Emotional? You'll be able to choose your preference by clicking on this <a href="<%= settings_url() -%>">link</a>, which will guide you to a Preference Management area in your account settings.</p>

	<p class="blue">Annie<br/>
	  Community Manager
	  </p>


	</div>
      
      <div class="content">
	<h1 class="center">Today's Game/Challenge:</h1>
	<h2 class="center percent-80">Take a look at the three groups of questions below. Here we encourage you to think on a deeper level about your vision for both your parenting and <%= @child.first_name -%>.s development.</h2>
	
	<table class="reflect-table">
	  <tr>
	    <td class="text">
	      YOUR CHILD:
	      <ol>
		<li>How well does your child react to new toys or a new environment? </li>
		<li>Has your child taken a strong approach to problem solving and exploration or communication and socializing, or both?</li>
		</ol>
	      </td>
	    <td class="image"></td>
	    </tr>
	  <tr>
	    <td class="image"></td>
	    <td class="text">
	      YOUR CHILD:
	      <ol>
		<li>How active are you in your interactions with your child?</li>
		<li>If when your child has difficulty doing something, how do you respond and support overcoming the difficulty?</li>
		</ol>
	      </td>
	  </tr>
	  <tr>
	    <td class="text">
	      MATERIALS:
	      <ol>
		<li>What kinds of materials do you provide your child with when playing and learning? </li>
		<li>Do you encourage your child's expression in a variety of different plays?</li>
		</ol>
	      </td>
	    <td class="image"></td>
	  </tr>
	  </table>
	
	<h1>Available Resources (optional): </h1>
	<p>Books:</p>
	<p>
	  <a href="#">The Element</a> - How finding your passion changes everythng, Ken Robinson<br />
	</p>
	</div>
      
      </div>

  </body>
</html>
