<div class="photos">

  <div class="header">
    <h2>Photos</h2>
    <div class="clear"></div>
  </div>
  <div>
    <% photos.each do |photo| %>

      <span class="image flickr-image" id="<%= photo.id %>" url="<%= FlickRaw.url_b(photo) %>" thumb_url="<%= FlickRaw.url_s(photo) %>" onclick="select_flickr_photo(this);return false;">
        <div class="thumb" style="background: url('<%= FlickRaw.url_s(photo) %>') no-repeat 0% 0%">
        </div>
        <%= check_box_tag "flickr_photos[]", FlickRaw.url_b(photo) -%>
        <%= check_box_tag "flickr_pids[]", photo.id -%>
        <%= check_box_tag "media_titles[]", photo.title -%>
        <div class="title">
          <span class="media_title_text hidden"><%= photo.title %></span>
          <%= truncate(photo.title, :length => 10) %>
        </div>
      </span>

    <% end %>
  </div>
  <div class="visiblity">    
    <%= select_tag :visiblity, options_for_select(Moment::VISIBILITY) -%>
  </div>
  <div>
    <%= submit_tag "Import Images" -%>
    <a href="#" onclick="go_to_flickr_sets();return false;">Go back</a>
  </div>

  
</div>
