<% if current_user.youtube_user %>

<div class="youtube">
  <div class="header">
    <h2>My Youtube videos</h2>
    <a href="#" class="upload-link">Upload video</a>
    <a href="#" class="close-btn">Close</a>
  </div>

  <div class="clear"></div>
  <div class="upload">
    <iframe src="<%= new_youtube_url -%>" width="720px" height="200px" scrolling="no"></iframe>
  </div>
  
  <div class="youtube-grid">

    <% current_user.youtube_user.my_videos.videos.each do |video| %>
    
    <span class="video">
      <div>

	<div class="checkbox-radiobutton">

   	     <%= check_box_tag 'youtube_videos[]', video.unique_id %>

	</div>
      	<div class="thumb" style="background: url('<%= video.thumbnails[0].url %>') 0% 0%">
	</div>
	<div class="title">
	  <%= truncate(video.title, :length => 20) -%>
	</div>
      </div>
    </span>
  
    <% end %>    
  </div>
</div>
<% else %>

  <%= render :partial => 'shared/services_connect', :locals => {:service => 'youtube'} %>

<% end %>

