<div class="container settings family-and-friends">
  <% if flash[:registration] %>
    <div id="steps">
      <table>
        <tr>
          <td class="title">Step 1:<br/>Create family</td>
          <td class="arrows" ></td>
          <td class="title active">Step 2:<br/>Invite Family Members</td>
          <td class="arrows" ></td>
          <td class="title">Step 3:<br/>Add Photos/Videos</td>
        </tr>
      </table>
    </div>
  <% end %>

  <div id="left">
    <div class="title">Step 2:<br/>Invite Family</div>
  </div>

  <div class="user-form">
    <%#*<div id="change-form">%>
      <%#*<a href="#family-members" class="current">Add family members</a>%>
      <%#*<a href="#email-addresses">Invite Friends</a>%>
    <%#*</div>%>

    <div id="family-members" class="first-form form">


      <%= form_tag create_friend_relations_families_path do %>
        <%= hidden_field_tag 'page', 'add_family' %>
        <div class="relations">
          <div class="relation row">
            <span class="label">
              <%= label_tag 'grandfuther', 'Grandfather' -%>
            </span>
            <span class="field">
              <%= text_field_tag 'friends[0][email]', '',{:placeholder => "Grandfather@gmail.com"}  -%>
            </span>
            <%= hidden_field_tag 'friends[0][member_type]', Relation::MEMBER_TYPE[:GRANDFATHER] -%>
            <a href="#" class="another" onclick="add_after(this);return false;">Add Another</a>
          </div>
          <div class="relation row">
            <span class="label">
              <%= label_tag 'grandmother', 'Grandmother' -%>
            </span>
            <span class="field">
              <%= text_field_tag 'friends[1][email]', '',{:placeholder => "Grandmother@gmail.com"} -%>
            </span>
            <%= hidden_field_tag 'friends[1][member_type]', Relation::MEMBER_TYPE[:GRANDMOTHER] -%>
            <a href="#" class="another" onclick="add_after(this);return false;">Add Another</a>
          </div>
          <div class="relation row">
            <span class="label">
              <%= label_tag 'uncle', 'Uncle' -%>
            </span>
            <span class="field">
            <%= text_field_tag 'friends[2][email]','',{:placeholder => "Uncle@gmail.com"} -%>
            </span>
            <%= hidden_field_tag 'friends[2][member_type]', Relation::MEMBER_TYPE[:UNCLE] -%>
            <a href="#" class="another" onclick="add_after(this);return false;">Add Another</a>
          </div>
          <div class="relation row">
            <span class="label">
              <%= label_tag 'aunt', 'Aunt' -%>
            </span>
            <span>
              <%= text_field_tag 'friends[3][email]','',{:placeholder => "Aunt@gmail.com"} -%>
            </span>
            <%= hidden_field_tag 'friends[3][member_type]', Relation::MEMBER_TYPE[:AUNT] -%>
            <a href="#" class="another" onclick="add_after(this);return false;">Add Another</a>
          </div>          
          <div class="relation row">
            <span class="label">
              <%= label_tag 'godmother', 'Godmother' -%>
            </span>
            <span class="field">
              <%= text_field_tag 'friends[5][email]','',{:placeholder => "Godmother@gmail.com"} -%>
            </span>
            <%= hidden_field_tag 'friends[5][member_type]', Relation::MEMBER_TYPE[:GODMOTHER] -%>
            <a href="#" class="another" onclick="add_after(this);return false;">Add Another</a>
          </div>
          <div class="relation row">
            <span class="label">
              <%= label_tag 'godfather', 'Godfather' -%>
            </span>
            <span class="field">
              <%= text_field_tag 'friends[6][email]','',{:placeholder => "Godfather@gmail.com"} -%>
            </span>
            <%= hidden_field_tag 'friends[6][member_type]', Relation::MEMBER_TYPE[:GODFATHER] -%>
            <a href="#" class="another" onclick="add_after(this);return false;" >Add Another</a>
          </div>
          <div class="submit">
            <%= submit_tag 'Submit' -%>
          </div>
          <div class="skip">
            <%= link_to 'Skip', add_friends_families_path %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="email-addresses" class="second-form form">

      <%= form_tag create_friends_families_path do %>
        <div>
          <b>To: </b>(Use commas to separate email addresses)
        </div>
        <div class="email row">
          <%= text_area_tag :emails, params[:emails], :rows => 10 -%>
        </div>
        <div>
          <b>Message:</b>(optional)
        </div>
        <div class="message row">
          <%= text_area_tag :message, params[:message], :rows => 10 -%>
        </div>
        <div>
          <div class="submit">
            <%= submit_tag 'Submit' -%>
          </div>
          <div class="skip">
            <%= link_to 'Skip', account_path %>
          </div>


        </div>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

</div>


<script type="text/javascript">

  var index = 7;
  function add_after(element) {
    var clone_div = $(element).parents('.relation').clone()

    clone_div.find('input[type=text]').attr({id: 'friends_'+index+'_email',name: 'friends['+index+'][email]'});
    clone_div.find('input[type=hidden]').attr({id: 'friends_'+index+'_member_type',name: 'friends['+index+'][member_type]'})
    index ++;
    clone_div.hide();
    $(element).parents('.relation').after(clone_div);
    clone_div.fadeIn();
    $(element).fadeOut();
    return false;

  }

  $(function(){
    $('#change-form a').click(function(){

      $('#change-form a').removeClass();
      $(this).addClass('current');
      $('.form').hide();
      $($(this).attr('href')).show();
      return false;
    })
  })


</script>


