<div class="container settings family-and-friends">
  <% if family_registration? %>
    <%= render "shared/registration_steps", :current_step => 2 %>
  <% end %>

  <div id="left">
    <div class="title">Step 2:<br/>Invite Friends</div>
  </div>
      
  <div class="user-form">    
    <div id="family-members" class="first-form form">

      <%= form_tag create_friend_relations_families_path do %>
        <%= hidden_field_tag 'page', 'add_friends' %>
        <div class="relations">
          <div class="relation row">
            <span class="label">
              <%= label_tag 'friend', 'Friend' -%>
            </span>
            <span class="field">
              <%= text_field_tag 'friends[0][email]', '',{:placeholder => "friend@gmail.com"}  -%>
            </span>
            <%= hidden_field_tag 'friends[0][member_type]', Relation::MEMBER_TYPE[:FRIEND] -%>
          </div>
          <div class="relation row">
            <span class="label">
              <%= label_tag 'friend', 'Friend' -%>
            </span>
            <span class="field">
              <%= text_field_tag 'friends[1][email]', '',{:placeholder => "friend@gmail.com"} -%>
            </span>
            <%= hidden_field_tag 'friends[1][member_type]', Relation::MEMBER_TYPE[:FRIEND] -%>
            <a href="#" class="another" onclick="add_after(this);return false;">Add Another</a>
          </div>
          <div class="submit">
            <%= submit_tag 'Submit' -%>
          </div>
          <div class="skip">
            <%= link_to 'Skip', family_registration? ? import_media_moments_path : family_relations_families_url %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="clear"></div>

</div>


<script type="text/javascript">

  var index = 2;
  function add_after(element) {
    var clone_div = $(element).parents('.relation').clone()

    clone_div.find('input[type=text]').attr({id: 'friends_'+index+'_email',name: 'friends['+index+'][email]'});
    clone_div.find('input[type=hidden]').attr({id: 'friends_'+index+'_member_type',name: 'friends['+index+'][member_type]'})
    index ++;
    clone_div.hide();
    $(element).parents('.relation').after(clone_div);
    clone_div.fadeIn();
    $(element).fadeOut();
    return false;
    
  }

  <%#*$(function(){%>
    <%#*$('#change-form a').click(function(){%>

      <%#*$('#change-form a').removeClass();%>
      <%#*$(this).addClass('current');%>
      <%#*$('.form').hide();%>
      <%#*$($(this).attr('href')).show();%>
      <%#*return false;%>
    <%#*})%>
  <%#*})%>

  
</script>

