<div>
  <%= form_tag create_friend_relations_families_path do %>
    <div class="relations">
      <div class="relation">
        <%= label_tag 'grandfuther', 'Grandfather' -%>
        <%= text_field_tag 'friends[0][email]' -%>
        <%= hidden_field_tag 'friends[0][member_type]', Relation::MEMBER_TYPE[:GRANDFATHER] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= label_tag 'grandmother', 'Grandmother' -%>
        <%= text_field_tag 'friends[1][email]' -%>
        <%= hidden_field_tag 'friends[1][member_type]', Relation::MEMBER_TYPE[:GRANDMOTHER] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= label_tag 'uncle', 'Uncle' -%>
        <%= text_field_tag 'friends[2][email]' -%>
        <%= hidden_field_tag 'friends[2][member_type]', Relation::MEMBER_TYPE[:UNCLE] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= label_tag 'aunt', 'Aunt' -%>
        <%= text_field_tag 'friends[3][email]' -%>
        <%= hidden_field_tag 'friends[3][member_type]', Relation::MEMBER_TYPE[:AUNT] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= label_tag 'friend', 'Friend' -%>
        <%= text_field_tag 'friends[4][email]' -%>
        <%= hidden_field_tag 'friends[4][member_type]', Relation::MEMBER_TYPE[:FRIEND] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= label_tag 'godmother', 'Godmother' -%>
        <%= text_field_tag 'friends[5][email]' -%>
        <%= hidden_field_tag 'friends[5][member_type]', Relation::MEMBER_TYPE[:GODMOTHER] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= label_tag 'godfather', 'Godfather' -%>
        <%= text_field_tag 'friends[6][email]' -%>
        <%= hidden_field_tag 'friends[6][member_type]', Relation::MEMBER_TYPE[:GODFATHER] -%>
        <a href="#" class="another" >Add Another</a>
      </div>
      <div class="relation">
        <%= submit_tag 'Submit' -%>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function(){
    var index = 7;
    
    $('.another').click(function(){
      var clone_div = $(this).parents('.relation').clone()

      $(this).add(clone_div);

      console.log(clone_div);
      
    })
    
  })
</script>