<h2>Edit family relation for <%= (@relation.display_name || @relation.user.get_user_name) %>(<%= @relation.user.email %>)</h2>

<%= form_tag update_relation_path, :class => "update-relation-form" do %>
    <%= hidden_field_tag "relation_id", @relation.id %>
    <div class="row">
        <span class="label"><%= label_tag "Display Name" %></span>
        <%= text_field_tag :display_name, @relation.display_name -%>
    </div>

    <div class="row">
        <span class="label"><%= label_tag "Relationship" %></span>
        <%= select_tag :relation_type, options_for_select(Relation::TYPE_KEYS, @relation.member_type), {:class => "select-layout" } -%>
    </div>

    <div class="row">
        <span class="label"><%= label_tag "Is Admin" %></span>
        <%= radio_button_tag "is_admin", true, @relation.is_admin %>
        <label for="is_admin_true">Yes</label>
        <%= radio_button_tag "is_admin", false, !(@relation.is_admin) %>
        <label for="is_admin_false">No</label>
    </div>

    <%= link_to "Back", settings_tab_path(:tab => "family-friends-information", :family_id => @relation.child.family.id), :class => "btn btn-big update-relation-back-btn" %>
    <%= submit_tag "Update", :class => "btn btn-big update-relation-btn" %>
<% end %>