<div class="container settings family-relations-info">
  <div id="left">
    <div id="title">Edit Account</div>
    <div id="change-form">
      <a href="<%= edit_account_path %>">Main Settings</a>
      <a href="<%= edit_families_path %>">My Family Info</a>
      <a href="#" class="current">Friends & Families</a>

      <%= render :partial => 'select_family' %>
      
    </div>

      <% if user_is_parent? %>
      <div class="add-friend">
        <a href="<%= add_family_families_path -%>">Add Family</a>
      </div>
      <div class="add-friend">
        <a href="<%= add_friends_families_path -%>">Add Friend</a>
      </div>
      <div class="add-friend">
        <%= link_to "Add parent", add_parent_families_url if current_family.parents.length < 2 and current_family.is_user_parent?(current_user.id) %>
      </div>
    <% end %>

  </div>
  <div class="user-form">

    <h2>Parents</h2>
    <div class="parents">
      <% @parents.each do |parent| %>
        <div class="row user">
	  <div class="avatar">
	    <%= get_image_tag parent.user, "medium" -%>
	  </div>
          <div class="user-info">
            <div class="name"><%= parent.user.first_name -%></div>
            <div><%=  parent.user.email %></div>
            <div><%= parent.member_type %></div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="friends">
      <h2>Family & Friends</h2>
      <% @rest.each do |member| %>
        <div class="row user">
	  <div class="avatar">
	    <%= get_image_tag member.user, "medium" -%>
	  </div>
          <div class="user-info">
            <div class="name"><%= member.user.first_name -%> <%= link_to 'Remove', relation_path(member), :confirm => "Are you sure?", :method => :delete, :class => 'remove' if user_is_parent? -%></div>
            <div><%=  member.user.email %></div>
            <div><%= member.member_type %></div>
            <div><%= member.user.first_name -%> <%= member.user.last_name -%></div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>

    <% unless @pending.empty? %>

    <div class="clear"></div>
    <div class="pending">
      <h2>Pending invitations</h2>
      <% @pending.each do |member| %>
        <div class="row user">
	  <div class="avatar">
	    <%= get_image_tag member.user, "medium" -%>
	  </div>
          <div class="user-info">
            <div class="name"><%= member.user.first_name -%> <%= link_to 'Remove', relation_path(member), :confirm => "Are you sure?", :method => :delete, :class => 'remove' if user_is_parent? -%></div>
            <div><%=  member.user.email %></div>
            <div><%= member.member_type %></div>
            <div><%= member.user.first_name.to_s + " " + member.user.last_name.to_s -%></div>
          </div>
          <div class="clear"></div>
        </div>
      <% end %>
    </div>

    <% end %>

  </div>
  <div class="clear"></div>
</div>
