<h1>Create family</h1>
<h2><%= flash[:notice] %></h2>

<%= form_for @family do |f| -%>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :children do |child_form| %>
    <div>
      <%= child_form.label :first_name %>
      <%= child_form.text_field :first_name %>
    </div>
  <% end %>

  <%= f.submit "Create" %>
<% end %>
