<h4 class="arvo">Change Your Password</h4>

    <%= form_for user, :url => {:action => "update_password" }, :remote => true, :method => :put, :html => {:id => "change-password-form"} do |form| %>
        <%#= render "shared/error_messages", :target => user, :summary => "There were some errors with your password change:" %>

        <div class="password row">
          <span class="label">
            <%= form.label :current_pass, "Current Password" %>
          </span>
          <span class="field">
            <%= form.password_field :current_pass %>
          </span>
        </div>


        <div class="password row">
          <span class="label">
            <%= form.label :password, "New Password" %>
          </span>
          <span class="field">
            <%= form.password_field :password %>
          </span>
        </div>

        <div class="password row">
          <span class="label">
            <%= form.label :password_confirmation, "Confirm Password" %>
          </span>
          <span class="field">
            <%= form.password_field :password_confirmation %>
          </span>
        </div>

          <div class="submit row">            
            <%= form.submit "Update", :class => 'btn right' %>
          </div>

    <% end %>
    <div class="clear"></div>
    