<%#= render "shared/error_messages", :target => user %>

<div class="first-name row">
  <span class="label">
    <%= form.label :first_name %>
  </span>
  <span class="field">
    <%= form.text_field :first_name %>
  </span>
</div>
<div class="last-name row">
  <span class="label">
    <%= form.label :last_name %>
  </span>
  <span class="field">
    <%= form.text_field :last_name %>
  </span>
</div>

<% unless @edit %>
  <div class="email row">
    <span class="label">
      <%= form.label :email %>
    </span>
    <span class="field">
      <%= form.text_field :email %>
    </span>
  </div>
<% else %>
  <div class="row">
    <span class="label">
      <%= form.label :email %>
    </span>
    <span class="field">
      <%= user.email %>
    </span>
  </div>
<% end %>

<% if user.new_record? || current_user.is_temporary %>
    <div class="password row">
      <span class="label">
        <%= form.label :password, form.object.new_record? || @edit_password ? nil : "Change password" %>
      </span>
      <span class="field">
        <%= form.password_field :password %>
      </span>
    </div>

    <div class="password row">
      <span class="label">
        <%= form.label :password_confirmation, "Confirm Password" %>
      </span>
      <span class="field">
        <%= form.password_field :password_confirmation  %>
      </span>
    </div>
<% end %>

<%= hidden_field_tag 'user_profile_media' %>
<div id="file-registration-uploader"></div>

  <script type="text/javascript">
  $(function() {
    var uploader = new qq.FileUploader({
        element: document.getElementById('file-registration-uploader'),
        action: '<%= create_profile_photo_path -%>',
        params: {},
        onComplete: function(id, fileName, responseJSON){

          $('#user_profile_media').val(responseJSON.media_id);
          var prof_img = $('#profile_image');
          $('#login_right #file-registration-uploader .qq-uploader .qq-upload-button').css({backgroundImage : 'url(' + responseJSON.img_url + ')'})

        }
    });

  });
</script>





