<div id="user-edit">
  <div class="user-form">

    <%= form_for @user, :url => account_path do |f| %>
      <%= render :partial => "form", :object => f, :locals => { :user => @user, :edit => @edit} %>
      <div class="clear"></div>

      <div id="edit-user-buttons">
        <%= link_to "Back", settings_path, :class => 'btn btn-big btn-big-back' %>
        <%= link_to "Change password", "#change-password-wrapper", :class => "show-password-change btn btn-big" %>
        <%= f.submit "Update", :class => 'btn btn-big' %>
      </div>
      <%= link_to "de-activate account" , "#", :id => "deactivate-btn" %>

    
    <% end %>
    <div id="change-password-wrapper" class="dialog">
            <%= render :partial => "users/change_password", :locals => {:user => current_user} %>
    </div>


  </div>
  <div class="clear"></div>
</div>


<script type="text/javascript">
      $(function() {
        $('.show-password-change').click(function() {
          $($(this).attr('href')).dialog({modal: true});
          return false;
        });

        $('#change-password-form').live('ajax:success', function(xhr, data) {
          $('#change-password-wrapper').html(data);
        });
      });


    function closeDialog(closeBtn) {
      $(closeBtn).parents('.dialog').dialog('close');
    }
</script>