<% content_for :middle_bar do %>
 
  <div class="right-column">
    <div class="step-arrow" id="watching-baby"><span>Describe Your Baby</span></div>
    <div class="step-arrow" id="add-baby"><span>Add/Join a BabyFolio</span></div>
    <div class="step-arrow active" id="create-acc"><span>Create Account</span></div>
  </div>
  <div class="clear"></div>

<% end %>

<div id="registration-first">
  <div class="left-column">
    <div id="left-column-tooltip" class="<%= "annie-highlight" unless @user.errors.empty? %>">
      <%= image_tag @page.cf("left_sidebar_image","reg_step1") -%>
      <h4><%= @page.cf("left_sidebar_headline") -%></h4>
      <p><%= @page.cf("left_sidebar_content") -%></p>
      <div class="clear"></div>
    </div>
  </div>

  <div class="right-column">
    <div class="user-form">
      <%= form_for @user, :url => account_path(@user), :method => :post do |f| -%>        

        <div id="login_right">
          <%= render :partial => "form", :object => f, :locals => { :user => @user } -%>
          <div class="clear"></div>
          <div class="submit">
            <%= f.submit "Continue", :class => "btn btn-big" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      <% end %>      
    </div>
  </div>
  <div class="clear"></div>
</div>
