<% content_for :middle_bar do %>
 
  <div class="right-column">
    <% if current_user && current_user.is_temporary -%>
    <div class="step-arrow temporary" id="step3-breadcrumb"><span>What is your baby's name?</span></div>
    <div class="step-arrow active temporary" id="step2-breadcrumb"><span>What is your name?</span></div>
    <div class="step-arrow active done temporary" id="step1-breadcrumb"><span>What is your baby doing?</span></div>
    <% else -%>
    <div class="step-arrow" id="watching-baby"><span>Describe Your Baby</span></div>
    <div class="step-arrow" id="add-baby"><span>Add/Join a BabyFolio</span></div>
    <div class="step-arrow active" id="create-acc"><span>Create Account</span></div>
    <% end -%>
  </div>
  <div class="clear"></div>

<% end %>

<div id="registration-first">
  <div class="left-column">
    <div id="left-column-tooltip" class="<%= "annie-highlight" unless @user.errors.empty? %>">
      <%= image_tag @page.cf("left_sidebar_image","reg_step1") -%>
      <h4><%= @page.cf("left_sidebar_headline") -%></h4>
      <p><%= @page.cf("left_sidebar_content") -%></p>
      <div class="clear"></div>
    </div>
  </div>

  <div class="right-column">
    <div class="user-form">
      <%= form_for @user, :url => ((current_user && current_user.is_temporary) ? registration_update_temporary_user_path : account_path(@user)), :method => :post do |f| -%>        

        <div id="login_right">
          <%= render :partial => "form", :object => f, :locals => { :user => @user } -%>
          <div class="clear"></div>
          <div class="submit">
            <%= f.submit "Continue", :class => "btn btn-big" %>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      <% end %>      
    </div>
  </div>
  <div class="clear"></div>
</div>
<% if current_user && current_user.is_temporary %>

<div id="user-free-dev-popup" class="hidden">
  <div id="user-free-dev-popup-inner">
    <h3>Great, thanks for completing the profile!</h3>
    <p>Based on our answers,we can now identify the most important developments across your child's multiple intelligences, e.g. Language and Logic.</p>
    <p>While we generate the profile results, please take a moment to complete registration.</p>
    <div><%= link_to "Okay", child_reflect_children_path, :class => 'btn jqmClose' %></div>
    <a href="#" class="close-popup-icon jqmClose">Close</a>
  </div>
</div>


<%= javascript_include_tag 'jqModal' -%>
<script type="text/javascript">
  $(function() {
  $('#user-free-dev-popup').jqm({modal:true});
  $('#user-free-dev-popup').jqmShow();
  });
</script>


<% end %>
