<html>
  <head>
    <title>Reflect</title>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div id="bf-mobile">
      <div id="reflect-content-window" class="left">    
        <div class="popup-wrapper">
          <% if @behaviour == nil %>
            <div class="unfinished-questionnaire-notice">
              <h4>Hey there, to see information about these intelligences, you'll have to complete your baby's registration first.  Would you like to do that now?</h4>
              <%= link_to "Yes", initial_questionnaire_path, :class => "btn" %> <%= link_to "No", "#", :class => "btn" %>
            </div>

          <% else %>

            <% if @lengths.size != 1 %>

              <% if @type == "str" %>
                <%= @str_text.gsub('<INTELLIGENCE>', category_name(@behaviour.category)).gsub('<WTitle>', @behaviour.title_present).gsub('<WTitlePast>', @behaviour.title_past).gsub('<PTip>', current_child.replace_forms(@behaviour.parenting_tip1)).html_safe %>
              <% elsif @type == "weak" %>
                <%= @weak_text.gsub('<INTELLIGENCE>', category_name(@behaviour.category)).gsub('<WTitle>', @behaviour.title_present).gsub('<WTitlePast>', @behaviour.title_past).gsub('<PTip>', current_child.replace_forms(@behaviour.parenting_tip1)).html_safe %>
              <% elsif @type == "avg" %>
                <%= @avg_text.gsub('<INTELLIGENCE>', category_name(@behaviour.category)).gsub('<WTitle>', @behaviour.title_present).gsub('<WTitlePast>', @behaviour.title_past).gsub('<PTip>', current_child.replace_forms(@behaviour.parenting_tip1)).html_safe %>
              <% end %>

            <% else %>

              <h4><%= current_child.first_name %> also has <%= category_name(@behaviour.category) %> development based on the behavioral milestones he has already exhibited.</h4>
              <p>Recently, <%= current_child.first_name %> Prentended While Playing.</p>
              <%= format_text (@page.cf("right_sidebar_activities")); -%>

            <% end %>
            <p>
            <% @behaviour.activities.each do |activity| %>
              <a href="<%= api_v1_play_path(:aid => activity.id) %>" class="btn"><%= current_child.replace_forms(truncate(activity.title, :length => 40)).html_safe %></a>
            <% end %>
            </p>
            <a href="#" class="behaviour-details hidden" data-category="<%= @behaviour.category %>" data-behaviour="<%= @behaviour.title_past %>" data-id="<%= @behaviour.id %>"></a>
          <% end %>
        </div>

      </div>
    </div>
  </body>
</html>

