<html>
  <head>
    <title><%= @behaviour ? @behaviour[:title] : "Watch" %></title>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div id="bf-mobile">
      <div class="play-popup <%= @behaviour[:time] %> <%= "checked" if @behaviour[:checked] %>">
        <div class="popup-wrapper">
          <h4><%= @behaviour[:title] %></h4>

          <div class="show-future">future behavior</div>
          <div class="show-past">exhibited behavior. <span><%= current_child.first_name.capitalize %> already performed this action for you.</span></div>

          <p><%= @behaviour[:desc_long] %></p>            
          <%= format_text @page.cf("right_sidebar_examples") -%>
          <ul class="variations">
            <%= content_tag(:li, @behaviour[:example1], {}, false) if @behaviour[:example1].present? %>
            <%= content_tag(:li, @behaviour[:example2], {}, false) if @behaviour[:example2].present? %>
            <%= content_tag(:li, @behaviour[:example3], {}, false) if @behaviour[:example3].present? %>              
          </ul>

          <%= format_text @page.cf("right_sidebar_recommended") -%>
          <p>
          <% @behaviour[:activities].each do |a| %>
            <%= link_to a.title, api_v1_play_path(:aid => a.id), :class => "btn" %>
          <% end %>
          </p>

          <%= format_text @page.cf("right_sidebar_why_important") -%>                          
          <p><%= @behaviour[:why_important] %></p>

          <%= content_tag(:p, "TIP: " + @behaviour[:parenting_tip1], {}, false) if @behaviour[:parenting_tip1].present? %>
          <%= content_tag(:p, @behaviour[:parenting_tip2], {}, false) if @behaviour[:parenting_tip2].present? %>          

          <hr />

          <div class="theory">
            <%= format_text @page.cf("right_sidebar_theory") -%>                          
            <%= content_tag(:p, @behaviour[:theory], {}, false) unless @behaviour[:theory].blank? %>
          </div>
          <div class="references">
            <%= format_text @page.cf("right_sidebar_references") -%>                          
            <%= content_tag(:p, @behaviour[:references], {}, false) unless @behaviour[:references].blank? %>
          </div>
          <div class="clear"></div>

        </div>
      </div>
    </div>
  </body>
</html>
