<div class="facebook-connection">
  <%= image_tag "/images/facebook_ico.png" -%>
  <% if current_user.has_facebook_account? %>

  <h2>Connected</h2>
  <%= link_to "Click here to disconnect", "#", :onclick => "$.get('#{disconnect_url(:provider => 'facebook')}',function(data){$('#social-connections').html(data);$('#social-connections .preloader').stop().fadeOut()});return false;" -%>
  <% else %>

    <h2>Not Connected</h2>

  <% end %>
  <div class="clear"></div>
</div>

<div class="flickr-connection">
  <%= image_tag "/images/flickr_ico.png" -%>	
  <% if current_user.flickr_user %>

  <h2>Connected</h2>
  <%= link_to "Click here to disconnect", "#", :onclick => "$.get('#{disconnect_url(:provider => 'flickr')}',function(data){$('#social-connections').html(data);$('#social-connections .preloader').stop().fadeOut()});return false;" -%>

  <% else %>

  <h2>Not connected</h2>

  <% end %>

  <div class="clear"></div>
</div>

<div id="youtube-connection">
  <%= image_tag "/images/youtube_ico.png" -%>
  <% if current_user.youtube_user %>
   <h2>Connected</h2>
   <%= link_to "Click here to disconnect", "#", :onclick => "$.get('#{disconnect_url(:provider => 'youtube')}',function(data){$('#social-connections').html(data);$('#social-connections .preloader').stop().fadeOut()});return false;" -%>
  <% else %>
   <h2>Not Connected</h2>
  <% end %>

  <div class="clear"></div>
</div>

<div if="vimeo-connection">
  <%= image_tag "/images/vimeo_ico.png" -%>
  <% if current_user.has_vimeo_account? %>
    <h2>Connected</h2>
    <%= link_to "Click here to disconnect", "#", :onclick => "$.get('#{disconnect_url(:provider => 'vimeo')}',function(data){$('#social-connections').html(data);$('#social-connections .preloader').stop().fadeOut()});return false;" -%>
  <% else %>
    <h2>Not connected</h2>
  <% end %>

  <div class="clear"></div>
</div>


