<% if media_item.kind_of? MediaFlickr %>

  <span class="image flickr-image" id="<%= media_item.media_id %>">
    <div class="thumb" style="background: url('<%= media_item.image.url(:medium) %>') no-repeat 0% 0%">
    </div>
    <input type="hidden" name="flickr_photos[]" value=""></input>
    <input type="hidden" name="flickr_pids[]" value="<%= media_item.media_id -%>"></input>
  </span>

<% elsif media_item.kind_of? MediaFacebook %>

  <span class="image facebook-image" id="<%= media_item.media_id%>">
    <div class="thumb" style="background-image: url('<%= media_item.image.url(:medium) %>')">
    </div>
    <input type="hidden" name="facebook_photos[]" value=""/>
    <input type="hidden" name="facebook_pids[]" value="<%= media_item.media_id %>"/>
  </span>

<% elsif media_item.kind_of? MediaImage %>

  <span class="image" id="<%=  media_item.id %>">
     <div class="thumb" style="background-image: url('<%= media_item.image(:moment_thumb) -%>')"></div>
     <input type="hidden" value="<%= media_item.id %>" name="uploaded_images_pids[]"/>
  </span>

<% elsif media_item.kind_of? MediaVimeo %>

  <% video = media_item.vimeo_object %>  
  <% unless video.nil? %>
    <span class="video vimeo-video" id="<%= media_item.media_id -%>" type="video">
      <div>
        <div class="checkbox-radiobutton">
          <%= check_box_tag 'vimeo_videos[]', video["id"], true %>
        </div>
        <div class="thumb">
          <%= image_tag (video["thumbnail_medium"].nil? ? video["thumbnails"]["thumbnail"][1]["_content"] : video["thumbnail_medium"] ) -%>
        </div>
      </div>
    </span>
  <% else %>
    <span class="video youtube-video error">
      <div>
        <div class="thumb">
          The video was not found.
        </div>
      </div>
    </span>
  <% end %>

<% elsif media_item.kind_of? MediaYoutube %>

  <% video = media_item.youtube_object %>
  <% unless video.nil? %>
    <span class="video youtube-video" id="<%= media_item.media_id -%>">
       <div>
          <div class="checkbox-radiobutton">
            <%= check_box_tag 'youtube_videos[]', media_item.media_id, true %>
          </div>
          <div class="thumb" style="background: url('<%= video.thumbnails[0].url %>') 0% 0%">
          </div>
        </div>
    </span>
  <% else %>
    <span class="video youtube-video error">
      <div>
        <div class="thumb">
          The video was not found.
        </div>
      </div>
    </span>
  <% end %>

<% end %>
