<% if media_item.kind_of? MediaFlickr %>

  <span class="image flickr-image" id="<%= media_item.media_id %>">
    <div class="thumb" style="background: url('<%= media_item.image.url(:medium) %>') no-repeat 0% 0%">
    </div>
    <input type="hidden" name="flickr_photos[]" value=""></input>
    <input type="hidden" name="flickr_pids[]" value="<%= media_item.media_id -%>"></input>
  </span>

<% elsif media_item.kind_of? MediaFacebook %>

  <span class="image facebook-image" id="<%= media_item.media_id%>">
    <div class="thumb" style="background-image: url('<%= media_item.image.url(:medium) %>')">
    </div>
    <input type="hidden" name="facebook_photos[]" value=""/>
    <input type="hidden" name="facebook_pids[]" value="<%= media_item.media_id %>"/>
  </span>

<% elsif media_item.kind_of? MediaImage %>

  <span class="image" id="<%=  media_item.id %>">
     <div class="thumb" style="background-image: url('<%= media_item.image(:moment_thumb) -%>')"></div>
     <input type="hidden" value="<%= media_item.id %>" name="uploaded_images_pids[]"/>
  </span>

<% elsif media_item.kind_of? MediaVimeo %>

<% begin %>

    <% client = media_item.user.vimeo_client %>
    <% video = client.get_info(media_item.media_id) %>
    <% video = video["video"][0] %>
    <span class="video vimeo-video" id="<%= media_item.media_id -%>" type="video">
      <div>
        <div class="checkbox-radiobutton">
          <%= check_box_tag 'vimeo_videos[]', video["id"], true %>
        </div>
        <div class="thumb">
          <%= image_tag video["thumbnails"]["thumbnail"][1]["_content"] %>
        </div>
      </div>
    </span>        
<% rescue %>
<span class="video youtube-video">
  <div>
    <div class="thumb">
      Vimeo connection lost
    </div>
  </div>
</span>
<%  end %>

<% elsif media_item.kind_of? MediaYoutube %>

  <% begin %>

  <% video = media_item.user.youtube_user.my_video(media_item.media_id) %>

  <span class="video youtube-video" id="<%= video.unique_id -%>">
     <div>
        <div class="checkbox-radiobutton">
          <%= check_box_tag 'youtube_videos[]', video.unique_id, true %>
        </div>
        <div class="thumb" style="background: url('<%= video.thumbnails[0].url %>') 0% 0%">
        </div>
      </div>
  </span>

  <% rescue %>

  <span class="video youtube-video">
    <div>
      <div class="thumb">
        Youtube connection lost
      </div>
    </div>
  </span>

  <% end %>

<% end %>
