<% content_for :middle_bar do %>
    <span><%= format_text @page.cf("about_us") -%></span>
<% end %>

      <div id="about-tabs">
        <ul id="about-tabs-ul">
          <li><a href="#overview-tab">Overview</a></li>          
          <li><a href="#how-tab">How It Works</a></li>
          <li><span>Philosophy & Approach:</span></li>
          <li><a href="#manifesto-tab" id="manifest-tab-btn" class="indent-link">Parenting Manifesto</a></li>
          <li><a href="#role-tab" class="indent-link">Role of Research</a></li>
          <li><a href="#different-tab" class="indent-link">What’s different</a></li>
          <li><span>Key Terms & Ideas:</span></li>
          <li><a href="#multi-tab" class="indent-link">Multiple Intelligences</a></li>
          <li><a href="#lw-tab" class="indent-link">Learning Windows</a></li>
          <li><a href="#faq-tab">FAQs</a></li>
          <li><a href="#experts-tab">Our Team of Experts</a></li>
        </ul>

        <div id="overview-tab" class="tab">
          <div class="pointing-arrow"></div>
	  <%= format_text @page.cf("overview") -%>
        </div>

        <div id="how-tab" class="tab">
          <div class="pointing-arrow"></div>
	  <%= format_text @page.cf("how_it_works") -%>          
        </div>

        <div id="manifesto-tab" class="tab">
          <div class="pointing-arrow"></div>
          <%= format_text @page.cf("parenting_manifesto") -%>
        </div>

        <div id="role-tab" class="tab">
          <div class="pointing-arrow"></div>
	  <%= format_text @page.cf("role_of_research") -%>
        </div>

        <div id="different-tab" class="tab">
          <div class="pointing-arrow"></div>
	  <%= format_text @page.cf("whats_different") -%>
        </div>

        <div id="multi-tab" class="tab">
          <div class="pointing-arrow"></div>
          <%= format_text @page.cf("multiple_intelligences") -%>
        </div>
               
        <div id="lw-tab" class="tab">
          <div class="pointing-arrow"></div>
          <%= format_text @page.cf("lerning_windows") -%>
        </div>

        <div id="faq-tab" class="tab">
          <div class="pointing-arrow"></div>
	  <%= format_text @page.cf("faqs") -%>
        </div>

        <div id="experts-tab" class="tab">
          <div class="pointing-arrow"></div>
	  <%= format_text @page.cf("our_team_experts") -%>
        </div>             
       
        <div class="clear"></div>
      </div>


<script type="text/javascript">
  $(function() {
      $('#about-tabs').tabs();
      
    });
</script>
