<% content_for :middle_bar do %>
  <div id="middle-bar-inner-wrapper" class="arvo">    
    <%= @page.cf "title" -%>
    <div class="get-started-container">
      <a href="<%= signup_path %>" class="btn btn-big" id="get-started-btn">Get Started</a><br />
      (It's Free)
    </div>
  </div>
<% end %>

<div id="home">

  <div class="left-column">
    <%= image_tag @page.cf("left_sidebar_image","homepage") -%>
    <p id="featured-in-text"><%= @page.cf("left_sidebar_text") -%></p>
    <div><%= link_to "Find out more", about_path , :class => "btn" %></div>
  </div>

  <div class="right-column">
    <div id="circle-display">
      <div id="watch-display">
        <h1 class="arvo">Watch</h1>
        <p class="arvo"><%= @page.cf("watch_text") -%></p>
      </div>
      <div id="reflect-display">
        <h1 class="arvo">Reflect</h1>
        <p class="arvo"><%= @page.cf("reflect_text") -%></p>
      </div>
      <div id="play-display">
        <h1 class="arvo">Play</h1>
        <p class="arvo"><%= @page.cf("play_text") -%></p>
      </div>
      <div id="plus-display">
        <h1 class="arvo"><%= @page.cf("plus_display_headline") -%></h1>
        <p class="arvo"><%= @page.cf("plus_display_text") -%></p>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

