<div class="container settings">
  <div id="left">
    <div class="title">TESTING SOCIALS PARTIAL</div>
  </div>
  <div class="user-form">

    
    <%= render :partial => 'uploaded_images/select_uploaded_images' %>



    <%= form_tag "/socials_create" do %>

    <div id="youtube-ajax-container" class="multiselect">
      <%= render :partial => 'youtube/select_youtube_videos' %>
    </div>

    <div id="vimeo-ajax-container" class="multiselect">
      <%= render :partial => 'vimeo/multiselect_vimeo_videos' %>
    </div>


    <script type="text/javascript" src="/js/youtube_videos.js"></script>
    <hr/>

    <div id="flickr-ajax-container" class="multiselect ajax-container">
      <%= render :partial => 'flickr/select_flickr_photos'-%>
    </div>
    <script type="text/javascript" src="/js/flickr.js"></script>
    <hr/>

    <div id="facebook-ajax-container" class="multiselect ajax-container">
      <%= render :partial => 'facebook/select_facebook_photos'-%>
    </div>
    <script type="text/javascript" src="/js/facebook_photos.js"></script>
    <hr/>

    <%= submit_tag "Submit" %>
    <% end %>
  </div>



  <div class="clear"></div>
</div>
