<div class="photos">

<div class="header">
  <h2>Photos <a href="#" onclick="$.get('<%= facebook_albums_url %>',function(data){$('#facebook-ajax-grid').html(data);$('#facebook-ajax-container .preloader').stop().fadeOut()});return false;">Back to albums</a></h2>  
</div>

<% @photos.each do |photo| %>
  <%# index = photo.images.index {|img| img.width <= 180} %>
      <span class="image facebook-image" id="<%= photo.identifier %>" url="<%= photo.source %>" thumb_url="<%= photo.images[-2].source %>">
    <div class="thumb" style="background-image: url('<%= photo.images[-2].source %>')">
    </div>
    <div class="title">
      <span class="media_title_text hidden"><%= photo.name %></span>
      <%= truncate(photo.name, :length => 10) %>
    </div>
  </span>

<% end %>

</div>


