<% @photos.each do |photo| %> 
  <div class="single_facebook_image" parent="img_details_<%= photo.id %>">
     <% index = photo.images.index {|img| img.width <= 180} %>
    <div class="single_facebook_image_pic" style="background-image: url(<%= photo.images[index].source  %>)"></div>

    <div class="img_details hidden" id="<%= photo.identifier %>" name="<%= photo.id -%>" parent="img_details_<%= photo.id %>">
      <%= image_tag photo.images.last.source %><%= link_to "Remove", '#', :class => "remove_img" %>     
      <%= link_to "", photo.source, :class => 'hidden img_value' %>
    </div>
  </div>
<% end %>

<div class="clear"></div>



