<div class="photos">

<div class="header">
  <h2>Photos</h2>  
</div>

<% @photos.each do |photo| %>
  <%# index = photo.images.index {|img| img.width <= 180} %>
      <span class="image facebook-image" id="<%= photo.identifier %>" url="<%= photo.source %>" thumb_url="<%= photo.images[-2].source %>">
    <div class="thumb" style="background-image: url('<%= photo.images[-2].source %>')">
    </div>
    <div class="title">
      <span class="media_title_text hidden"><%= photo.name %></span>
      <%= truncate(photo.name, :length => 10) %>
    </div>
  </span>

<% end %>
  <div class="back-button">
    <a href="#" onclick="$.get('<%= facebook_albums_url %>',function(data){$('#facebook-ajax-grid').html(data);$('#facebook-ajax-container .preloader').stop().fadeOut(); $('#top-socials-navigation .provider[provider=uploaded-images]').show();});return false;"><< Back</a>
  </div>
</div>


