<% if question.present? %>        
  <div class="single-question-cover"> </div>
  <%= hidden_field_tag "questions[]", question.id  %>
  <div class="category-circle category-circle-<%= question.category %>"></div>

  <p><%=  current_child.replace_forms(question.text) %></p>
  <div class="seen-btn-wrapper">
    <%= link_to "I've seen this", api_v1_update_seen_path(:child_id => current_child.id, :question => question.id, :start_age => @q_age, :value => 1), :remote => true, :disable_with => 'Please wait...', :method => :post, :class => "btn q_#{question.id}" %>
    <%= link_to "I haven't seen this yet", api_v1_not_seen_path, :remote => false, :disable_with => 'Please wait...', :method => :post, :class => "btn btn-grey q_#{question.id}" %>
  </div>

<% end %>



