<% if behaviour.present? %>
  <%= hidden_field_tag "questions[]", behaviour.id  %>
  <div class="category-circle category-circle-<%= category %>"></div>

  <p><%=  current_child.replace_forms(behaviour.step3_question) %></p>
  <div class="seen-btn-wrapper">
    <%= link_to "I've seen this", api_v1_update_seen_path(:behaviour => behaviour.id, :start_age => @q_age, :value => 1), :remote => true, :disable_with => 'Please wait...', :method => :post, :class => "btn q_#{behaviour.id}" %>
    <%= link_to "I haven't seen this yet", api_v1_update_seen_path(:behaviour => behaviour.id, :start_age => @q_age, :value => 0), :remote => true, :disable_with => 'Please wait...', :method => :post, :class => "btn btn-grey q_#{behaviour.id}" %>
  </div>


  <script type="text/javascript">
    $(function() {
        $('.preloader').fadeOut().hide();
        });
  </script>

<% else %>

  <p>No more questions found for <%= category_name(category) %> category.</p>
  <script type="text/javascript">
    $(function() {
        $('.preloader').fadeOut().hide();
        });
  </script>

<% end %>



