<%= form_tag add_timeline_entry_path do %>
    <%= hidden_field_tag "entry_type", type %>
    <%=
        case type
          when "play"
            render :partial => "timeline/play_fields"
          when "watch"
            render :partial => "timeline/watch_fields"
          when "reflect"
            render :partial => "timeline/reflect_fields"
          when "likes"
            render :partial => "timeline/likes_fields"
          when "dislikes"
            render :partial => "timeline/dislikes_fields"
          else
        end
    %>
        

    <p><%= text_area_tag "details", nil, :placeholder => "add more details here...", :class => "row" %></p>

    <%= submit_tag "Post", :class => 'btn' %>
    <div id="entry-image-uploader-<%= type %>" class="entry-image-uploader"></div>
    <div class="img-wrapper"></div>

    <div class="clear"></div>
    
    
    <script type="text/javascript">
      var key_t = '<%= Rails.application.config.session_options[:key] %>';
      var forg_prot = "<%= form_authenticity_token %>";

      $(function() {
        var uploader_<%= type %> = new qq.FileUploader({
            element: document.getElementById('entry-image-uploader-<%= type %>'),
            action: '<%= create_photo_children_path -%>',
            params: { key : key_t, "<%= request_forgery_protection_token %>" : forg_prot },
            onSubmit: function() {
              var prev_img = $(this.element).parents('.tab').find('.img-wrapper input[type="hidden"]').val();
              if(prev_img) uploader_<%= type %>.setParams({ previous_img : prev_img,
              key : key_t, "<%= request_forgery_protection_token %>" : forg_prot });
            },
            onComplete: function(id, fileName, responseJSON){

              $('.qq-upload-list li').each(function() {
                if($(this).find('.qq-upload-file').text() == fileName);
                $(this).fadeOut('slow');
              });

              var img = document.createElement('img');
              img.src = responseJSON.img_url;
              var hidden = document.createElement('input');
              hidden.type = "hidden";
              hidden.value = responseJSON.media_id;
              hidden.name = "media_id"

              $('#entry-image-uploader-<%= type %>').parents('.tab').find('.img-wrapper').html("").append(img).append(hidden);
            }
        });
      });
    </script>


<% end  %>


