<% content_for :middle_bar do %>
  <div id="timeline-notice" class="round-corners">
    <img src="/images/child_head_small.png" />
    <span><%= current_child.first_name %> has already "<%= @child_has_str %>" , "<%= @child_has_weak %>"</span>
  </div>

<% end %>

  <div id="timeline-wrapper">
    <div id="timeline-left">
      <div id="drop_list">              
                <%= select_tag "people", options_for_select(@children.map { |c| ["#{c.first_name}'s Profile", c.id] }.insert(0, ["Select baby", nil])), {:onChange => "changeChild(this);" } -%>                
      </div>

      <div class="child-image-large shadow round-corners" style="<%= "background-image: url(#{@selected_child.get_image_src(:profile_large, " ")})" %>"></div>

      <div id="add-entry-tabs">
        <ul>
          <li><a href="#add-play">Play</a><span class="vertical-alignment"></span></li>
          <li><a href="#add-watch">Watch</a><span class="vertical-alignment"></span></li>
          <li><a href="#add-reflect">Ask a Question</a><span class="vertical-alignment"></span></li>
          <li><a href="#add-likes">Likes</a><span class="vertical-alignment"></span></li>
          <li><a href="#add-dislikes">Dislikes</a><span class="vertical-alignment"></span></li>
        </ul>

        <div id="add-play" class="tab">
          <div class="arrow-pointer"></div>
          <div class="add-entry-content">
            <%= render :partial => 'form', :locals => { :type => "play" } %>
          </div>
        </div>
        <div id="add-watch" class="tab">
          <div class="arrow-pointer"></div>
          <div class="add-entry-content">
            <%= render :partial => 'form', :locals => { :type => "watch" } %>
          </div>
        </div>
        <div id="add-reflect" class="tab">
          <div class="arrow-pointer"></div>
          <div class="add-entry-content">
            <%= render :partial => 'form', :locals => { :type => "reflect" } %>
          </div>
        </div>
        <div id="add-likes" class="tab">
          <div class="arrow-pointer"></div>
          <div class="add-entry-content">
            <%= render :partial => 'form', :locals => { :type => "likes" } %>
          </div>
        </div>
        <div id="add-dislikes" class="tab">
          <div class="arrow-pointer"></div>
          <div class="add-entry-content">
            <%= render :partial => 'form', :locals => { :type => "dislikes" } %>
          </div>
        </div>
      </div>
    </div>

    <ul id="timeline-right">
      <% @timeline_entries.each do |te| %>
      <li class="single-timeline-entry">
          <span class="entry-avatar round-corners"><%= image_tag te.user.get_image_src(:profile_small, ' ') if te.user.present?  %></span>
          <div class="single-timeline-entry-inner">
            <div class="te-arrow-left"></div>
            <div class="te-box">
              <div class="te-header">
                <span class="te-category">
                  <%= image_tag "/images/icon_teal_#{te.category}.png" if te.category%>                  
                  <p><%= category_name(te.category) if te.category %></p>
                </span>
                <span class="te-date">
                  <%= te.published %>
                </span>
                <span class="te-title">
                  <%= te.title %>
                </span>                               
                <div class="clear"></div>
                <% if  te.description.present? %>
                  <div class="timeline-desc"><%= te.description %></div>
                <% end %>
              </div>

              <div class="te-image-wrapper">
                <%= image_tag te.media.first.image.url(:attachment_large), :class => "round-corners" if te.media.present? %>                
              </div>

              <div class="te-comments">
                <%= form_tag add_timeline_comment_path, :class => "comment-form" do %>
                  <%= submit_tag "Post comment", :class => "comment-balloon" %>
                  <%= hidden_field_tag "te_id", te.id %>
                  <%= text_field_tag "text", nil, :id => "comment-input-#{te.id}", :class => "comment-input"  %>
                  <%= link_to "Add new entry", "#", :class => "timeline-btn" %>
                <% end %>
                <div class="comments-wrapper">
                  <% te.comments.reverse.each do |c| %>
                      <div class="single-comment">
                        <span class="comment-author-img">
                          <%= image_tag c.author.profile_media.image.url(:profile_tiny), :class => "round-corners" if c.author.profile_media  %>                          
                        </span>
                        <span class="comment-date"><%= c.published %></span>                        
                        <span class="comment-content"><span class="comment-author-name"><%= c.author.get_user_name %>: </span><%= c.text %></span>
                      </div>
                  <% end %>

                </div>
              </div>
                
            </div>
            
          </div>
      </li>
      <% end %>
      <li class="single-timeline-entry">
        <span class="entry-avatar round-corners"><%= image_tag @selected_child.media.image.url(:profile_small), :class => "entry-avatar round-corners" if @selected_child.media.present? %></span>
        <div class="single-timeline-entry-inner">
            <div class="te-arrow-left te-arrow-join"></div>
            <div class="te-box te-box-join">
                <span class="te-joined-image">
                  <img src="/images/timeline_joined_icon.png" />
                </span>
                <span class="joined-date"><%= current_child.joined %></span>
                <span class="te-title"><%= current_child.first_name %> started <%= current_child.replace_forms("#his/her#") %> BabyFolio.</span>
            </div>
        </div>
      </li>
    </ul>

    <div id="timeline-info-dialog" class="hidden">
      <div id="timeline-info-popup-inner">
            <h4 class="arvo">Hey there!</h4>
            <p>Feel free to write about a time your baby exhibited a behavior listed in the timeline.  Just click on the timeline icon to begin!</p>
            <p><img src="/images/timeline_active.png"/></p>
      </div>
    </div>
  </div>

  
  <script type="text/javascript">
    $(function() {
      $('#add-entry-tabs').tabs({active: 0});

      <% unless @timeline_visited %>
        $('#timeline-info-dialog').dialog({modal: true});
      <% end %>
    });




    function changeChild(item) {
      if($(item).val()) {
        document.location = '/timeline/' + $(item).val();
      }
      return false;
    }
  </script>

