<style type="text/css">

  div.column {float:left;padding-right:60px}
  .file-error {color:red; font:14px arial;}
  .error label {color:red}
  .error input[type=text] {border-color:red}
  label {width:100px;text-align:right;display:inline-block;font: 14px arial;}
  input[type=text] {font: 14px arial;color: #898989;padding: 7px 0 7px 11px;border: 1px solid #DBD4AF ;border-radius:8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;behavior: url(PIE/PIE.htc);width:204px}
  textarea {font: 14px arial;color: #898989;padding: 7px 0 7px 11px;border: 1px solid #DBD4AF ;border-radius:8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;behavior: url(PIE/PIE.htc);width:204px}
  input[type=submit],
  .preview-btn  {background: url('/images/button.png'); width:140px;height:53px;border:none;color:white; font: 16px/53px 'helvetica_seven';text-align:center; cursor: pointer;display:block;text-decoration:none}
  
</style>

<%= form_tag upload_new_vimeo_url, :multipart => true do %>
  <div class="column">
    <%= label_tag :file, "Select vide" -%>
    <%= file_field_tag :file %>
    <% if @error %>
      <div class="file-error">Field cant't be blank</div>
    <% end %>
  </div>

  <div class="column">
    <%= submit_tag "Upload" %>
  </div>
<% end %>

<%= javascript_include_tag 'jquery' -%>
<script type="text/javascript">
  $('.upload-submit').click(function(){
    if ($('input[type=file]').val() == '') {      
      $('.file-error').show();
      return false
    }
  })
</script>
