<div class="upload-vimeo-container">
  
  <%= form_tag registration_add_videos_upload_vimeo_url, :class => "vimeo-upload-form" , :multipart => true, :remote => true do %>

    <div class="column">
      <%= submit_tag "Upload", :class =>  "registration-submit-button"%>
    </div>

    <div class="column">
      <div class="row">
        <%= label_tag :file, "Select video: " -%>
        <%= file_field_tag :file %>
      </div>
      <div class="row">
        <%= label_tag :title, "Video title: " -%>
        <%= text_field_tag :title, "", :id => ""  -%>
      </div>
      <% if @error %>
        <div class="file-error"><%=  @error -%></div>
      <% end %>
    </div>

    <div class="clear"></div>
  <% end %>
  
</div>

