<div class="imported-message">Vimeo videos imported</div>
<div class="preloader"></div>

<div class="vimeo-container">
  <div class="header">
    <span class="logo">From Vimeo</span>
  </div>

  <% if current_user.has_vimeo_account? %>
  
  <%#*<div class="upload">%>
    <%#*<iframe src="<%= new_vimeo_url " width="720px" height="200px" scrolling="no"></iframe>%>
  <%#*</div>%>

  <div class="vimeo">
    <%= form_tag registration_add_videos_import_media_url, :class => "select-videos", :remote => true do -%>
      <%= hidden_field_tag :child_id,'', :class => "child-id" -%>

      <div class="buttons-container">
        <%= select_tag :visiblity, options_for_select(Moment::VISIBILITY) -%>
        <%= submit_tag 'Import Videos', :class => 'registration-submit-button' -%>
        <a class="registration-submit-button" href="#" onclick="go_to_vimeo_upload();return false;">Upload new video</a>
      </div>
    
      <div class="vimeo-grid">


          <% current_user.get_vimeo_videos.each do |video| %>
            
            <span class="video vimeo-video" id="<%= video["id"] -%>" onclick="select_vimeo_video(this);return false;">
              
              <div>
                <div class="checkbox-radiobutton">
                   <%= check_box_tag 'vimeo_videos[]', video["id"] %>
                   <%= hidden_field_tag 'media_titles[]', video["title"] %>
                </div>
                <div class="thumb">                  
                  <%= image_tag video["thumbnails"]["thumbnail"][1]["_content"] %>
                </div>
                <div class="title">
                  <span class="media_title_text hidden"><%= video["title"] %></span>
                  <%= truncate(video["title"], :length => 20) -%> <%= "(processing)" if video["is_transcoding"] == "1" -%>
                </div>
              </div>
            </span>

          <% end %>

      </div>
      <div class="clear"></div>
    
    <% end %>

  </div>

  <% else %>

    <%= render :partial => 'shared/services_connect', :locals => {:service => 'vimeo'} %>

  <% end %>
</div>

