<div class="photos">

<div class="header">
  <h2>Photos</h2>
  <a href="#" onclick="">Back to albums</a>
  <div class="clear"></div>
</div>

<% @photos.each do |photo| %>
  <%# index = photo.images.index {|img| img.width <= 180} %>
      <span class="image facebook-image" id="<%= photo.identifier %>" url="<%= photo.source %>" thumb_url="<%= photo.images[-2].source %>">
    <div class="thumb" style="background-image: url('<%= photo.images[-2].source %>')">
    </div>
    <div class="title">
      <span class="media_title_text hidden"><%= photo.name %></span>
      <%= truncate(photo.name, :length => 10) %>
    </div>
  </span>

<% end %>

</div>


