<div class="imported-message">Facebook images imported.</div>
<div class="preloader">
</div>
<span class="logo">From Facebook</span>
<% if current_user.has_facebook_account? %>
  <%= form_tag registration_add_photos_import_media_url, :remote => true do -%>
  <%= hidden_field_tag "child_id" -%>
  <div class="facebook">

    <span id="facebook-ajax-grid"  class="facebook-grid">

	  <%= render :partial => 'registration/upload_photos/facebook/albums' %>

    </span>

    <div class="clear"></div>

  </div>
  <% end %>
<% else %>

  <%= flash[:facebook_error] %>  
  <%= render :partial => 'shared/services_connect', :locals => {:service => 'facebook'} %>

<% end %>
