<p class="hint">(<b class="red">*</b> - Required Fields.)</p>
<h2>BASICS</h2>

<%= form_for([:admin, @user]) do |f| %>
  <fieldset class="basics">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this admin_blog from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= f.label :email %>
      <%= f.text_field :email, :size => 30 %>
      <span class="red">*</span>
    </div>

    <div class="row">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :size => 30 %>
    </div>

    <div class="row">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :size => 30 %>
    </div>

    <div class="row">
      <%= f.label :password %>
      <%= f.password_field :password, :size => 30 %>
      <span class="red">*</span>
    </div>

    <div class="row">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :size => 30 %>
      <span class="red">*</span>
    </div>
  </fieldset>

  <% unless @parenting_families.blank? %>
    <h2>FAMILIES WHERE <%= @user.email -%> IS PARENT</h2>
    <fieldset class="options">
      <ul class="list-container">
        <% @parenting_families.each do |family| -%>
            <li>
              <%= link_to raw("<b>#{family.name}'s</b> family and children: #{(family.children.collect {|child| child.first_name}).join(', ')}"), edit_admin_family_path (family.id) -%>
            </li>
        <% end %>
      </ul>
    </fieldset>
  <% end %>
  <% unless @friend_families.blank? %>
    <h2>FRIEND FAMILIES</h2>
    <fieldset class="options">
      <ul class="list-container">
        <% @friend_families.each do |family| -%>
            <li>
              <%= link_to raw("<b>#{family.name}'s</b> family and children: #{(family.children.collect {|child| child.first_name}).join(', ')}"), edit_admin_family_path (family.id) -%>
            </li>
        <% end %>
      </ul>
    </fieldset>
  <% end %>




  <%= link_to 'Back', admin_users_path, :class => 'btn gray' %><br />
  <input type="submit" value="Update User" />
<% end %>

