<div id="all_products" class="float-none">
  <h1><%= @title -%></h1>

  <div class="pagination">
    <i><%= @users.count -%> Users</i> <%= will_paginate @users, :container => false, :previous_label => '', :next_label => '', :separator => " | " -%>
  </div>

  <table class="products">
    <thead>
      <tr>
        <th></th>
        <th><%= sort_link 'FIRST NAME', 'users.first_name'  -%></th>
        <th><%= sort_link 'LAST NAME', 'users.last_name' -%></th>
        <th><%= sort_link 'EMAIL', 'users.email' -%></th>
        <th>CONFIRMED</th>
        <th><%= sort_link 'CREATED DATE', 'users.created_at' -%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= get_image_tag user, "small" %>
          </td>
          <td><a href="<%= edit_admin_user_path(user) -%>"><%= user.first_name -%></a></td>
          <td><a href="<%= edit_admin_user_path(user) -%>"><%= user.last_name -%></a></td>
          <td><a href="<%= edit_admin_user_path(user) -%>"><%= user.email -%></a></td>
          <td><%= user.email_confirmed ? "yes" : "no" -%></td>
          <td><%= user.created_at.to_date -%></td>
          <td>
              <div class="action">
                <span>Action</span>
                <div>
                  <ul>
                    <li>Action</li>
                    <li><%= link_to 'Edit', edit_admin_user_path(user) %></li>
                  </ul>
                </div>
              </div>
            </td>
        </tr>
      <% end %>


    </tbody>
  </table>

</div>



