<div id="all_products" class="float-none">
  <h1><%= @title -%></h1>

  <div class="pagination">
    <i><%= @logs.count -%> Logs</i> <%= will_paginate @logs, :container => false, :previous_label => '', :next_label => '', :separator => " | " -%>
  </div>

  <table class="products">
    <thead>
      <tr>
        <th>ID</th>
        <th>DATE</th>
        <th>DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <% @logs.each_with_index do |log, index| %>
        <tr class="<%= index%2 == 0 ? "even" : "odd" -%>">
          <td><%= "##{log.id}" -%></td>
          <td><%= log.created_at -%></td>
          <td><%= log.description.html_safe -%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



