<div class="photos">

<div class="header">
  <h2>Photos</h2>
</div>

<% photos.each do |photo| %>

  <%#= image_tag FlickRaw.url(photo) %>
  <%#= image_tag FlickRaw.url_m(photo) %>
  <%#= image_tag FlickRaw.url_s(photo) %>
  <%#= image_tag FlickRaw.url_t(photo) %>
  <%#= image_tag FlickRaw.url_b(photo) %>
  <%#= image_tag FlickRaw.url_z(photo) %>
  <%#= image_tag FlickRaw.url_g(photo) %>
  <%#= image_tag FlickRaw.url_n(photo) %>
  <%#= image_tag FlickRaw.url_c(photo) %>
  <%#= image_tag FlickRaw.url_o(photo) %>

  <span class="image flickr-image" id="<%= photo.id %>" url="<%= FlickRaw.url_b(photo) %>" thumb_url="<%= FlickRaw.url_s(photo) %>" large_url="<%= FlickRaw.url(photo) -%>">
    <div class="thumb" style="background: url('<%= FlickRaw.url_s(photo) %>') no-repeat 50% 50%">
    </div>
    <div class="title">
      <span class="media_title_text hidden"><%= photo.title %></span>
      <%= truncate(photo.title, :length => 10) %>
    </div>
  </span>

<% end %>
  <div class="back-button">
    <a href="#" onclick="$.get('<%= sets_flickr_index_url %>',function(data){$('#flickr-ajax-grid').html(data);$('#flickr-ajax-container .preloader').stop().fadeOut(); $('#top-socials-navigation .provider[provider=uploaded-images]').show();});return false;"><< Back</a>
  </div>
</div>
