<html>
  <head>
    <title><%= @activity ? @activity[:title] : "Play" %></title>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div id="bf-mobile">
      <div class="play-popup">
        <div class="popup-wrapper">            
          <h4><%= @activity[:title] %></h4>
          <div class="show-future">future activity</div>
          <div class="show-past">completed activity <span><%= current_child.first_name.capitalize %> already did this with you.</span></div>

          <p><%= @activity[:desc_long] %></p>

          <%= format_text(@page.cf("right_sidebar_variations")) -%>
          <ul class="variations">
            <li><%= @activity[:variation1] %></li>
            <li><%= @activity[:variation2] %></li>
          </ul>

          <%= format_text(@page.cf("right_sidebar_what_did_we_just_do")) -%>
          <p><%= @activity[:learning_benefit] %></p>

          <div class="play-final-header">
            <%= format_text(@page.cf("right_sidebar_watch")) -%>
          </div>
          <ul class="play-popup-ms">
            <li><a class="btn" href="<%= api_v1_watch_path(:bid => @activity[:bid])  %>"><%= truncate(@activity[:b_title]) %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
