<% if current_user %>
  
  <p>Hello <%= current_user.get_user_name %>. <%= link_to "Logout", logout_path %></p>
  

<% else  %>
  
  <%= form_for @user_session, :as => :user_session, :url => { :controller => :user_sessions, :action => "create" } do |f| %>
        <span class="field">
          <%= f.text_field :email, :placeholder => "Email" %>
        </span>
        <span class="field">
          <%= f.password_field :password, :placeholder => "Password" %>
        </span>
        <%= f.submit "Login", :class => "btn" %>
  <% end %>
  <p class="forgot-password-link"><a href="<%= new_forgot_password_url %>">Forgot Password?</a></p>
  
<% end %>