<div class="container">
  <div id="title">Login</div>
  <div class="user-form">
    <div id="login_left">
    <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>

      <%= render "shared/error_messages", :target => @user_session %>

      <div class="email row">
        <span class="label">
          <%= f.label :email %>
        </span>
        <span class="field">
          <%= f.text_field :email %>
        </span>
      </div>
      <div class="password row">
        <span class="label">
          <%= f.label :password %>
        </span>
        <span class="field">
          <%= f.password_field :password %>
        </span>
      </div>
      <div class="remember_me row">
        <span class="label">
        </span>
        <span class="field">
          <%= f.check_box :remember_me %>
        </span>
        <span>
          <%= f.label :remember_me %>
        </span>

      </div>
      <div class="submit">
          <%= f.submit "Login" %>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="forgot-link">
      Forgot password or can't log in? <%= link_to 'Click here', new_forgot_password_url -%>.
    </div>    
   </div>
   <div id="login_right">
     Sign in with your facebook account 
     <div id="fblogin_img">
       <%= link_to '/auth/facebook?display=popup', :onclick => "window.open(this.href,'facebook_login','height=300,width=700');return false;" do %>
         <%= image_tag "/images/fblogin.png" %>
       <% end %>
     </div>
   </div>

  </div>
  <div class="clear"></div>


</div>
