<div class="container">
  <div id="title">Login</div>
  <div class="user-form">
    <%= render "shared/error_messages", :target => @user_session %>
    <div id="login_left">
    <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
      <div class="email row">
        <span class="label">
          <%= f.label :email %>
        </span>
        <span class="field">
          <%= f.text_field :email %>
        </span>
      </div>
      <div class="password row">
        <span class="label">
          <%= f.label :password %>
        </span>
        <span class="field">
          <%= f.password_field :password %>
        </span>
      </div>
      <div class="remember_me row">
        <span class="label">
        </span>
        <span class="field">
          <%= f.check_box :remember_me %>
        </span>
        <span>
          <%= f.label :remember_me %>
        </span>

      </div>
      <div class="submit">
          <%= f.submit "Login" %>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="forgot-link">
      Forgot password or can't log in? <%= link_to 'Click here', new_forgot_password_url -%>.
    </div>    
   </div>
   <%#*<div id="login_right">%>
     <%#*Sign in with your facebook account%>
     <%#*<div id="fblogin_link">%>
       <%#= link_to '/auth/facebook?display=popup', :onclick => "open_popup_login(this.href); return false;" do %>
         <%#= image_tag "/images/fblogin.png" %>
       <%# end %>
     <%#*</div>%>
   <%#*</div>%>
   <%#*<div id="or">or</div>%>

  </div>
  <div class="clear"></div>


</div>

<% 
   popup_settings = {
     "height" => 545,
     "width" => 1020,
     "status" => 0,
     "toolbar" => 0
   } 

   settings = popup_settings.collect{|key,value|  key + '=' + value.to_s}.join(',')
%>


<script type="text/javascript">

$(function(){
  $('#user_session_email').focus();
})

function open_popup_login(href) {
  var left = (screen.width - <%= popup_settings["width"] %>)/2;
  var top = (screen.height - <%= popup_settings["height"] %>)/2;
  var text = "facebook_login";
  var settings = "<%= settings -%>, top=" + top + ",left=" + left;

  window.open(href, text, settings);
}

</script>


