<div class="container">
  <div id="title">Login</div>
  <div class="user-form">
    <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>

      <%= render "shared/error_messages", :target => @user_session %>

      <div>
        You might as well sign in using you facebook account: <%= link_to "Singin", "/auth/facebook" %>
      </div>
      <div class="email row">
        <span class="label">
          <%= f.label :email %>
        </span>
        <span class="field">
          <%= f.text_field :email %>
        </span>
      </div>
      <div class="password row">
        <span class="label">
          <%= f.label :password %>
        </span>
        <span class="field">
          <%= f.password_field :password %>
        </span>
      </div>
      <div class="remember_me row">
        <span class="label">
          <%= f.label :remember_me %>
        </span>
        <span class="field">
          <%= f.check_box :remember_me %>
        </span>
      </div>
      <div class="submit">
          <%= f.submit "Login" %>
      </div>
    <% end %>
    <div class="forgot-link">
      <%= link_to 'Forgot Password?', new_forgot_password_url -%> If you can't figure out how to log in, <%= link_to 'click', new_forgot_password_url -%> here to reset your password.
    </div>    
  </div>
  <div class="clear"></div>
</div>