<div class="container settings edit-moment">  
  <%= form_for @moment do |f| %>
    <%= hidden_field_tag 'cid', @moment.child.id %>    
    <div class="left">
      <div class="options">

        <div class="title_property <%= "error" if @moment.errors.any?  %>">
          <%= f.label :title -%>
          <%= f.text_field :title -%>
        </div>
        <div class="date">
          <%= f.label :date, "Date of moment" -%>
          <%= f.date_select :date,{}, {:class => "select-layout"} -%>          
        </div>                
        <% if @milestone %>
          <div class="milestone">
            <div class="lw-title"><%= @milestone.title -%></div>
            <div class="observation-title"><%= @milestone.observation_title -%></div>
            <div class="observation-desc"><%= smart_truncate @milestone.observation_desc, :words => 10  -%><a href="#" class="read-more">(read more)</a></div>
            <div class="milestone-popup">
              <div class="description"><%= @milestone.observation_desc -%></div>
              <div class="button">
                <a href="#" class="button-layout-3">Copy and paste into moment description</a>
              </div>
            </div>
          </div>
          <%= javascript_include_tag 'jqModal' -%>
          <script type="text/javascript">
            $(function(){
              $('.popup').jqm();
              $('.milestone .read-more').click(function(){
                $('.popup').append($('.milestone-popup'));
                $('.popup').css({left: ($(window).width()/2-$('.popup').width()/2),top: ($(window).height()/2-$('.popup').height()/2+$(window).scrollTop())})
                $('.popup').jqmShow();
                return false;
              })
              $('.milestone-popup .button a').click(function(){
                $('textarea#moment_description').val($('.popup .milestone-popup .description').text());
                $('.popup').jqmHide();
                return false;
              })
            })
          </script>

        <% end %>


        <div class="description">
          <%= f.label :description -%>
          <%= f.text_area :description -%>
        </div>

      </div><%# .options %>
    </div><%# .left %>
    <div class="right">
      <div class="media-button-container">
        <div class="header">Add Photo/Video file: </div>
        <span class="image">
          <%= get_moment_thumb f.object.media.first, :moment_thumb %>
        </span>
      </div><%# .media-button-container%>
      <div class="media-container">
        <div class="user-form">
          <div class="media-form-container">
            <div class="media-form">

              <script type="text/javascript">

                function addSelectedImage(object){

                if ($('#selected-media #'+ object.attr('id')).length == 0) {

                if (object.hasClass('facebook-image')){ var input = '<input type="hidden" name="facebook_photos[]" value="'+object.attr('url')+'"/><input type="hidden" name="facebook_pids[]" value="'+object.attr('id')+'"/><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>'; var type = 'image';}
                else if (object.hasClass('flickr-image')){var input = '<input type="hidden" name="flickr_photos[]" value="'+object.attr('url')+'"/><input type="hidden" name="flickr_pids[]" value="'+object.attr('id')+'"/><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>';var type = 'image';}
                else if (object.hasClass('vimeo-video')){var input = '<input type="hidden" name="vimeo_videos[]" value="'+object.attr('id')+'" /><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>'; var type = 'video';}
                else if (object.hasClass('youtube-video')){var input = '<input type="hidden" name="youtube_videos[]" value="'+ object.attr('id') +'" /><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>'; var type = 'video';}
                else {var input = '<input type="hidden" name="uploaded_images_pids[]" value="'+object.attr("id")+'"/>';var type = 'image';}


                var clone = object.clone();
                clone.append(input);
                clone.attr("type",type);
                $('#selected-media .selected-container').append(clone);

                }

                }

                $('#selected-media .selected-container > span').live('click',function(){
                  $(this).remove();
                })

              </script><%# script %>

              <div class="preloader media-form-preloader"></div>

              <div class="provider-container multiselect" id="uploaded-images-ajax-container" class="">
                <%= render :partial => 'uploaded_images/select_uploaded_images', :locals => { :is_edit_moment => true } %>
              </div>

              <div class="provider-container multiselect" id="facebook-ajax-container"></div>
              <div class="provider-container multiselect" id="flickr-ajax-container"></div>
              <div class="provider-container multiselect" id="vimeo-ajax-container"></div>
              <div class="provider-container multiselect" id="youtube-ajax-container"></div>

            </div><%# .media-form %>
          </div><%# .media-form-container %>
          <div id="top-socials-navigation">
            <div class="title">Import from another site:</div>
            <div><a href="#" class="provider active" provider="uploaded-images" onclick="back_to_uploaded(this);return false;"><< Back</a></div>
            <div><a href="#" class="provider is_edit_moment" provider="facebook" onclick="click_provider(this);return false;">From Facebook</a></div>
            <div><a href="#" class="provider is_edit_moment" provider="flickr" onclick="click_provider(this);return false;">From Flickr</a></div>
            <div><a href="#" class="provider is_edit_moment" provider="vimeo" onclick="click_provider(this);return false;">From Vimeo</a></div>
            <div><a href="#" class="provider is_edit_moment" provider="youtube" onclick="click_provider(this);return false;">From Youtube</a></div>
          </div><%# #top-socials-navigation %>

        </div><%# .user-form %>
        <div id="selected-media">
          <h2 class="no-media">Selected:</h2>
          <div class="selected-container">
            <% @moment.media.each do |media_item| %>
              <%= render :partial => "shared/selected_media", :locals => {:media_item => media_item} %>
            <% end %>
          </div>
          <div class="clear"></div>
        </div><%# .selected-media %>
      </div><%# .media-container %>      
    </div><%# .right %>

    <div class="clear"></div>

    
    <%= hidden_field_tag :operation_type, "" -%>
    
    <div class="categories">
      <div id="mom_tags_header">This moment is primarily about:</div>

      <% @moment_tags.each do |mt|  %>
        <div class="category">
          <div class="label
                      <%= 'checked' if @moment.moment_tags.main_level.include?(mt) -%>
                      <%= 'disabled' unless (mt.children_tags & @moment.moment_tags).blank?  -%>
          ">

              <span class="check-image"></span>
              <%= check_box_tag "moment_tag_ids[]", mt.id, (true if @moment.moment_tags.main_level.include?(mt)) -%>
              <span class="moment-tag-name"><%= mt.name %> </span>

          </div>
        </div><%# .category %>
      <% end %>

      <script type="text/javascript">
        function checkAll(){
          $('.categories .category input[type="checkbox"]').attr("checked",true);
          $('.categories .category .label').addClass('checked');
        };

        $(function(){
          $('.categories .category .label').click(function(){
            if (!$(this).hasClass('disabled')) {
              if ($(this).find('input').attr('checked')) {

                $(this).removeClass('checked');
                $(this).find('input').attr('checked',false)

              } else {

                $(this).addClass('checked');
                $(this).find('input').attr('checked',true)
                
              }
            }
          })
        })
      </script>
      <div class="check-all">
        <a href="#" onclick="checkAll();return false;" class="button-layout-3">Select All</a>
      </div><%# .check-all %>
    </div><%# .categories %>
    <div class="more-button">
      <a href="#" class="button-layout-3">More detail about the moment</a>
    </div> <%# .more-button %>
    <div class="privacy">
        <%= f.label :visibility, "Privacy level" -%>
        <%= f.select :visibility, options_for_select(Moment::VISIBILITY, @moment.visibility), {}, { :class => "select-layout" } -%>
    </div><%# .privacy %>
    <div class="submit-container">
      
      <span class="submit_wrapper"><%= f.submit "Save moment", :class => "new_moment_submit" -%></span>
      <% unless current_user.is_temporary %>
        <span class="submit_wrapper"><%= link_to "Tag it", "#", :class => "new_moment_submit hidden", :onclick => "$('input[name=operation_type]').attr('value','tag_it');$('form').submit();return false;" -%></span>
        <span class="submit_wrapper"><%= link_to "Deepen it", "#", :class => "new_moment_submit hidden", :onclick => "$('input[name=operation_type]').attr('value','deepen_it');$('form').submit();return false;" -%></span>
        <span class="submit_wrapper"><%= link_to "Connect it", "#", :class => "new_moment_submit hidden", :onclick => "$('input[name=operation_type]').attr('value','connect_it');$('form').submit();return false;" -%></span>
      <% end %>
    </div><%# .submit-container %>
    <div class="clear"></div>
  <% end %>

  <script type="text/javascript">

    $(function(){

    $('.media-button-container').click(function(){
      $(this).fadeOut('fast',function(){
        $('.media-container').fadeIn();
      })
    })

    $('.categories').data("height",$('.categories').height());
    $('.categories').css({height: 0,paddingTop:0,paddingBottom:0});
    $('.submit_wrapper .hidden').hide();
    $('.more-button a').click(function(){      
      if ($(this).data("visible")) {        
        $('.categories').stop().animate({height: 0, paddingTop: 0, paddingBottom: 0});
        $(this).data("visible", false);
        $(this).css({backgroundPosition: "100% -20px"}).text("More detail about the moment");
        $('.submit_wrapper .hidden').fadeOut();
        //
      } else {
        $(this).data("visible", true);
        $('.categories').show().stop().animate({height: $('.categories').data("height"), paddingTop: 25, paddingBottom: 25});
        $(this).css({backgroundPosition: "100% 0px"}).text("Less detail about the moment");;
        $('.submit_wrapper .hidden').fadeIn();
        //
      }
      return false;
    })
    
    /* flickr, facebook, vimeo */

      $('.flickr .flickr-grid .photos .back-button, .facebook .facebook-grid .photos .back-button').live("click",function(){
        $(this).parents('.provider-container').find('.preloader').stop().show().css({opacity: 0}).animate({opacity: 0.8});        
      })

      $('.flickr .flickr-grid .sets .image, .facebook .facebook-grid .sets .image').live("click",function(){
        $(this).parents('.provider-container').find('.preloader').stop().show().css({opacity: 0}).animate({opacity: 0.8});
        
      })
      $('.multiselect .flickr .flickr-grid .photos .image, .multiselect .facebook .facebook-grid .photos .image, .multiselect .vimeo .video, .multiselect .youtube .video').live("click",function(){
          addSelectedImage($(this));
      });
    
      $('.vimeo-container .header a.upload-link').live('click',function(){
        $(this).parents('.vimeo-container').find('.upload').css({height: 0}).show().animate({height: 80});
        $(this).hide();
        $(this).parents('.vimeo-container').find('.header .close-btn').show();
        return false;
      })
      $('.vimeo-container .header .close-btn').live('click',function(){
          $(this).parents('.vimeo-container').find('.upload').stop().animate({height: 0}, function(){$(this).hide(); })
          $(this).hide();
          $(this).parents('.vimeo-container').find('.header .upload-link').show();
          return false;
      })
      $('.youtube-container .header a.upload-link').live('click',function(){
        $(this).parents('.youtube-container').find('.upload').css({height: 0}).show().animate({height: 150});
        $(this).hide();
        $(this).parents('.youtube-container').find('.header .close-btn').show();
        return false;
      })
      $('.youtube-container .header .close-btn').live('click',function(){
          $(this).parents('.youtube-container').find('.upload').stop().animate({height: 0}, function(){$(this).hide(); })
          $(this).hide();
          $(this).parents('.youtube-container').find('.header .upload-link').show();
          return false;
      })
      
    });

    function click_provider(object) {

      if ($(object).hasClass('provider')){

        $('#top-socials-navigation .provider').not(object).removeClass('active');
        $(object).addClass('active');

        provider = $(object).attr('provider');
        $('.edit-moment .user-form #top-socials-navigation a').hide();
        $('.edit-moment .user-form #top-socials-navigation a[provider=uploaded-images]').show();
        $('.edit-moment .user-form #top-socials-navigation .title').hide();
        if ($(".media-form #"+provider+"-ajax-container *").length > 0) {

          $(".provider-container").not("#"+provider+"-ajax-container").hide();
          $("#"+provider+"-ajax-container").show();

        } else {

          $('.provider').animate({opacity:0.2});
          $('.provider').removeClass('provider');

          $('.media-form .media-form-preloader').css({opacity:0}).show().animate({opacity:0.8});
          $.post("<%= change_provider_new_moment_path -%>",{provider: provider},function(data){

            $('.media-form .preloader').stop().fadeOut();
            $(".media-form #"+ provider +"-ajax-container").html(data);
            $(".provider-container").not("#"+provider+"-ajax-container").hide();
            $("#"+provider+"-ajax-container").show();
            $("#top-socials-navigation a").addClass('provider');
            $('.provider').animate({opacity:1});

          });
        }
      }
    }

    function back_to_uploaded(object) {
      $('.edit-moment .user-form #top-socials-navigation a').show();
      $('.edit-moment .user-form #top-socials-navigation .title').show();
      $(object).hide();
      $('#top-socials-navigation .provider').not(object).removeClass('active');
      $(object).addClass('active');
      provider = $(object).attr('provider');
      $(".provider-container").not("#"+provider+"-ajax-container").hide();
      $("#"+provider+"-ajax-container").show();
    }
  </script><%# script %>  

</div>

