<div class="container settings edit-moment">


  <%= form_for @moment do |f| %>
    <%= hidden_field_tag 'cid', @moment.child.id %>
    <div class="options">

      <div class="title_property <%= "error" if @moment.errors.any?  %>">
        <%= f.label :title -%>
        <%= f.text_field :title -%>
      </div>

      <div class="date">
        <%= f.label :date -%>
        <%= f.text_field :date, :readonly => true, :class => 'moment_date_input' -%>
      </div>

      <div class="clear"></div>

      <table class="description">
        <tr>
          <td>
            <%= f.label :description -%>
          </td>
          <td>
            <%= f.text_area :description -%>
          </td>
        </tr>
      </table>

    </div>

  <%# categories section %>

    <div class="categories">
      <div id="mom_tags_header">This moment is primarily about:</div>

      <% @moment_tags.each do |mt|  %>
      <div class="category">
        <div class="label 
                    <%= 'checked' if @moment.moment_tags.main_level.include?(mt) -%>
                    <%= 'disabled' unless (mt.children_tags & @moment.moment_tags).blank?  -%>
        ">

            <span class="check-image"></span>
            <%= check_box_tag "moment_tag_ids[]", mt.id, (true if @moment.moment_tags.main_level.include?(mt)) -%>
            <span class="moment-tag-name"><%= mt.name %> </span>
            
        </div>
      </div>      
      <% end %>      

      <script type="text/javascript">
        function checkAll(){
          $('.categories .category input[type="checkbox"]').attr("checked",true);
          $('.categories .category .label').addClass('checked');
        };
        
        $(function(){
          $('.categories .category .label').click(function(){
            if (!$(this).hasClass('disabled')) {
              if ($(this).find('input').attr('checked')) {
                $(this).removeClass('checked');
                $(this).find('input').attr('checked',false)
              } else {
                $(this).addClass('checked');
                $(this).find('input').attr('checked',true)
              }
            }
          })
        })
      </script>
      <div class="check-all">
        <a href="#" onclick="checkAll();return false;">Select All</a>
      </div>
    </div>

    <div class="clear"></div>


    <div id="left">

      <div id="selected-media">
        <h2 class="no-media">Selected</h2>
        <% @moment.media.each do |media_item| %>
          <%= render :partial => "shared/selected_media", :locals => {:media_item => media_item} %>

        <% end %>
      </div>

    </div>

    <div class="user-form">
      <div id="top-socials-navigation">
        <a href="#" class="provider active" provider="uploaded-images">Uploaded Photos</a>
        <a href="#" class="provider" provider="facebook">Facebook</a>
        <a href="#" class="provider" provider="flickr">Flickr</a>
        <a href="#" class="provider" provider="vimeo">Vimeo</a>
        <a href="#" class="provider" provider="youtube">Youtube</a>
      </div>

      <div class="media-form-container">
        <div class="media-form">

          <script type="text/javascript">

            function addSelectedImage(object){

            if ($('#selected-media #'+ object.attr('id')).length == 0) {

            if (object.hasClass('facebook-image')){ var input = '<input type="hidden" name="facebook_photos[]" value="'+object.attr('url')+'"/><input type="hidden" name="facebook_pids[]" value="'+object.attr('id')+'"/><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>'; var type = 'image';}
            else if (object.hasClass('flickr-image')){var input = '<input type="hidden" name="flickr_photos[]" value="'+object.attr('url')+'"/><input type="hidden" name="flickr_pids[]" value="'+object.attr('id')+'"/><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>';var type = 'image';}
            else if (object.hasClass('vimeo-video')){var input = '<input type="hidden" name="vimeo_videos[]" value="'+object.attr('id')+'" /><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>'; var type = 'video';}
            else if (object.hasClass('youtube-video')){var input = '<input type="hidden" name="youtube_videos[]" value="'+ object.attr('id') +'" /><input type="hidden" name="media_titles[]" value="'+object.find('.media_title_text').html()+'"/>'; var type = 'video';}
            else {var input = '<input type="hidden" name="uploaded_images_pids[]" value="'+object.attr("id")+'"/>';var type = 'image';}

            
            var clone = object.clone();
            clone.append(input);
            clone.attr("type",type);
            $('#selected-media').append(clone);

            }

            }

            $('#selected-media > *').live('click',function(){
            $(this).remove();
            })

          </script>

          <div class="preloader media-form-preloader"></div>

          <div class="provider-container multiselect" id="uploaded-images-ajax-container" class="">
            <%= render :partial => 'uploaded_images/select_uploaded_images' %>
          </div>

          <div class="provider-container multiselect" id="facebook-ajax-container"></div>
          <div class="provider-container multiselect" id="flickr-ajax-container"></div>
          <div class="provider-container multiselect" id="vimeo-ajax-container"></div>
          <div class="provider-container multiselect" id="youtube-ajax-container"></div>

        </div>
      </div>

    </div>

    <div class="clear"></div>

    <div class="submit_wrapper"><%= f.submit "Save moment", :class => "new_moment_submit" -%></div>
    <%= hidden_field_tag :operation_type, "" -%>
    <div class="submit_wrapper"><%= link_to "Tag it", "#", :class => "new_moment_submit", :onclick => "$('input[name=operation_type]').attr('value','tag_it');$('form').submit();return false;" -%></div>
    <div class="submit_wrapper"><%= link_to "Deepen it", "#", :class => "new_moment_submit", :onclick => "$('input[name=operation_type]').attry('value','deepen_it');$('form').submit();return false;" -%></div>


  <% end %>

  <script type="text/javascript">

    $(function(){

    $('.moment_date_input').datepicker({ changeYear: true, maxDate: '+0'});
    $('#top-socials-navigation a.provider').click(function(){

    if ($(this).hasClass('provider')){

    $('#top-socials-navigation .provider').not(this).removeClass('active');
    $(this).addClass('active');

    provider = $(this).attr('provider');

    if ($(".media-form #"+provider+"-ajax-container *").length > 0) {

    $(".provider-container").not("#"+provider+"-ajax-container").hide();
    $("#"+provider+"-ajax-container").show();

    } else {

    $('.provider').animate({opacity:0.2});
    $('.provider').removeClass('provider');

    $('.media-form .media-form-preloader').css({opacity:0}).show().animate({opacity:0.8});
    $.post("<%= change_provider_new_moment_path -%>",{provider: provider},function(data){

    $('.media-form .preloader').stop().fadeOut();
    console.log($(".media-form #"+ provider +"-ajax-container"));
    $(".media-form #"+ provider +"-ajax-container").html(data);
    $(".provider-container").not("#"+provider+"-ajax-container").hide();
    $("#"+provider+"-ajax-container").show();
    $("#top-socials-navigation a").addClass('provider');
    $('.provider').animate({opacity:1});

    });

    }

    }
    return false;
    });

    });

  </script>

  <script type="text/javascript" src="/js/facebook_photos.js"></script>
  <script type="text/javascript" src="/js/flickr.js"></script>
  <script type="text/javascript" src="/js/vimeo_videos.js"></script>
  <script type="text/javascript" src="/js/youtube_videos.js"></script>



</div>

