<div id="connect-it" class="container">
  <div id="left">
    <div id="title">Connect it!</div>    
  </div>
  <div id="questionaire" class="user-form">
    <h2>Look for "Story Patterns" between this moment and others</h2>
    
      <%= form_for @moment, :url => update_connect_moments_path do |f|%>
      <% if @moments %>
      <ul class="related-moments">
        <li class="limit-container first visible">
          <ul>
            <% limit = 7 %>
            <% index = 1 %>
            <% @moments.each do |moment| %>
              <%= (raw "</ul></li><li class='limit-container' ><ul>") if index % limit == 0 -%>
              <li class="related-moment">
                <div class="checkbox <%= "checked" if @moment.is_connected_with? moment.id  -%>"><%= check_box_tag "related_moment[]", moment.id, (true if @moment.is_connected_with? moment.id) -%></div>
                <div class="date"><%= moment.date -%></div>
                <div class="title"><%= moment.title -%></div>
                <div class="clear"></div>
              </li>
              <% index += 1 %>
            <% end %>

          </ul>
        </li>
      </ul>
      <% if index > limit %>
        <div class="more-button">
          <a href="#" class="button-layout-2">Show more moments</a>
        </div>
      <% end %>
      
      <% else %>
        There are no moments that you could connect. <%= link_to "Click here", child_new_moment_path(:child_id => @moment.child_id) -%> to create one.
      <% end %>
        
      <%= hidden_field_tag :id, @moment.id -%>
      <%= hidden_field_tag :operation_type, "" -%>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="submit-container">
    <span class="submit-btn"><%= link_to "Save", "#", :onclick => "$('form').submit();return false;" -%></span>
    <span class="submit-btn"><%= link_to "Tag it", "#", :onclick => "$('input[name=operation_type]').attr('value','tag_it');$('form').submit();return false;" -%></span>
    <span class="submit-btn"><%= link_to "Deepen it", "#", :onclick => "$('input[name=operation_type]').attr('value','deepen_it');$('form').submit();return false;" %></span>
    <span class="submit-btn"><%= link_to "Back to Edit" , edit_moment_path(:id => @moment.id) -%></span>
  </div>
</div>

<script type="text/javascript">
  $(function(){

    $('.more-button a').click(function(){
      $('.limit-container.visible').last().next().addClass('visible').slideDown();
      if ( $('.limit-container').not('.visible').length == 0 ) {
        $(this).fadeOut('normal',function(){});
      }
      return false;
    })

    $('.related-moment').click(function(){
      if ($(this).find('input').attr('checked')) {
        $(this).find('input').attr('checked',false);
        $(this).find('.checkbox').removeClass('checked');
      } else {
        $(this).find('input').attr('checked',true);
        $(this).find('.checkbox').addClass('checked');
      }
    })
  })
</script>