<div id="deepen-it" class="container">
  <div id="left">
    <div id="title">Deepen it!</div>    
  </div>
  <div id="questionaire" class="user-form">
    <h2>Fill in some details about the moment</h2>
    <%= form_for @moment, :url => update_deepen_moments_path do |f|%>
    <% is_empty = true %>
    <ul class="fields">      
      <%= f.fields_for :relation_moment_tags do |relation_moment_tag_form| -%>
        <% if relation_moment_tag_form.object.is_last_in_hierarchy %>
          <li class="element">
            
            <h3 class="title"><%= relation_moment_tag_form.object.moment_tag.name  %></h3>
            <div class="text-field">
              <%= relation_moment_tag_form.text_field :description %>
            </div>
            
          </li>
          <% is_empty = false %>
        <% end %>        
      <% end %>      
    </ul>
    <% if is_empty %>
    <div>
      You havn't tagged your moment. <%= link_to "Click here", tag_moments_path(:id => @moment.id) -%> to go to the tag it page.
    </div>
    <% end %>
    <%= hidden_field_tag :id, @moment.id -%>
    <%= hidden_field_tag :operation_type, "" -%>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="submit-container">
    <span class="submit-btn"><%= link_to "Save", "#", :onclick => "$('form').submit();return false;" -%></span>
    <span class="submit-btn"><%= link_to "Tag it", "#", :onclick => "$('input[name=operation_type]').attr('value','tag_it');$('form').submit();return false;" -%></span>
    <span class="submit-btn"><%= link_to "Connect it", "#", :onclick => "$('input[name=operation_type]').attr('value','connect_it');$('form').submit();return false;" -%></span>
    <span class="submit-btn"><%= link_to "Back to Edit" , edit_moment_path(:id => @moment.id) -%></span>
  </div>
</div>

