<div class="container settings">
    <div id="steps">
      <table>
        <tr>
          <td class="title">Step 1:<br/>Create family</td>
          <td class="arrows" ></td>
          <td class="title">Step 2:<br/>Invite Family Members</td>
          <td class="arrows" ></td>
          <td class="title active">Step 3:<br/>Add Photos/Videos</td>
        </tr>
      </table>
    </div>


  <div id="left">
    <div class="title">Step 3: Add Photos/Videos</div>
    <div id="change-form">
      <div class="change-child">
        <h2>Select Child</h2>
        <%= form_tag import_media_moments_path,  :id => "select-child-form" do %>
           <%= select_tag "child_id", options_for_select (@family_children_select, @selected_child.id), :onchange => "$('#select-child-form').submit()" -%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-form">
    <h2>Add media for <%= @selected_child.first_name -%> </h2>
    <%= form_tag create_from_media_moments_url do %>

    <div id="youtube-ajax-container" class="multiselect">
      <%= render :partial => 'youtube/select_youtube_videos' %>
    </div>

    <hr/>

    <div id="vimeo-ajax-container" class="multiselect">
      <%= render :partial => 'vimeo/multiselect_vimeo_videos' %>
    </div>

    <hr/>

    <div id="flickr-ajax-container" class="multiselect ajax-container">
      <%= render :partial => 'flickr/select_flickr_photos'-%>
    </div>

    <hr/>

    <div id="facebook-ajax-container" class="multiselect ajax-container">
      <%= render :partial => 'facebook/select_facebook_photos'-%>
    </div>

    <hr/>
    <%= hidden_field_tag "child_id", @selected_child.id %>
    <div class="submit">
      <%= submit_tag "Add Media" %>
    </div>
    <div class="skip">
      <%= link_to 'Finish', child_profile_children_path %>
    </div>

    <% end %>
  </div>

    <script type="text/javascript" src="/js/youtube_videos.js"></script>
    <script type="text/javascript" src="/js/flickr.js"></script>
    <script type="text/javascript" src="/js/facebook_photos.js"></script>
  <div class="clear"></div>
</div>
