<div class="container settings registration-process">
  <% if flash[:registration] %>
    <%= render "shared/registration_steps", :current_step => 2 %>
  <% end %>

  <div id="left">
    <div class="title">Part B: Add Videos for <%= @selected_child.first_name -%></div>
  </div>

  <div class="user-form">

    <h1>Add Photos:</h1>
    <div class="buttons-container">
      <% unless @next_child.nil? %>
        <%= link_to "Add Images", import_media_moments_path(:child_id => @next_child.id), :class => "submit-button" -%>
        <%= link_to "Skip", import_media_moments_path(:child_id => @next_child.id), :class => "submit-button" -%>
      <% else %>
        <%= link_to "Finish", child_profile_children_path, :class => "submit-button" -%>
      <% end %>
    </div>
  </div>

</div>