<div class="container settings">
  <% if flash[:registration] %>
    <%= render "shared/registration_steps", :current_step => 2 %>
  <% end %>


  <div id="left">
    <div class="title"><%# Step 3: Add Photos/Videos for %>Part A: Add Photos for <%= @selected_child.first_name -%></div>
    <div id="change-form">      
    </div>
  </div>

  <div class="user-form">

    

    

      <div class="socials-container">
        <div id="facebook-ajax-container" class="multiselect ajax-container">
          <%= render :partial => 'registration/upload_photos/facebook/select_facebook_photos'-%>
        </div>

        <hr/>

        <div id="flickr-ajax-container" class="multiselect ajax-container">
          <%= render :partial => 'registration/upload_photos/flickr/select_flickr_photos'-%>
        </div>

      </div>

      <hr/>

      <div id="uploaded-images-ajax-container" class="multiselect">
        <%= render :partial => 'uploaded_images/select_uploaded_images' %>
      </div>


      <hr/>

      <div id="youtube-ajax-container" class="multiselect">
        <%= render :partial => 'youtube/select_youtube_videos' %>
      </div>

      <hr/>

      <div id="vimeo-ajax-container" class="multiselect">
        <%= render :partial => 'vimeo/multiselect_vimeo_videos' %>
      </div>

  </div>
  
  <script type="text/javascript">
    jQuery(function($){

      /************* flickr *************************/

      jQuery('.flickr .image').live({
        mouseover: function(){
            $(this).find('.thumb').stop().animate({opacity: 1});
            $('.flickr .image .thumb').not($(this).find('.thumb')).stop().animate({opacity: 0.5});
        },
        mouseleave: function(){
            $('.flickr .image .thumb').stop().animate({opacity: 1});
        }
      })

      jQuery('.facebook .image').live({
        mouseover: function(){
            $(this).find('.thumb').stop().animate({opacity: 1});
            $('.facebook .image .thumb').not($(this).find('.thumb')).stop().animate({opacity: 0.5});
        },
        mouseleave: function(){
            $('.facebook .image .thumb').stop().animate({opacity: 1});
        }
      })

      $('#flickr-ajax-container form').live("ajax:before",function(){
        flickr_loader_start();
      }).live("ajax:success",function(){
        alert("zaimportowano");
        flickr_loader_stop();
        go_to_flickr_sets();
      })

      $('#facebook-ajax-container form').live("ajax:before",function(){
        facebook_loader_start();
      }).live("ajax:success",function(){
        alert("zaimportowano");
        facebook_loader_stop();
        go_to_facebook_albums();
      })

      /************* facebook ***********************/

      

    })

    /*************** ONCLICK FUNCTIONS **************/

    /*************** flickr *************************/

    function flickr_loader_start(){
      $('#flickr-ajax-container .preloader').stop().show().css({opacity: 0}).animate({opacity: 0.8});
    }
    function flickr_loader_stop(){
      $('#flickr-ajax-container .preloader').stop().fadeOut();
    }
    function go_to_flickr_photos(set_id){
      flickr_loader_start();
      $.post('<%= registration_add_photos_flickr_photos_url %>',{set_id:set_id},function(data){
        $('#flickr-ajax-grid').html(data);
        flickr_loader_stop();
      });
      return false;
    }

    function go_to_flickr_sets(){
      flickr_loader_start()
      $.post('<%= registration_add_photos_flickr_sets_url -%>',function(data){
        $('#flickr-ajax-grid').html(data);
        flickr_loader_stop();
      });
      return false;
    }

    function select_flickr_photo(object){      
      if($(object).find("input").attr("checked")){
        $(object).find("input").attr("checked",false);
        $(object).removeClass('selected');
      } else {
        $(object).addClass('selected');
        $(object).find("input").attr("checked",true);
      }      
    }
    
    /*************** facebook ***********************/
    
    function facebook_loader_start(){
      $('#facebook-ajax-container .preloader').stop().show().css({opacity: 0}).animate({opacity: 0.8});
    }

    function facebook_loader_stop(){
      $('#facebook-ajax-container .preloader').stop().fadeOut()
    }

    function go_to_facebook_photos(album_id){
      facebook_loader_start();
      $.post('<%= registration_add_photos_facebook_photos_url %>',{album:album_id},function(data){
        $('#facebook-ajax-grid').html(data);
        facebook_loader_stop();
      });
      return false;
    }

    function go_to_facebook_albums(){
      facebook_loader_start();
      $.post('<%= registration_add_photos_facebook_albums_url -%>',function(data){
        $('#facebook-ajax-grid').html(data);
        facebook_loader_stop();
      });
      return false;
    }

    function select_facebook_photo(object){
      if($(object).find("input").attr("checked")){
        $(object).find("input").attr("checked",false);
        $(object).removeClass('selected');
      } else {
        $(object).addClass('selected');
        $(object).find("input").attr("checked",true);
      }
    }
  </script>    
    
  <div class="clear"></div>
</div>
