<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Babyfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div id="top">
    <div id="login_box">
      <% unless current_user %>
        <ul>
          <li><%= link_to "login", login_path -%></li>
          <li><%= link_to "sign up",  signup_path -%></li>
        </ul>
      <% else %>
        <ul>
          <li class="avatar"><img src="/images/img_login.jpg" alt="img_login" /></li>
          <li><a href="<%= child_profile_children_path -%>">Hi, <%= current_user.get_user_name -%></a></li>
          <li><span class="border">|</span></li>
          <li class="family-select"><%= render :partial => "shared/user_families_select" %></li>
          <li><span class="border">|</span></li>
          <li><a href="<%= logout_path -%>">Log Out </a></li>
          <li><span class="border">|</span></li>
          <li><a href="<%= edit_account_path -%>">Setting </a></li>
          <li><span class="border">|</span></li>
          <li><a href="#">Tour</a></li>
        </ul>
      <% end %>
    </div>
  </div>
  <div id="header">
    <div id="logo">
      <a href="/"><img src="/images/logo.png" alt="logo" /></a>
    </div>
  </div>
  <div id="wrraper" class="storybook_container">
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] -%>
      </div>
    <% end %>
    <%= yield %>
  </div>


</body>
</html>
