<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Babyfolio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div class="popup"></div>
  <div class="wrapper_container">

      <div id="page-wrapper">
      <div id="top">
        <div id="login_box">
          <% unless current_user %>
            <ul>
              <li><%= link_to "login", login_path -%></li>
              <li><%= link_to "sign up",  signup_path -%></li>
            </ul>
          <% else %>
            <ul>
              <% if !current_user.email_confirmed %>
                <li><%=  link_to "Email not confirmed. (Click here to confirm)", confirmation_url, :class => "italic" %></li>
              <% end %>

              <li class="avatar"><%= get_image_tag current_user, "vsmall" -%></li>
              <li><a href="<%= child_profile_children_path -%>">Hi, <%= current_user.get_user_name -%></a></li>              
              <li><span class="border">|</span></li>
              <li><a href="<%= logout_path -%>">Log Out </a></li>
              <li><span class="border">|</span></li>
              <li><a href="<%= settings_path -%>">Settings </a></li>
              <li><span class="border">|</span></li>
              <li><a href="#">Tour</a></li>
              <% if current_user.is_admin %>
	        <li><span class="border"></span></li>
                <li><a href="<%= admin_dashboard_index_path -%>">Admin</a></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        </div>
      </div>
      <div id="header">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" alt="logo" /></a>
      <div class="info-bar">

          <% if flash[:error] %>
            <div class="error-notice">
              <img src="/images/icon1.png" alt="baby_icon_error" />
          <span><%= flash[:error] -%></span>
        </div>
          <% end %>

          <% if flash[:notice] %>
            <div class="notice">
              <img src="/images/baby_icon_full.png" alt="baby_icon" />
          <span><%= flash[:notice] -%></span>
        </div>
          <% end %>
        <div class="clear"></div>
        <script type="text/javascript">
        $(window).load(function(){
          $('.info-bar').hide().fadeIn(500).delay(5000).fadeOut(500);
        })
        </script>
        </div>
      </div>
      <div id="wrraper" class="storybook_container">
        <% if current_user && current_child %>
          <div id="top-tabs"><a href="#">Timeline</a><a href="#">Play</a><a href="#">Watch</a><a href="<%= child_reflect_children_path %>">Reflect</a></div>
        <% end %>
            
        <%= yield %>
      </div>
    </div>
    <% if params[:action] != "show" and params[:controller] != "children"  %>
      <div id="extra_footer_space"></div>
    <% end %>
  </div>
  <% if params[:action] != "show" and params[:controller] != "children"  %>
    <div id="footer_bg_profile" class="global">
      <div id="footer">
        <div id="footer_left">
          <div id="copyright">
            Copyright &copy; 2011. Baby folio. All rights reserved.
          </div>
          <div id="footer_link">
            <ul>
              <li><a href="/">Home<span>|</span></a></li>
              <li><a href="#">Blog<span>|</span></a></li>
              <li><a href="#">About Us<span>|</span></a></li>
              <li><a href="#">Contact Us<span>|</span></a></li>
              <li><a href="#">Privacy<span>|</span></a></li>
              <li><a href="#">Site Map<span>|</span></a></li>
              <li><a href="#">Resources<span>|</span></a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
        <div id="footer_right">
          <div id="social_links">
            <span>Follow us on</span>
            <ul>
              <li><a href="#"><img src="/images/twitter.png" alt="" /></a></li>
              <li><a href="#"><img src="/images/facebook.png" alt="" /></a></li>
              <li><a href="#"><img src="/images/sweetbook.png" alt="" /></a></li>
              <li><a href="#"><img src="/images/rss.png" alt="" /></a></li>
            </ul>
          </div>
        </div>
        <div id="clear"></div>
      </div>
    </div>
  <% end %>
  <script type="text/javascript">
    function show_notice(str, is_error){
      var notice = document.createElement('div');
      var img = document.createElement('img');
      var span = document.createElement('span');

      if(is_error) {
        $(notice).addClass('error-notice');
        img.src = "/images/icon1.png";
      } else {
        $(notice).addClass('notice');
        img.src = "/images/baby_icon_full.png";
      }     
      img.alt = "Baby icon";
      $(span).text(str);

      $(notice).append(img).append(span);
      $('.info-bar').html(notice);
      $('.info-bar').stop().hide().fadeIn(500).delay(5000).fadeOut(500);
    }

  </script>

</body>
</html>
