<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <%= render :partial => "layouts/analitics_scripts" %>

  <title>Babyfolio</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body id="page-child" class="<%= controller.controller_name %> <%= controller.action_name %>">
    <div id="header">
      <% if current_user && current_child  %>
          <div id="children-drop-list">
                <%= select_tag "people", options_for_select(current_user.children.map { |c| ["#{c.first_name}'s Profile", c.id] }.insert(0, ["Select baby", nil])), {:onChange => "changeChild(this);", :request_uri => request.url } -%>
          </div>
          <span id="header-text"><%= "#{current_child.first_name}'s" %></span>
      <% end %>
      <span id="logo-wrapper"><a href="/">Babyfolio</a></span>
      <div id="login-wrapper">
          <%= render :partial => "user_sessions/login_form" %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="orange-nav">
      <div class="inner-wrapper">
        <ul id="orange-nav-ul">          
          <li id="orange-timeline">Timeline<a href="<%= show_timeline_path  %>" class="<%= 'active' if controller.controller_name == 'timeline' && controller.action_name == "show_timeline" %>"></a></li>
          <li id="orange-play">Play<a href="<%= play_children_path %>" class="<%= 'active' if controller.action_name == "play" %>"></a></li>
          <li id="orange-watch">Watch<a href="<%= watch_children_path %>" class="<%= 'active' if controller.action_name == "watch" %>"></a></li>
          <li id="orange-reflect">Reflect<a href="<%= child_reflect_children_path %>" class="<%= 'active' if controller.action_name == "reflect" %>"></a></li>
          <li id="orange-more"><span id="settings-nav-text">Settings</span><span id="more-arrow"></span><a href="<%= settings_about_path %>"></a>
            <!-- SETTINGS SUBNAV -->
            <!-- SETTINGS SUBNAV -->
            <!-- SETTINGS SUBNAV -->
            <% if current_user %>
                <div class="orange-subnav">
                  <div class="orange-subnav-item">
                    <div class="subnav-header">About me:</div>
                    <% @my_first_family = current_user.get_first_very_own_family %>
                    <% if @my_first_family  %>
                      <a href="<%= settings_about_path %>">My Information</a>
                      <a href="<%= settings_tab_path(:family_id => @my_first_family.id,:tab => "my_family")  %>">My family</a>
                      <a href="<%= settings_tab_path(:family_id => @my_first_family.id,:tab => "family-friends-information") %>">Family and friends information</a>
                    <% else %>
                      <a href="<%= settings_about_path %>">My Information</a>
                      <a href="<%= new_child_children_path(:return_to => request.url) %>">Create own BabyFolio</a>
                    <% end %>
                  </div>

                  <% condition = ["families.id != ?", @my_first_family.id] if @my_first_family %>
                  <% admin_families = current_user.own_families.where(condition).all %>
                  <% if admin_families.present? %>
                      <div class="orange-subnav-item">
                        <div class="subnav-header">Admin of:</div>
                        <% condition = ["families.id != ?", @my_first_family.id] if @my_first_family %>
                        <% admin_families = current_user.own_families.where(condition).all %>
                        <% admin_families.each do |admin_family|%>
                          <a href="<%= settings_path(:family_id => admin_family.id) %>"><%= admin_family.get_display_name(current_user) %>'s  Family</a>
                        <% end %>
                      </div>
                  <% end %>

                  <% member_families = current_user.other_families %>
                  <% if member_families.present? %>
                    <div class="orange-subnav-item">
                      <div class="subnav-header">Member of:</div>
                      <% member_families.each do |member_family|%>
                        <a href="<%= settings_path(:family_id => member_family.id) %>"><%= member_family.get_display_name(current_user) %>'s Family</a>
                      <% end %>
                    </div>
                  <% end %>
                </div>
            <% end %>
            <!-- SETTINGS SUBNAV -->
            <!-- SETTINGS SUBNAV -->
            <!-- SETTINGS SUBNAV -->
          </li>
        </ul>
      </div>
    </div>

   <div id="content-wrapper">
          <div id="middle-bar" class="<%= 'timeline-middle-bar' if controller.controller_name == 'timeline' && controller.action_name == "show_timeline" %>">
            <div class="inner-wrapper">
                  <%= yield :middle_bar %>
            </div>
          </div>

          <div class="inner-wrapper content-inner-wrapper">
            <%= yield %>
            <div class="clear"></div>
          </div>

   </div>

    <div id="footer">
      <div class="inner-wrapper">
        <div id="footer-content">
          <%= link_to "Privacy Policy", privacy_path %>
          <%= link_to "About Us", about_path %>
          <%= link_to "Contact Us", contact_path %>

          <span>Copyright &copy; <%=  Time.now.year %> BabyFolio. All rights reserved. </span>
        </div>
      </div>
    </div>

  <script type="text/javascript">

    $(function() {
      $('select').selectbox();
     // $('.content-inner-wrapper .left-column').height($(document).height() - $('#header').height() - $('#footer').height() - $('#middle-bar').height() - 40);

    });
    
  
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/5SIpu4jSMdIOeghQI3V4NQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();

    function changeChild(item) {
      addr = $(item).attr('request_uri');
      if($(item).val()) {
        document.location = '<%= switch_children_path  %>?child=' + $(item).val() + '&request_uri=' + addr;
      }
      return false;
    }

  </script>
</body>
</html>
